Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-09, with the labels that each got.

#4875 Update font-hackgen-nerd from 2.4.1 to 2.5.1
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#4876 Update font-hackgen from 2.4.1 to 2.5.1
  Casks/font-hackgen.rb
Labels: bump-cask-pr

#4877 Update font-juliamono from 0.041 to 0.042
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#4880 Update font-glow-sans-j-compressed from 0.92 to 0.93
  Casks/font-glow-sans-j-compressed.rb
Labels: bump-cask-pr

#4881 Update font-glow-sans-j-condensed from 0.92 to 0.93
  Casks/font-glow-sans-j-condensed.rb
Labels: bump-cask-pr

#4882 Update font-glow-sans-j-extended from 0.92 to 0.93
  Casks/font-glow-sans-j-extended.rb
Labels: bump-cask-pr

#4883 Update font-glow-sans-j-normal from 0.92 to 0.93
  Casks/font-glow-sans-j-normal.rb
Labels: bump-cask-pr

#4884 Update font-glow-sans-sc-compressed from 0.92 to 0.93
  Casks/font-glow-sans-sc-compressed.rb
Labels: bump-cask-pr

#4886 Update font-glow-sans-sc-condensed from 0.92 to 0.93
  Casks/font-glow-sans-sc-condensed.rb
Labels: bump-cask-pr

#4888 Update font-glow-sans-sc-normal from 0.92 to 0.93
  Casks/font-glow-sans-sc-normal.rb
Labels: bump-cask-pr

#4885 Update font-glow-sans-j-wide from 0.92 to 0.93
  Casks/font-glow-sans-j-wide.rb
Labels: bump-cask-pr

#4889 Update font-glow-sans-sc-wide from 0.92 to 0.93
  Casks/font-glow-sans-sc-wide.rb
Labels: bump-cask-pr

#4892 Update font-glow-sans-tc-normal from 0.92 to 0.93
  Casks/font-glow-sans-tc-normal.rb
Labels: bump-cask-pr

#4891 Update font-glow-sans-tc-extended from 0.92 to 0.93
  Casks/font-glow-sans-tc-extended.rb
Labels: bump-cask-pr

#4890 Update font-glow-sans-tc-compressed from 0.92 to 0.93
  Casks/font-glow-sans-tc-compressed.rb
Labels: bump-cask-pr

#4894 Update font-glow-sans-tc-wide from 0.92 to 0.93
  Casks/font-glow-sans-tc-wide.rb
Labels: bump-cask-pr

#4893 Update font-glow-sans-tc-condensed from 0.92 to 0.93
  Casks/font-glow-sans-tc-condensed.rb
Labels: bump-cask-pr

#4887 Update font-glow-sans-sc-extended from 0.92 to 0.93
  Casks/font-glow-sans-sc-extended.rb
Labels: bump-cask-pr

#4918 Update font-iosevka-ss18 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4917 Update font-iosevka-ss17 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4916 Update font-iosevka-ss16 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4915 Update font-iosevka-ss15 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4914 Update font-iosevka-ss14 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4913 Update font-iosevka-ss13 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4912 Update font-iosevka-ss12 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4911 Update font-iosevka-ss11 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4910 Update font-iosevka-ss10 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4909 Update font-iosevka-ss09 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4908 Update font-iosevka-ss08 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4907 Update font-iosevka-ss07 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4906 Update font-iosevka-ss06 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4905 Update font-iosevka-ss05 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4904 Update font-iosevka-ss04 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4903 Update font-iosevka-ss03 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4902 Update font-iosevka-ss02 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4901 Update font-iosevka-ss01 from 10.1.1 to 10.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4900 Update font-iosevka-slab from 10.1.1 to 10.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4899 Update font-iosevka-etoile from 10.1.1 to 10.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4898 Update font-iosevka-curly-slab from 10.1.1 to 10.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4897 Update font-iosevka-curly from 10.1.1 to 10.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4896 Update font-iosevka-aile from 10.1.1 to 10.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4895 Update font-iosevka from 10.1.1 to 10.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4919 font-cascadia-*: use github_latest livecheck strategy
  Casks/font-cascadia-code-pl.rb
  Casks/font-cascadia-code.rb
  Casks/font-cascadia-mono-pl.rb
  Casks/font-cascadia-mono.rb
Labels: ci-syntax-only, automerge-skip, bump-cask-pr

#4920 Update font-cascadia-code from 2106.17 to 2108.26
  Casks/font-cascadia-code.rb
Labels: bump-cask-pr

#4921 Update font-cascadia-mono from 2106.17 to 2108.26
  Casks/font-cascadia-mono.rb
Labels: bump-cask-pr

#4922 Update font-cascadia-code-pl from 2106.17 to 2108.26
  Casks/font-cascadia-code-pl.rb
Labels: bump-cask-pr

#4923 Update font-cascadia-mono-pl from 2106.17 to 2108.26
  Casks/font-cascadia-mono-pl.rb
Labels: bump-cask-pr

#4924 Update font-gnu-unifont from 13.0.06 to 14.0.01
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#4949 Update font-iosevka-ss18 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4944 Update font-iosevka-ss13 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4940 Update font-iosevka-ss09 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4937 Update font-iosevka-ss06 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4930 Update font-iosevka-etoile from 10.2.0 to 10.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4927 Update font-iosevka-aile from 10.2.0 to 10.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4948 Update font-iosevka-ss17 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4947 Update font-iosevka-ss16 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4946 Update font-iosevka-ss15 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4945 Update font-iosevka-ss14 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4943 Update font-iosevka-ss12 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4942 Update font-iosevka-ss11 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4941 Update font-iosevka-ss10 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4939 Update font-iosevka-ss08 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4938 Update font-iosevka-ss07 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4936 Update font-iosevka-ss05 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4935 Update font-iosevka-ss04 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4934 Update font-iosevka-ss03 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4933 Update font-iosevka-ss02 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4932 Update font-iosevka-ss01 from 10.2.0 to 10.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4931 Update font-iosevka-slab from 10.2.0 to 10.3.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4929 Update font-iosevka-curly-slab from 10.2.0 to 10.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4928 Update font-iosevka-curly from 10.2.0 to 10.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4926 Update font-iosevka from 10.2.0 to 10.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4950 Update font-sarasa-gothic from 0.34.2 to 0.34.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4951 Update font-juliamono from 0.042 to 0.043
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#4952 font-ionicons: remove
  Casks/font-ionicons.rb
Labels: marked for removal/rejection

#4953 Update font-sudo from 0.55.2 to 0.60
  Casks/font-sudo.rb
Labels: bump-cask-pr

#4954 Update font-cozette from 1.11.3 to 1.12.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#4960 Update font-ibm-plex from 5.2.1 to 6.0.0
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr

#4964 Update font-liberation from 2.1.4,6418984 to 2.1.5,7261482
  Casks/font-liberation.rb
Labels: bump-cask-pr
