Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-11, with the labels that each got.

#5080 Update font-3270 from 2.3.0,fd00815 to 2.3.1,3b8f2fb
  Casks/font-3270.rb
Labels: bump-cask-pr

#5081 Update font-cozette from 1.12.0 to 1.13.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#5082 Update font-hackgen from 2.5.1 to 2.5.2
  Casks/font-hackgen.rb
Labels: bump-cask-pr

#5083 Update font-hackgen-nerd from 2.5.1 to 2.5.2
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#5085 Update font-recursive-code from 1.079 to 1.082
  Casks/font-recursive-code.rb
Labels: bump-cask-pr

#5084 Update font-public-sans from 1.008 to 2.000
  Casks/font-public-sans.rb
Labels: bump-cask-pr

#5087 Added SF Arabic
  Casks/font-sf-arabic.rb
Labels: new cask

#5088 Update font-sarasa-gothic from 0.34.7 to 0.35.0
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5089 Update font-iosevka from 10.3.4 to 11.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5090 Update font-iosevka-aile from 10.3.4 to 11.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5091 Update font-iosevka-curly from 10.3.4 to 11.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5092 Update font-iosevka-curly-slab from 10.3.4 to 11.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5093 Update font-iosevka-etoile from 10.3.4 to 11.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5094 Update font-iosevka-slab from 10.3.4 to 11.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5095 Update font-iosevka-ss01 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5096 Update font-iosevka-ss02 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5097 Update font-iosevka-ss03 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5098 Update font-iosevka-ss04 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5099 Update font-iosevka-ss05 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5100 Update font-iosevka-ss06 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5101 Update font-iosevka-ss07 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5102 Update font-iosevka-ss08 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5103 Update font-iosevka-ss09 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5104 Update font-iosevka-ss10 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5105 Update font-iosevka-ss11 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5106 Update font-iosevka-ss12 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5107 Update font-iosevka-ss13 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5108 Update font-iosevka-ss14 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5109 Update font-iosevka-ss15 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5110 Update font-iosevka-ss16 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5111 Update font-iosevka-ss17 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5112 Update font-iosevka-ss18 from 10.3.4 to 11.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5114 Update font-recursive-code from 1.082 to 1.084
  Casks/font-recursive-code.rb
Labels: bump-cask-pr

#5118 font-437-plus: Add livecheck
  Casks/font-437-plus.rb
Labels: awaiting user reply

#5119 Update font-sf-pro from 17.0d11e1 to 17.0d12e1
  Casks/font-sf-pro.rb
Labels: bump-cask-pr

#5120 Update font-sudo from 0.60 to 0.61
  Casks/font-sudo.rb
Labels: bump-cask-pr

#5121 Fixes and updates for Apple's SF fonts
  Casks/font-sf-arabic.rb
  Casks/font-sf-compact.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#5148 Update font-iosevka-ss18 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5147 Update font-iosevka-ss17 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5146 Update font-iosevka-ss16 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5145 Update font-iosevka-ss15 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5144 Update font-iosevka-ss14 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5143 Update font-iosevka-ss13 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5142 Update font-iosevka-ss12 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5136 Update font-iosevka-ss06 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5134 Update font-iosevka-ss04 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5138 Update font-iosevka-ss08 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5133 Update font-iosevka-ss03 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5139 Update font-iosevka-ss09 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5137 Update font-iosevka-ss07 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5140 Update font-iosevka-ss10 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5132 Update font-iosevka-ss02 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5141 Update font-iosevka-ss11 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5135 Update font-iosevka-ss05 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5127 Update font-iosevka-curly from 11.0.1 to 11.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5126 Update font-iosevka-aile from 11.0.1 to 11.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5130 Update font-iosevka-slab from 11.0.1 to 11.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5129 Update font-iosevka-etoile from 11.0.1 to 11.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5124 Update font-sarasa-gothic from 0.35.0 to 0.35.1
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5125 Update font-iosevka from 11.0.1 to 11.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5128 Update font-iosevka-curly-slab from 11.0.1 to 11.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5131 Update font-iosevka-ss01 from 11.0.1 to 11.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5149 Update font-sarasa-gothic from 0.35.1 to 0.35.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5151 Update font-iosevka from 11.1.0 to 11.1.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5152 Update font-iosevka-aile from 11.1.0 to 11.1.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5153 Update font-iosevka-curly from 11.1.0 to 11.1.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5154 Update font-iosevka-curly-slab from 11.1.0 to 11.1.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5155 Update font-iosevka-etoile from 11.1.0 to 11.1.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5156 Update font-iosevka-slab from 11.1.0 to 11.1.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5157 Update font-iosevka-ss01 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5158 Update font-iosevka-ss02 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5159 Update font-iosevka-ss03 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5160 Update font-iosevka-ss04 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5161 Update font-iosevka-ss05 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5162 Update font-iosevka-ss06 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5163 Update font-iosevka-ss07 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5164 Update font-iosevka-ss08 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5165 Update font-iosevka-ss09 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5166 Update font-iosevka-ss10 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5167 Update font-iosevka-ss11 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5168 Update font-iosevka-ss12 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5169 Update font-iosevka-ss13 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5170 Update font-iosevka-ss14 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5171 Update font-iosevka-ss15 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5172 Update font-iosevka-ss16 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5173 Update font-iosevka-ss17 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5174 Update font-iosevka-ss18 from 11.1.0 to 11.1.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr
