Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-07, with the labels that each got.

#4331 Update font-sarasa-gothic from 0.32.6 to 0.32.9
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4332 Fix bad URLs and update Apple fonts
  Casks/font-new-york.rb
  Casks/font-sf-compact.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#4349 Update font-iosevka-ss11 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4341 Update font-iosevka-ss03 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4338 Update font-iosevka-slab from 7.2.3 to 7.2.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4340 Update font-iosevka-ss02 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4337 Update font-iosevka-etoile from 7.2.3 to 7.2.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4342 Update font-iosevka-ss04 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4334 Update font-iosevka-aile from 7.2.3 to 7.2.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4333 Update font-iosevka from 7.2.3 to 7.2.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4348 Update font-iosevka-ss10 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4336 Update font-iosevka-curly-slab from 7.2.3 to 7.2.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4343 Update font-iosevka-ss05 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4350 Update font-iosevka-ss12 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4339 Update font-iosevka-ss01 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4351 Update font-iosevka-ss13 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4347 Update font-iosevka-ss09 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4335 Update font-iosevka-curly from 7.2.3 to 7.2.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4345 Update font-iosevka-ss07 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4352 Update font-iosevka-ss14 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4353 Update font-iosevka-ss15 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4354 Update font-iosevka-ss16 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4346 Update font-iosevka-ss08 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4344 Update font-iosevka-ss06 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4355 Update font-iosevka-ss17 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4356 Update font-iosevka-ss18 from 7.2.3 to 7.2.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4360 Update font-iosevka from 7.2.4 to 7.2.5
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4383 Update font-iosevka-ss18 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4382 Update font-iosevka-ss17 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4381 Update font-iosevka-ss16 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4380 Update font-iosevka-ss15 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4379 Update font-iosevka-ss14 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4378 Update font-iosevka-ss13 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4377 Update font-iosevka-ss12 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4376 Update font-iosevka-ss11 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4375 Update font-iosevka-ss10 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4374 Update font-iosevka-ss09 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4373 Update font-iosevka-ss08 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4372 Update font-iosevka-ss07 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4371 Update font-iosevka-ss06 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4370 Update font-iosevka-ss05 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4369 Update font-iosevka-ss04 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4368 Update font-iosevka-ss03 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4367 Update font-iosevka-ss02 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4366 Update font-iosevka-ss01 from 7.2.4 to 7.2.5
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4365 Update font-iosevka-slab from 7.2.4 to 7.2.5
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4361 Update font-iosevka-aile from 7.2.4 to 7.2.5
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4362 Update font-iosevka-curly from 7.2.4 to 7.2.5
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4364 Update font-iosevka-etoile from 7.2.4 to 7.2.5
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4363 Update font-iosevka-curly-slab from 7.2.4 to 7.2.5
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4403 Update font-iosevka-ss14 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4402 Update font-iosevka-ss13 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4400 Update font-iosevka-ss11 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4398 Update font-iosevka-ss09 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4396 Update font-iosevka-ss07 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4394 Update font-iosevka-ss05 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4392 Update font-iosevka-ss03 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4390 Update font-iosevka-ss01 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4385 Update font-iosevka-aile from 7.2.5 to 7.2.6
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4388 Update font-iosevka-etoile from 7.2.5 to 7.2.6
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4391 Update font-iosevka-ss02 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4399 Update font-iosevka-ss10 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4387 Update font-iosevka-curly-slab from 7.2.5 to 7.2.6
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4393 Update font-iosevka-ss04 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4386 Update font-iosevka-curly from 7.2.5 to 7.2.6
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4384 Update font-iosevka from 7.2.5 to 7.2.6
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4407 Update font-iosevka-ss18 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4406 Update font-iosevka-ss17 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4405 Update font-iosevka-ss16 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4404 Update font-iosevka-ss15 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4401 Update font-iosevka-ss12 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4397 Update font-iosevka-ss08 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4395 Update font-iosevka-ss06 from 7.2.5 to 7.2.6
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4389 Update font-iosevka-slab from 7.2.5 to 7.2.6
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4410 Update font-hackgen-nerd from 2.3.2 to 2.3.5
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#4422 Update font-urw-base35 from 20170801 to 20200910
  Casks/font-urw-base35.rb
Labels: bump-cask-pr

#4420 Update font-sudo from 0.42 to 0.55.2
  Casks/font-sudo.rb
Labels: bump-cask-pr

#4415 Update font-neodunggeunmo from 1.510 to 1.521
  Casks/font-neodunggeunmo.rb
Labels: bump-cask-pr

#4409 Update font-cozette from 1.8.0 to 1.11.3
  Casks/font-cozette.rb
Labels: bump-cask-pr

#4411 Update font-hackgen from 2.3.2 to 2.3.5
  Casks/font-hackgen.rb
Labels: bump-cask-pr

#4414 Update font-neodunggeunmo-code from 1.510 to 1.521
  Casks/font-neodunggeunmo-code.rb
Labels: bump-cask-pr

#4418 Update font-spleen from 1.9.0 to 1.9.1
  Casks/font-spleen.rb
Labels: bump-cask-pr

#4421 Update font-twitter-color-emoji from 12.0.1 to 13.1.0
  Casks/font-twitter-color-emoji.rb
Labels: bump-cask-pr

#4417 Update font-redhat from 2.3.1 to 4.0.2
  Casks/font-redhat.rb
Labels: bump-cask-pr

#4428 Update font-simple-line-icons from 2.4.1 to 2.5.4
  Casks/font-simple-line-icons.rb
Labels: bump-cask-pr

#4423 font_casker: update style
  developer/bin/font_casker
Labels: automerge-skip

#4419 Update font-stix from 2.0.2 to 2.13
  Casks/font-stix.rb
Labels: bump-cask-pr, stale

#4416 Update font-public-sans from 1.006 to 1.008
  Casks/font-public-sans.rb
Labels: automerge-skip, bump-cask-pr, stale

#4413 Update font-lilex from 1.000 to 1.100
  Casks/font-lilex.rb
Labels: bump-cask-pr, stale

#4408 Update font-church-slavonic from 2.1 to 2.2.1
  Casks/font-church-slavonic.rb
Labels: bump-cask-pr, stale

#4438 Update font-iosevka-etoile from 7.2.6 to 7.2.7
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4436 Update font-iosevka-curly from 7.2.6 to 7.2.7
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4434 Update font-iosevka from 7.2.6 to 7.2.7
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4437 Update font-iosevka-curly-slab from 7.2.6 to 7.2.7
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4440 Update font-iosevka-ss01 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4435 Update font-iosevka-aile from 7.2.6 to 7.2.7
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4441 Update font-iosevka-ss02 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4442 Update font-iosevka-ss03 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4444 Update font-iosevka-ss05 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4439 Update font-iosevka-slab from 7.2.6 to 7.2.7
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4445 Update font-iosevka-ss06 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4446 Update font-iosevka-ss07 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4451 Update font-iosevka-ss12 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4449 Update font-iosevka-ss10 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4448 Update font-iosevka-ss09 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4443 Update font-iosevka-ss04 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4447 Update font-iosevka-ss08 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4450 Update font-iosevka-ss11 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4452 Update font-iosevka-ss13 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4453 Update font-iosevka-ss14 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4454 Update font-iosevka-ss15 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4455 Update font-iosevka-ss16 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4456 Update font-iosevka-ss17 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4457 Update font-iosevka-ss18 from 7.2.6 to 7.2.7
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4458 Update font-sarasa-gothic from 0.32.9 to 0.32.10
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4475 Update font-iosevka-ss10 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4473 Update font-iosevka-ss08 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4471 Update font-iosevka-ss06 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4469 Update font-iosevka-ss04 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4467 Update font-iosevka-ss02 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4465 Update font-iosevka-slab from 7.2.7 to 7.2.8
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4463 Update font-iosevka-curly-slab from 7.2.7 to 7.2.8
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4461 Update font-iosevka-aile from 7.2.7 to 7.2.8
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4474 Update font-iosevka-ss09 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4462 Update font-iosevka-curly from 7.2.7 to 7.2.8
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4466 Update font-iosevka-ss01 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4470 Update font-iosevka-ss05 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4460 Update font-iosevka from 7.2.7 to 7.2.8
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4464 Update font-iosevka-etoile from 7.2.7 to 7.2.8
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4476 Update font-iosevka-ss11 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4480 Update font-iosevka-ss15 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4477 Update font-iosevka-ss12 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4478 Update font-iosevka-ss13 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4479 Update font-iosevka-ss14 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4483 Update font-iosevka-ss18 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4481 Update font-iosevka-ss16 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4482 Update font-iosevka-ss17 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4472 Update font-iosevka-ss07 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4468 Update font-iosevka-ss03 from 7.2.7 to 7.2.8
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4484 Update font-cascadia-mono from 2105.24 to 2106.17
  Casks/font-cascadia-mono.rb
Labels: bump-cask-pr

#4486 Update font-cascadia-mono-pl from 2105.24 to 2106.17
  Casks/font-cascadia-mono-pl.rb
Labels: bump-cask-pr

#4485 Update font-cascadia-code from 2105.24 to 2106.17
  Casks/font-cascadia-code.rb
Labels: bump-cask-pr

#4487 Update font-cascadia-code-pl from 2105.24 to 2106.17
  Casks/font-cascadia-code-pl.rb
Labels: bump-cask-pr

#4489 Update font-iosevka from 7.2.8 to 7.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4490 Update font-iosevka-aile from 7.2.8 to 7.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4491 Update font-iosevka-curly from 7.2.8 to 7.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4492 Update font-iosevka-curly-slab from 7.2.8 to 7.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4493 Update font-iosevka-etoile from 7.2.8 to 7.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4494 Update font-iosevka-slab from 7.2.8 to 7.3.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4495 Update font-iosevka-ss01 from 7.2.8 to 7.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr
