Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-10, with the labels that each got.

#4965 Update font_casker
  developer/bin/font_casker
Labels: automerge-skip

#4963 Remove font-neodunggeunmo{,-code}
  Casks/font-neodunggeunmo-code.rb
  Casks/font-neodunggeunmo.rb
Labels: automerge-skip, marked for removal/rejection

#4967 Update font-sarasa-gothic from 0.34.3 to 0.34.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4968 Update font-iosevka from 10.3.0 to 10.3.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4969 Update font-iosevka-aile from 10.3.0 to 10.3.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4970 Update font-iosevka-curly from 10.3.0 to 10.3.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4971 Update font-iosevka-curly-slab from 10.3.0 to 10.3.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4972 Update font-iosevka-etoile from 10.3.0 to 10.3.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4973 Update font-iosevka-slab from 10.3.0 to 10.3.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4974 Update font-iosevka-ss01 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4975 Update font-iosevka-ss02 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4976 Update font-iosevka-ss03 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4977 Update font-iosevka-ss04 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4978 Update font-iosevka-ss05 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4979 Update font-iosevka-ss06 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4980 Update font-iosevka-ss07 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4981 Update font-iosevka-ss08 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4982 Update font-iosevka-ss09 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4983 Update font-iosevka-ss10 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4984 Update font-iosevka-ss11 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4985 Update font-iosevka-ss12 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4986 Update font-iosevka-ss13 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4987 Update font-iosevka-ss14 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4988 Update font-iosevka-ss15 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4989 Update font-iosevka-ss16 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4990 Update font-iosevka-ss17 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4991 Update font-iosevka-ss18 from 10.3.0 to 10.3.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5076 Update font-cascadia-code from 2108.26 to 2110.31
  Casks/font-cascadia-code.rb
Labels: bump-cask-pr

#5077 Update font-cascadia-mono from 2108.26 to 2110.31
  Casks/font-cascadia-mono.rb
Labels: bump-cask-pr

#5078 Update font-cascadia-code-pl from 2108.26 to 2110.31
  Casks/font-cascadia-code-pl.rb
Labels: bump-cask-pr

#5079 Update font-cascadia-mono-pl from 2108.26 to 2110.31
  Casks/font-cascadia-mono-pl.rb
Labels: bump-cask-pr
