Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-12, with the labels that each got.

#5178 Update Last Resort to 14.000
  Casks/font-last-resort-high-efficiency.rb
  Casks/font-last-resort.rb
Labels: automerge-skip

#5205 Update font-iosevka-ss18 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5204 Update font-iosevka-ss17 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5203 Update font-iosevka-ss16 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5202 Update font-iosevka-ss15 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5182 Update font-iosevka from 11.1.1 to 11.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5183 Update font-iosevka-aile from 11.1.1 to 11.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5185 Update font-iosevka-curly-slab from 11.1.1 to 11.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5186 Update font-iosevka-etoile from 11.1.1 to 11.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5201 Update font-iosevka-ss14 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5199 Update font-iosevka-ss12 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5196 Update font-iosevka-ss09 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5195 Update font-iosevka-ss08 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5200 Update font-iosevka-ss13 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5198 Update font-iosevka-ss11 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5197 Update font-iosevka-ss10 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5194 Update font-iosevka-ss07 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5193 Update font-iosevka-ss06 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5192 Update font-iosevka-ss05 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5191 Update font-iosevka-ss04 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5190 Update font-iosevka-ss03 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5189 Update font-iosevka-ss02 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5188 Update font-iosevka-ss01 from 11.1.1 to 11.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5187 Update font-iosevka-slab from 11.1.1 to 11.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5184 Update font-iosevka-curly from 11.1.1 to 11.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5206 Update font-sarasa-gothic from 0.35.2 to 0.35.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5208 Update font-chomsky from 2.2 to 2.3
  Casks/font-chomsky.rb
Labels: bump-cask-pr

#5235 Update font-iosevka-ss18 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5234 Update font-iosevka-ss17 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5233 Update font-iosevka-ss16 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5232 Update font-iosevka-ss15 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5231 Update font-iosevka-ss14 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5230 Update font-iosevka-ss13 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5229 Update font-iosevka-ss12 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5228 Update font-iosevka-ss11 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5227 Update font-iosevka-ss10 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5226 Update font-iosevka-ss09 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5225 Update font-iosevka-ss08 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5224 Update font-iosevka-ss07 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5223 Update font-iosevka-ss06 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5222 Update font-iosevka-ss05 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5221 Update font-iosevka-ss04 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5220 Update font-iosevka-ss03 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5219 Update font-iosevka-ss02 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5218 Update font-iosevka-ss01 from 11.2.0 to 11.2.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5217 Update font-iosevka-slab from 11.2.0 to 11.2.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5215 Update font-iosevka-curly-slab from 11.2.0 to 11.2.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5214 Update font-iosevka-curly from 11.2.0 to 11.2.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5213 Update font-iosevka-aile from 11.2.0 to 11.2.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5212 Update font-iosevka from 11.2.0 to 11.2.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5238 Update font-sarasa-gothic from 0.35.3 to 0.35.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5244 Update font-cascadia-code-pl from 2110.31 to 2111.01
  Casks/font-cascadia-code-pl.rb
Labels: bump-cask-pr

#5243 Update font-cascadia-mono from 2110.31 to 2111.01
  Casks/font-cascadia-mono.rb
Labels: bump-cask-pr

#5242 Update font-cascadia-mono-pl from 2110.31 to 2111.01
  Casks/font-cascadia-mono-pl.rb
Labels: bump-cask-pr

#5241 Update font-cascadia-code from 2110.31 to 2111.01
  Casks/font-cascadia-code.rb
Labels: bump-cask-pr

#5245 Update font-iosevka from 11.2.1 to 11.2.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5246 Update font-iosevka-aile from 11.2.1 to 11.2.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5247 Update font-iosevka-curly from 11.2.1 to 11.2.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5248 Update font-iosevka-curly-slab from 11.2.1 to 11.2.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5249 Update font-iosevka-etoile from 11.2.1 to 11.2.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5250 Update font-iosevka-slab from 11.2.1 to 11.2.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5251 Update font-iosevka-ss01 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5252 Update font-iosevka-ss02 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5253 Update font-iosevka-ss03 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5254 Update font-iosevka-ss04 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5255 Update font-iosevka-ss05 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5256 Update font-iosevka-ss06 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5257 Update font-iosevka-ss07 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5258 Update font-iosevka-ss08 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5259 Update font-iosevka-ss09 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5260 Update font-iosevka-ss10 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5261 Update font-iosevka-ss11 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5262 Update font-iosevka-ss12 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5263 Update font-iosevka-ss13 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5264 Update font-iosevka-ss14 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5265 Update font-iosevka-ss15 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5266 Update font-iosevka-ss16 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5267 Update font-iosevka-ss17 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5268 Update font-iosevka-ss18 from 11.2.1 to 11.2.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5269 Update font-sarasa-gothic from 0.35.4 to 0.35.5
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5272 Temporarily patch import_google_fonts
  developer/bin/import_google_fonts
Labels: automerge-skip

#5275 Manual deletion of Google Fonts
  Casks/font-amatica-sc.rb
  Casks/font-andada-sc.rb
  Casks/font-andada.rb
  Casks/font-archivo-vf-beta.rb
  Casks/font-butcherman-caps.rb
  Casks/font-cabin-vf-beta.rb
  Casks/font-cherry-bomb.rb
  Casks/font-eater-caps.rb
  Casks/font-faustina-vf-beta.rb
  Casks/font-josefin-sans-std-light.rb
  Casks/font-noto-sans-meeteimayek.rb
  Casks/font-ruserius.rb
  Casks/font-stalin-one.rb
Labels: automerge-skip, marked for removal/rejection

#5274 Manual update of Google Fonts
  Casks/font-azeret-mono.rb
  Casks/font-baloo-2.rb
  Casks/font-baloo-bhai-2.rb
  Casks/font-baloo-bhaina-2.rb
  Casks/font-baloo-chettan-2.rb
  Casks/font-baloo-da-2.rb
  Casks/font-baloo-paaji-2.rb
  Casks/font-baloo-tamma-2.rb
  Casks/font-baloo-tammudu-2.rb
  Casks/font-baloo-thambi-2.rb
  Casks/font-battambang.rb
  Casks/font-bevan.rb
  Casks/font-big-shoulders-display.rb
  Casks/font-big-shoulders-inline-display.rb
  Casks/font-big-shoulders-inline-text.rb
  Casks/font-big-shoulders-stencil-display.rb
  Casks/font-big-shoulders-stencil-text.rb
  Casks/font-big-shoulders-text.rb
  Casks/font-cairo.rb
  Casks/font-dangrek.rb
  Casks/font-expletus-sans.rb
  Casks/font-freehand.rb
  Casks/font-hanuman.rb
  Casks/font-koulen.rb
  Casks/font-metal.rb
  Casks/font-montserrat.rb
  Casks/font-moul.rb
  Casks/font-moulpali.rb
  Casks/font-nokora.rb
  Casks/font-nunito.rb
  Casks/font-odor-mean-chey.rb
  Casks/font-overpass-mono.rb
  Casks/font-preahvihear.rb
  Casks/font-redacted-script.rb
  Casks/font-signika-negative.rb
  Casks/font-source-code-pro.rb
  Casks/font-suwannaphum.rb
  Casks/font-taprom.rb
Labels: automerge-skip

#5282 Update font-iosevka-slab from 11.2.2 to 11.2.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5281 Update font-iosevka-etoile from 11.2.2 to 11.2.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5280 Update font-iosevka-curly-slab from 11.2.2 to 11.2.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5279 Update font-iosevka-curly from 11.2.2 to 11.2.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5278 Update font-iosevka-aile from 11.2.2 to 11.2.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5277 Update font-iosevka from 11.2.2 to 11.2.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5283 Update font-sarasa-gothic from 0.35.5 to 0.35.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5305 Update font-iosevka-ss16 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5304 Update font-iosevka-ss15 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5284 Update font-iosevka from 11.2.3 to 11.2.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5285 Update font-iosevka-aile from 11.2.3 to 11.2.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5286 Update font-iosevka-curly from 11.2.3 to 11.2.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5287 Update font-iosevka-curly-slab from 11.2.3 to 11.2.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5306 Update font-iosevka-ss17 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5303 Update font-iosevka-ss14 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5302 Update font-iosevka-ss13 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5307 Update font-iosevka-ss18 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5301 Update font-iosevka-ss12 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5300 Update font-iosevka-ss11 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5299 Update font-iosevka-ss10 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5298 Update font-iosevka-ss09 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5297 Update font-iosevka-ss08 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5296 Update font-iosevka-ss07 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5295 Update font-iosevka-ss06 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5294 Update font-iosevka-ss05 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5293 Update font-iosevka-ss04 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5292 Update font-iosevka-ss03 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5291 Update font-iosevka-ss02 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5290 Update font-iosevka-ss01 from 11.2.2 to 11.2.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5289 Update font-iosevka-slab from 11.2.3 to 11.2.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5288 Update font-iosevka-etoile from 11.2.3 to 11.2.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5309 Update font-sarasa-gothic from 0.35.6 to 0.35.7
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr
