Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2021-05, with the labels that each got.

#4052 Remove automerge workflow
  .github/workflows/automerge.yml
Labels: automerge-skip, ci-syntax-only

#4057 Delete self-approve.yml
  .github/workflows/self-approve.yml
Labels: automerge-skip, ci-syntax-only

#4058 Update font-juliamono from 0.038 to 0.039
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#4059 dependabot: ignore updates to `actions/stale` and `dessant/lock-threads`
  .github/dependabot.yml
Labels: automerge-skip

#4064 Update font-cascadia-code from 2102.25 to 2105.24
  Casks/font-cascadia-code.rb
Labels: bump-cask-pr

#4067 Update font-cascadia-code-pl from 2102.25 to 2105.24
  Casks/font-cascadia-code-pl.rb
Labels: bump-cask-pr

#4068 Update font-cascadia-mono from 2102.25 to 2105.24
  Casks/font-cascadia-mono.rb
Labels: bump-cask-pr

#4069 Update font-cascadia-mono-pl from 2102.25 to 2105.24
  Casks/font-cascadia-mono-pl.rb
Labels: bump-cask-pr

#4090 Update font-iosevka-ss16 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4088 Update font-iosevka-ss02 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4085 Update font-iosevka-ss06 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4087 Update font-iosevka-etoile from 6.1.3 to 7.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4076 Update font-iosevka-slab from 6.1.3 to 7.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4074 Update font-iosevka-ss13 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4084 Update font-iosevka-ss01 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4082 Update font-iosevka-ss10 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4079 Update font-iosevka-ss12 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4091 Update font-iosevka-ss17 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4070 Update font-iosevka-ss14 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4092 Update font-iosevka from 6.1.3 to 7.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4071 Update font-iosevka-ss15 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4072 Update font-iosevka-ss03 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4073 Update font-iosevka-ss08 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4075 Update font-iosevka-aile from 6.1.3 to 7.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4077 Update font-iosevka-ss04 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4078 Update font-iosevka-ss09 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4080 Update font-iosevka-curly from 6.1.3 to 7.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4081 Update font-iosevka-ss05 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4083 Update font-iosevka-curly-slab from 6.1.3 to 7.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4086 Update font-iosevka-ss11 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4089 Update font-iosevka-ss07 from 6.1.3 to 7.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4093 Add font "font-iosevka-ss18" v7.0.0
  Casks/font-iosevka-ss18.rb
Labels: new cask

#4108 Update font-iosevka-curly-slab from 7.0.0 to 7.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4107 Update font-iosevka-ss10 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4106 Update font-iosevka-ss05 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4105 Update font-iosevka-curly from 7.0.0 to 7.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4095 Update font-iosevka-ss14 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4103 Update font-iosevka-ss09 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4101 Update font-iosevka-slab from 7.0.0 to 7.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4100 Update font-iosevka-aile from 7.0.0 to 7.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4109 Update font-iosevka-ss01 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4094 Update font-iosevka-ss18 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4110 Update font-iosevka-ss06 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4104 Update font-iosevka-ss12 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4102 Update font-iosevka-ss04 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4099 Update font-iosevka-ss13 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4098 Update font-iosevka-ss08 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4114 Update font-iosevka-ss07 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4097 Update font-iosevka-ss03 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4096 Update font-iosevka-ss15 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4111 Update font-iosevka-ss11 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4112 Update font-iosevka-etoile from 7.0.0 to 7.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4115 Update font-iosevka-ss16 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#4117 Update font-iosevka from 7.0.0 to 7.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4113 Update font-iosevka-ss02 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4116 Update font-iosevka-ss17 from 7.0.0 to 7.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4118 Update font-sarasa-gothic from 0.31.2 to 0.32.0
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4119 Update font-iosevka-ss18 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#4120 Update font-iosevka-ss14 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#4121 Update font-iosevka-ss15 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#4122 Update font-iosevka-ss03 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#4123 Update font-iosevka-ss08 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#4124 Update font-iosevka-ss13 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#4125 Update font-iosevka-aile from 7.0.1 to 7.0.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#4126 Update font-iosevka-slab from 7.0.1 to 7.0.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#4127 Update font-iosevka-ss04 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#4128 Update font-iosevka-ss09 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#4131 Update font-iosevka-ss05 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#4133 Update font-iosevka-curly-slab from 7.0.1 to 7.0.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#4138 Update font-iosevka-ss02 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#4137 Update font-iosevka-etoile from 7.0.1 to 7.0.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#4136 Update font-iosevka-ss11 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#4135 Update font-iosevka-ss06 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#4134 Update font-iosevka-ss01 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#4132 Update font-iosevka-ss10 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#4130 Update font-iosevka-curly from 7.0.1 to 7.0.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#4129 Update font-iosevka-ss12 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#4139 Update font-iosevka-ss07 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#4143 Update font-sarasa-gothic from 0.32.0 to 0.32.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#4142 Update font-iosevka from 7.0.1 to 7.0.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#4141 Update font-iosevka-ss17 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#4140 Update font-iosevka-ss16 from 7.0.1 to 7.0.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr
