Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-02, with the labels that each got.

#5409 Update font-iosevka-ss07 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5408 Update font-iosevka-ss06 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5411 Update font-iosevka-ss09 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5407 Update font-iosevka-ss05 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5406 Update font-iosevka-ss04 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5405 Update font-iosevka-ss03 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5404 Update font-iosevka-ss02 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5403 Update font-iosevka-ss01 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5402 Update font-iosevka-etoile from 11.2.7 to 11.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5401 Update font-iosevka-curly-slab from 11.2.7 to 11.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5400 Update font-iosevka-curly from 11.2.7 to 11.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5399 Update font-iosevka-aile from 11.2.7 to 11.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5398 Update font-iosevka-slab from 11.2.7 to 11.3.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5397 Update font-iosevka from 11.2.7 to 11.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5420 Update font-iosevka-ss18 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5418 Update font-iosevka-ss16 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5419 Update font-iosevka-ss17 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5417 Update font-iosevka-ss15 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5416 Update font-iosevka-ss14 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5415 Update font-iosevka-ss13 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5414 Update font-iosevka-ss12 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5413 Update font-iosevka-ss11 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5412 Update font-iosevka-ss10 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5410 Update font-iosevka-ss08 from 11.2.7 to 11.3.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5421 Update SF Pro & Compact versions
  Casks/font-sf-compact.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#5425 font-bahnschrift: remove
  Casks/font-bahnschrift.rb
Labels: marked for removal/rejection

#5426 Update font-juliamono from 0.043 to 0.044
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#5428 font-ebh: New font, v1.0.0
  Casks/font-ebh.rb
Labels: new cask

#5445 Update font-iosevka-ss11 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5443 Update font-iosevka-ss09 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5442 Update font-iosevka-ss08 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5441 Update font-iosevka-ss07 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5440 Update font-iosevka-ss06 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5439 Update font-iosevka-ss05 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5438 Update font-iosevka-ss04 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5437 Update font-iosevka-ss03 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5436 Update font-iosevka-ss02 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5435 Update font-iosevka-ss01 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5434 Update font-iosevka-slab from 11.3.0 to 13.3.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5433 Update font-iosevka-etoile from 11.3.0 to 13.3.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5432 Update font-iosevka-curly-slab from 11.3.0 to 13.3.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5431 Update font-iosevka-curly from 11.3.0 to 13.3.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5430 Update font-iosevka-aile from 11.3.0 to 13.3.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5429 Update font-iosevka from 11.3.0 to 13.3.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5449 Update font-iosevka-ss15 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5448 Update font-iosevka-ss14 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5444 Update font-iosevka-ss10 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5451 Update font-iosevka-ss17 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5446 Update font-iosevka-ss12 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5447 Update font-iosevka-ss13 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5452 Update font-iosevka-ss18 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5450 Update font-iosevka-ss16 from 11.3.0 to 13.3.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5453 Update font-sarasa-gothic from 0.35.8 to 0.35.9
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5456 Update font-iosevka from 13.3.1 to 14.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5457 Update font-iosevka-aile from 13.3.1 to 14.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5458 Update font-iosevka-curly from 13.3.1 to 14.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5459 Update font-iosevka-curly-slab from 13.3.1 to 14.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5460 Update font-iosevka-etoile from 13.3.1 to 14.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5461 Update font-iosevka-slab from 13.3.1 to 14.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5462 Update font-iosevka-ss01 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5463 Update font-iosevka-ss02 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5464 Update font-iosevka-ss03 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5465 Update font-iosevka-ss04 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5466 Update font-iosevka-ss05 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5467 Update font-iosevka-ss06 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5468 Update font-iosevka-ss07 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5469 Update font-iosevka-ss08 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5470 Update font-iosevka-ss09 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5471 Update font-iosevka-ss10 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5472 Update font-iosevka-ss11 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5473 Update font-iosevka-ss12 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5474 Update font-iosevka-ss13 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5475 Update font-iosevka-ss14 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5476 Update font-iosevka-ss15 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5477 Update font-iosevka-ss16 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5478 Update font-iosevka-ss17 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5479 Update font-iosevka-ss18 from 13.3.1 to 14.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5482 Update font-gentium-plus from 6.001 to 6.101
  Casks/font-gentium-plus.rb
Labels: bump-cask-pr

#5483 Update font-sudo from 0.61 to 0.62
  Casks/font-sudo.rb
Labels: bump-cask-pr

#5514 Update font-iosevka-ss18 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5513 Update font-iosevka-ss17 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5512 Update font-iosevka-ss16 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5511 Update font-iosevka-ss15 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5510 Update font-iosevka-ss14 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5509 Update font-iosevka-ss13 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5508 Update font-iosevka-ss12 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5507 Update font-iosevka-ss11 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5506 Update font-iosevka-ss10 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5505 Update font-iosevka-ss09 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5504 Update font-iosevka-ss08 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5503 Update font-iosevka-ss07 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5502 Update font-iosevka-ss06 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5501 Update font-iosevka-ss05 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5500 Update font-iosevka-ss04 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5499 Update font-iosevka-ss03 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5498 Update font-iosevka-ss02 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5497 Update font-iosevka-ss01 from 14.0.0 to 14.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5496 Update font-iosevka-slab from 14.0.0 to 14.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5495 Update font-iosevka-etoile from 14.0.0 to 14.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5494 Update font-iosevka-curly-slab from 14.0.0 to 14.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5493 Update font-iosevka-curly from 14.0.0 to 14.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5492 Update font-iosevka-aile from 14.0.0 to 14.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5491 Update font-iosevka from 14.0.0 to 14.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5490 Add font "LXGW New Clear Gothic" / "霞鹜新晰黑"
  Casks/font-lxgw-new-clear-gothic.rb
Labels: new cask

#5487 Add font "Zhudou Sans" / "煮豆黑体"
  Casks/font-zhudou-sans.rb
Labels: new cask

#5486 Add font "LXGW WenKai" / "霞鹜文楷"
  Casks/font-lxgw-wenkai.rb
Labels: new cask

#5518 Update font-lxgw-wenkai from 1.210 to 1.211
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5520 Add font "Cubic 11" / "俐方體11號"
  Casks/font-cubic-11.rb
Labels: new cask

#5521 Add font "LXGW ZhenKai" / "霞鹜臻楷", i.e., "font-lxgw-zhenkai"
  Casks/font-lxgw-zhenkai.rb
Labels: new cask

#5522 Update font-iosevka from 14.0.1 to 15.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5523 Update font-iosevka-aile from 14.0.1 to 15.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5524 Update font-iosevka-curly from 14.0.1 to 15.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5525 Update font-iosevka-curly-slab from 14.0.1 to 15.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5526 Update font-iosevka-etoile from 14.0.1 to 15.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5527 Update font-iosevka-slab from 14.0.1 to 15.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5528 Update font-iosevka-ss01 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5529 Update font-iosevka-ss02 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5530 Update font-iosevka-ss03 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5531 Update font-iosevka-ss04 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5532 Update font-iosevka-ss05 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5533 Update font-iosevka-ss06 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5534 Update font-iosevka-ss07 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5535 Update font-iosevka-ss08 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5536 Update font-iosevka-ss09 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5537 Update font-iosevka-ss10 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5538 Update font-iosevka-ss11 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5539 Update font-iosevka-ss12 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5540 Update font-iosevka-ss13 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5541 Update font-iosevka-ss14 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5542 Update font-iosevka-ss15 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5543 Update font-iosevka-ss16 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5544 Update font-iosevka-ss17 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5545 Update font-iosevka-ss18 from 14.0.1 to 15.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5549 Update font-sarasa-gothic from 0.35.9 to 0.36.0
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5550 Update font-iosevka from 15.0.0 to 15.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5551 Update font-iosevka-aile from 15.0.0 to 15.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5552 Update font-iosevka-curly from 15.0.0 to 15.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5553 Update font-iosevka-curly-slab from 15.0.0 to 15.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5554 Update font-iosevka-etoile from 15.0.0 to 15.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5555 Update font-iosevka-slab from 15.0.0 to 15.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5556 Update font-iosevka-ss01 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5557 Update font-iosevka-ss02 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5558 Update font-iosevka-ss03 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5559 Update font-iosevka-ss04 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5560 Update font-iosevka-ss05 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5561 Update font-iosevka-ss06 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5562 Update font-iosevka-ss07 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5563 Update font-iosevka-ss08 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5564 Update font-iosevka-ss09 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5565 Update font-iosevka-ss10 from 15.0.0 to 15.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr
