Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-05, with the labels that each got.

#5756 Update font-ark-pixel-16px from 2022-04-19 to 2022-05-04
  Casks/font-ark-pixel-16px.rb
Labels: bump-cask-pr

#5755 Update font-ark-pixel-12px from 2022-04-19 to 2022-05-04
  Casks/font-ark-pixel-12px.rb
Labels: bump-cask-pr

#5754 Update font-ark-pixel-10px from 2022-04-19 to 2022-05-04
  Casks/font-ark-pixel-10px.rb
Labels: bump-cask-pr

#5759 Update font-juliamono from 0.044 to 0.045
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#5763 Update font-urbanist from 1.303 to 1.310
  Casks/font-urbanist.rb
Labels: bump-cask-pr

#5764 Update font-iosevka from 15.2.0 to 15.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5787 Update font-iosevka-ss09 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5786 Update font-iosevka-ss18 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5785 Update font-iosevka-ss17 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5784 Update font-iosevka-ss16 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5783 Update font-iosevka-ss15 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5782 Update font-iosevka-ss14 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5781 Update font-iosevka-ss13 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5780 Update font-iosevka-ss12 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5779 Update font-iosevka-ss11 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5777 Update font-iosevka-ss08 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5776 Update font-iosevka-ss07 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5775 Update font-iosevka-ss06 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5774 Update font-iosevka-ss05 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5773 Update font-iosevka-ss04 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5771 Update font-iosevka-ss02 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5770 Update font-iosevka-ss01 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5769 Update font-iosevka-slab from 15.2.0 to 15.3.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5768 Update font-iosevka-etoile from 15.2.0 to 15.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5767 Update font-iosevka-curly-slab from 15.2.0 to 15.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5765 Update font-iosevka-aile from 15.2.0 to 15.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5772 Update font-iosevka-ss03 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5778 Update font-iosevka-ss10 from 15.2.0 to 15.3.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5766 Update font-iosevka-curly from 15.2.0 to 15.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5744 Add font-martian-mono
  Casks/font-martian-mono.rb
Labels: new cask

#5760 Update font-lxgw-wenkai from 1.234.5 to 1.234.56
  Casks/font-lxgw-wenkai.rb
Labels: stale, bump-cask-pr

#5761 Add Delugia Code font
  Casks/font-delugia-book.rb
  Casks/font-delugia-complete.rb
  Casks/font-delugia-mono-complete.rb
Labels: automerge-skip, new cask

#5789 Update font-public-sans from 2.000 to 2.001
  Casks/font-public-sans.rb
Labels: bump-cask-pr

#5790 Update font-ibm-plex from 6.0.0 to 6.0.1
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr

#5814 Update font-iosevka-ss18 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5813 Update font-iosevka-ss17 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5812 Update font-iosevka-ss16 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5811 Update font-iosevka-ss15 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5810 Update font-iosevka-ss14 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5809 Update font-iosevka-ss13 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5808 Update font-iosevka-ss12 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5807 Update font-iosevka-ss11 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5806 Update font-iosevka-ss10 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5805 Update font-iosevka-ss09 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5804 Update font-iosevka-ss08 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5803 Update font-iosevka-ss07 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5802 Update font-iosevka-ss06 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5801 Update font-iosevka-ss05 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5800 Update font-iosevka-ss04 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5799 Update font-iosevka-ss03 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5798 Update font-iosevka-ss02 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5797 Update font-iosevka-ss01 from 15.3.0 to 15.3.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5796 Update font-iosevka-slab from 15.3.0 to 15.3.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5795 Update font-iosevka-etoile from 15.3.0 to 15.3.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5794 Update font-iosevka-curly-slab from 15.3.0 to 15.3.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5793 Update font-iosevka-curly from 15.3.0 to 15.3.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5792 Update font-iosevka-aile from 15.3.0 to 15.3.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5791 Update font-iosevka from 15.3.0 to 15.3.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5819 Update font-ark-pixel-10px from 2022-05-04 to 2022-05-20
  Casks/font-ark-pixel-10px.rb
Labels: bump-cask-pr

#5820 Update font-ark-pixel-12px from 2022-05-04 to 2022-05-20
  Casks/font-ark-pixel-12px.rb
Labels: bump-cask-pr

#5821 Update font-ark-pixel-16px from 2022-05-04 to 2022-05-20
  Casks/font-ark-pixel-16px.rb
Labels: bump-cask-pr

#5822 Update SF Pro and SF Compact versions
  Casks/font-sf-compact.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#5825 Update font-ibm-plex from 6.0.1 to 6.0.2
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr

#5828 Update font-sarasa-gothic from 0.36.3 to 0.36.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5854 Update font-lxgw-zhenkai from 0.552 to 0.600
  Casks/font-lxgw-zhenkai.rb
Labels: bump-cask-pr

#5830 Update font-iosevka from 15.3.1 to 15.4.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5831 Update font-iosevka-aile from 15.3.1 to 15.4.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5832 Update font-iosevka-curly from 15.3.1 to 15.4.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5833 Update font-iosevka-curly-slab from 15.3.1 to 15.4.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5834 Update font-iosevka-etoile from 15.3.1 to 15.4.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5835 Update font-iosevka-slab from 15.3.1 to 15.4.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5836 Update font-iosevka-ss01 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5837 Update font-iosevka-ss02 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5838 Update font-iosevka-ss03 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5839 Update font-iosevka-ss04 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5840 Update font-iosevka-ss05 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5841 Update font-iosevka-ss06 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5842 Update font-iosevka-ss07 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5843 Update font-iosevka-ss08 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5844 Update font-iosevka-ss09 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5845 Update font-iosevka-ss10 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5846 Update font-iosevka-ss11 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5847 Update font-iosevka-ss12 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5848 Update font-iosevka-ss13 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5849 Update font-iosevka-ss14 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5850 Update font-iosevka-ss15 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5851 Update font-iosevka-ss16 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5852 Update font-iosevka-ss17 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5853 Update font-iosevka-ss18 from 15.3.1 to 15.4.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5856 Update font-iosevka from 15.4.0 to 15.4.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5857 Update font-iosevka-aile from 15.4.0 to 15.4.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5858 Update font-iosevka-curly from 15.4.0 to 15.4.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5859 Update font-iosevka-curly-slab from 15.4.0 to 15.4.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5860 Update font-iosevka-etoile from 15.4.0 to 15.4.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5861 Update font-iosevka-slab from 15.4.0 to 15.4.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5862 Update font-iosevka-ss01 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5863 Update font-iosevka-ss02 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5864 Update font-iosevka-ss03 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5865 Update font-iosevka-ss04 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5866 Update font-iosevka-ss05 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5867 Update font-iosevka-ss06 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5868 Update font-iosevka-ss07 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5869 Update font-iosevka-ss08 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5870 Update font-iosevka-ss09 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5871 Update font-iosevka-ss10 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5872 Update font-iosevka-ss11 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5873 Update font-iosevka-ss12 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5876 Update font-iosevka-ss15 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5877 Update font-iosevka-ss16 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5878 Update font-iosevka-ss17 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5879 Update font-iosevka-ss18 from 15.4.0 to 15.4.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr
