Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-12, with the labels that each got.

#6724 Update font-amiri from 0.900 to 1.000, discontinue
  Casks/font-amiri.rb
Labels: bump-cask-pr

#6725 Move remaining fonts from svn to git
  Casks/font-anonymice-powerline.rb
  Casks/font-dejavu-sans-mono-for-powerline.rb
  Casks/font-droid-sans-mono-for-powerline.rb
  Casks/font-fira-mono-for-powerline.rb
  Casks/font-inconsolata-g-for-powerline.rb
  Casks/font-inconsolata-lgc.rb
  Casks/font-liberation-mono-for-powerline.rb
  Casks/font-material-design-icons-webfont.rb
  Casks/font-monofur-for-powerline.rb
  Casks/font-noto-mono-for-powerline.rb
  Casks/font-roboto-mono-for-powerline.rb
  Casks/font-source-code-pro-for-powerline.rb
  Casks/font-ubuntu-mono-derivative-powerline.rb
Labels: automerge-skip, missing description

#6729 Update font-cozette from 1.18.1 to 1.19.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#6758 Update Nerd Font casks to v2.2.2
  Casks/font-3270-nerd-font.rb
  Casks/font-agave-nerd-font.rb
  Casks/font-anonymice-nerd-font.rb
  Casks/font-arimo-nerd-font.rb
  Casks/font-aurulent-nerd-font.rb
  Casks/font-bigblue-terminal-nerd-font.rb
  Casks/font-bitstream-vera-sans-mono-nerd-font.rb
  Casks/font-blex-mono-nerd-font.rb
  Casks/font-caskaydia-cove-nerd-font.rb
  Casks/font-code-new-roman-nerd-font.rb
  Casks/font-cousine-nerd-font.rb
  Casks/font-daddy-time-mono-nerd-font.rb
  Casks/font-dejavu-sans-mono-nerd-font.rb
  Casks/font-droid-sans-mono-nerd-font.rb
  Casks/font-fantasque-sans-mono-nerd-font.rb
  Casks/font-fira-code-nerd-font.rb
  Casks/font-go-mono-nerd-font.rb
  Casks/font-hack-nerd-font.rb
  Casks/font-hasklug-nerd-font.rb
  Casks/font-heavy-data-nerd-font.rb
  Casks/font-hurmit-nerd-font.rb
  Casks/font-im-writing-nerd-font.rb
  Casks/font-inconsolata-go-nerd-font.rb
  Casks/font-inconsolata-lgc-nerd-font.rb
  Casks/font-inconsolata-nerd-font.rb
  Casks/font-iosevka-nerd-font.rb
  Casks/font-jetbrains-mono-nerd-font.rb
  Casks/font-lekton-nerd-font.rb
  Casks/font-liberation-nerd-font.rb
  Casks/font-lilex-nerd-font.rb
  Casks/font-meslo-lg-nerd-font.rb
  Casks/font-monofur-nerd-font.rb
  Casks/font-monoid-nerd-font.rb
  Casks/font-mononoki-nerd-font.rb
  Casks/font-mplus-nerd-font.rb
  Casks/font-noto-nerd-font.rb
  Casks/font-open-dyslexic-nerd-font.rb
  Casks/font-overpass-nerd-font.rb
  Casks/font-profont-nerd-font.rb
  Casks/font-proggy-clean-tt-nerd-font.rb
  Casks/font-roboto-mono-nerd-font.rb
  Casks/font-sauce-code-pro-nerd-font.rb
  Casks/font-shure-tech-mono-nerd-font.rb
  Casks/font-space-mono-nerd-font.rb
  Casks/font-symbols-only-nerd-font.rb
  Casks/font-terminess-ttf-nerd-font.rb
  Casks/font-tinos-nerd-font.rb
  Casks/font-ubuntu-mono-nerd-font.rb
  Casks/font-ubuntu-nerd-font.rb
  Casks/font-victor-mono-nerd-font.rb
Labels: automerge-skip

#6807 Update font-iosevka-ss16 from 16.8.0 to 16.8.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6785 HackGen version to `3.8.0`
  Casks/font-hackgen-nerd.rb
  Casks/font-hackgen.rb
Labels: automerge-skip

#6810 Add Smiley Sans
  Casks/font-smiley-sans.rb
Labels: new cask

#6811 Update font-ark-pixel-10px-monospaced from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#6812 Update font-ark-pixel-10px-proportional from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#6813 Update font-ark-pixel-12px-proportional from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#6814 Update font-ark-pixel-16px-monospaced from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#6815 Update font-ark-pixel-12px-monospaced from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#6816 Update font-ark-pixel-16px-proportional from 2022.11.20 to 2022.12.20
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#6817 Update font-iosevka-aile from 16.8.2 to 16.8.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6818 Update font-iosevka-curly from 16.8.2 to 16.8.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6819 Update font-iosevka-slab from 16.8.2 to 16.8.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6820 Update font-iosevka-curly-slab from 16.8.2 to 16.8.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6821 Update font-iosevka-etoile from 16.8.2 to 16.8.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6822 Update font-iosevka-ss01 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6823 Update font-iosevka-ss02 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6825 Update font-iosevka-ss04 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6826 Update font-iosevka-ss07 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6827 Update font-iosevka-ss06 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6828 Update font-iosevka-ss08 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6829 Update font-iosevka-ss05 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6830 Update font-iosevka-ss09 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6831 Update font-iosevka-ss10 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6832 Update font-iosevka-ss11 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6833 Update font-iosevka-ss15 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6834 Update font-iosevka-ss13 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6835 Update font-iosevka-ss12 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6836 Update font-iosevka-ss14 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6837 Update font-iosevka-ss17 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6838 Update font-iosevka-ss16 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6839 Update font-iosevka-ss18 from 16.8.2 to 16.8.3
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6840 Update font-iosevka from 16.8.2 to 16.8.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6841 Update font-sudo from 0.68 to 0.69
  Casks/font-sudo.rb
Labels: bump-cask-pr

#6842 Update font-academicons from 1.9.2 to 1.9.3
  Casks/font-academicons.rb
Labels: bump-cask-pr

#6843 Update font-iosevka-aile from 16.8.3 to 16.8.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6844 Update font-iosevka-curly from 16.8.3 to 16.8.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6845 Update font-iosevka-curly-slab from 16.8.3 to 16.8.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6846 Update font-iosevka-etoile from 16.8.3 to 16.8.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6847 Update font-iosevka-ss01 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6848 Update font-iosevka-slab from 16.8.3 to 16.8.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6849 Update font-iosevka-ss02 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6850 Update font-iosevka-ss04 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6851 Update font-iosevka-ss03 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6852 Update font-iosevka-ss05 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6853 Update font-iosevka-ss06 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6854 Update font-iosevka-ss09 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6856 Update font-iosevka-ss07 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6857 Update font-iosevka-ss08 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6858 Update font-iosevka-ss11 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6859 Update font-iosevka-ss13 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6860 Update font-iosevka-ss12 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6861 Update font-iosevka-ss14 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6862 Update font-iosevka-ss15 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6863 Update font-iosevka-ss16 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6864 Update font-iosevka-ss18 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6865 Update font-iosevka-ss17 from 16.8.3 to 16.8.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6866 Update font-iosevka from 16.8.3 to 16.8.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6943 Update font-monocraft from 2.0 to 2.1
  Casks/font-monocraft.rb
Labels: bump-cask-pr

#6944 Update font-martian-mono from 0.9.2 to 1.0.0
  Casks/font-martian-mono.rb
Labels: bump-cask-pr

#6945 Update font-monocraft from 2.1 to 2.2
  Casks/font-monocraft.rb
Labels: bump-cask-pr
