Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-07, with the labels that each got.

#5983 Add new font: Iansui / 芫荽
  Casks/font-iansui.rb
Labels: new cask

#5985 Update font-sarasa-gothic from 0.36.5 to 0.36.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5989 Add new font: Chiayi City Font / 嘉市體
  Casks/font-chiayi-city.rb
Labels: new cask

#5990 Add new font: Elice Digital Baeum/엘리스 디지털 배움체
  Casks/font-elice-digital-baeum.rb
Labels: new cask

#5991 Add new font: Pretendard / 프리텐다드
  Casks/font-pretendard-jp.rb
  Casks/font-pretendard-std.rb
  Casks/font-pretendard.rb
Labels: automerge-skip, new cask

#5995 Update font-ark-pixel-16px from 2022-06-08 to 2022.07.05
  Casks/font-ark-pixel-16px.rb
Labels: bump-cask-pr

#5994 Update font-ark-pixel-12px from 2022-06-08 to 2022.07.05
  Casks/font-ark-pixel-12px.rb
Labels: bump-cask-pr

#5993 Update font-ark-pixel-10px from 2022-06-08 to 2022.07.05
  Casks/font-ark-pixel-10px.rb
Labels: bump-cask-pr

#5996 Update font-recursive-code from 1.084 to 1.085
  Casks/font-recursive-code.rb
Labels: bump-cask-pr

#5997 Update font-3270 from 2.3.1 to 3.0.0
  Casks/font-3270.rb
Labels: bump-cask-pr

#5998 Update font-amiri from 0.116 to 0.117
  Casks/font-amiri.rb
Labels: bump-cask-pr

#5999 Update SF Pro and SF Compact font versions
  Casks/font-sf-compact.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#6001 Update Charis SIL and Doulos SIL fonts
  Casks/font-charis-sil.rb
  Casks/font-doulos-sil.rb
Labels: automerge-skip

#6002 Update font-victor-mono from latest to 1.5.4
  Casks/font-victor-mono.rb
Labels: bump-cask-pr

#6029 Update font-iosevka-ss18 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6028 Update font-iosevka-ss17 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6027 Update font-iosevka-ss16 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6026 Update font-iosevka-ss15 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6025 Update font-iosevka-ss14 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6024 Update font-iosevka-ss13 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6023 Update font-iosevka-ss12 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6022 Update font-iosevka-ss11 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6021 Update font-iosevka-ss10 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6020 Update font-iosevka-ss09 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6019 Update font-iosevka-ss08 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6018 Update font-iosevka-ss07 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6017 Update font-iosevka-ss06 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6016 Update font-iosevka-ss05 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6015 Update font-iosevka-ss04 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6014 Update font-iosevka-ss03 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6013 Update font-iosevka-ss02 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6012 Update font-iosevka-ss01 from 15.5.2 to 15.6.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6011 Update font-iosevka-slab from 15.5.2 to 15.6.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6010 Update font-iosevka-etoile from 15.5.2 to 15.6.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6009 Update font-iosevka-curly-slab from 15.5.2 to 15.6.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6008 Update font-iosevka-curly from 15.5.2 to 15.6.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6007 Update font-iosevka-aile from 15.5.2 to 15.6.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6006 Update font-iosevka from 15.5.2 to 15.6.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6005 Update font-sarasa-gothic from 0.36.6 to 0.36.7
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6030 Update font-urbanist from 1.310 to 1.321
  Casks/font-urbanist.rb
Labels: bump-cask-pr

#6033 Update font-iosevka from 15.6.0 to 15.6.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6034 Update font-iosevka-aile from 15.6.0 to 15.6.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6035 Update font-iosevka-curly from 15.6.0 to 15.6.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6036 Update font-iosevka-curly-slab from 15.6.0 to 15.6.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6037 Update font-iosevka-etoile from 15.6.0 to 15.6.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6038 Update font-iosevka-slab from 15.6.0 to 15.6.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6039 Update font-iosevka-ss01 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6040 Update font-iosevka-ss02 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6041 Update font-iosevka-ss03 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6042 Update font-iosevka-ss04 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6043 Update font-iosevka-ss05 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6044 Update font-iosevka-ss06 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6045 Update font-iosevka-ss07 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6046 Update font-iosevka-ss08 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6047 Update font-iosevka-ss09 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6048 Update font-iosevka-ss10 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6049 Update font-iosevka-ss11 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6050 Update font-iosevka-ss12 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6051 Update font-iosevka-ss13 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6052 Update font-iosevka-ss14 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6053 Update font-iosevka-ss15 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6054 Update font-iosevka-ss16 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6055 Update font-iosevka-ss17 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6056 Update font-iosevka-ss18 from 15.6.0 to 15.6.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6057 Update font-sarasa-gothic from 0.36.7 to 0.36.8
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6063 Update font-pretendard-std from 1.3.4 to 1.3.5
  Casks/font-pretendard-std.rb
Labels: bump-cask-pr

#6062 Update font-pretendard-jp from 1.3.4 to 1.3.5
  Casks/font-pretendard-jp.rb
Labels: bump-cask-pr

#6061 Update font-pretendard from 1.3.4 to 1.3.5
  Casks/font-pretendard.rb
Labels: bump-cask-pr

#6060 Update font-fontawesome from 6.1.1 to 6.1.2
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#6064 font-codicon 0.0.31
  Casks/font-codicon.rb
Labels: new cask

#6065 Update font-iosevka from 15.6.1 to 15.6.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6088 Update font-iosevka-ss18 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6087 Update font-iosevka-ss17 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6086 Update font-iosevka-ss16 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6085 Update font-iosevka-ss15 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6084 Update font-iosevka-ss14 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6083 Update font-iosevka-ss13 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6082 Update font-iosevka-ss12 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6081 Update font-iosevka-ss11 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6080 Update font-iosevka-ss10 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6079 Update font-iosevka-ss09 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6078 Update font-iosevka-ss08 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6077 Update font-iosevka-ss07 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6076 Update font-iosevka-ss06 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6075 Update font-iosevka-ss05 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6074 Update font-iosevka-ss04 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6073 Update font-iosevka-ss03 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6072 Update font-iosevka-ss02 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6071 Update font-iosevka-ss01 from 15.6.1 to 15.6.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6070 Update font-iosevka-slab from 15.6.1 to 15.6.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6066 Update font-iosevka-aile from 15.6.1 to 15.6.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6067 Update font-iosevka-curly from 15.6.1 to 15.6.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6069 Update font-iosevka-etoile from 15.6.1 to 15.6.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6068 Update font-iosevka-curly-slab from 15.6.1 to 15.6.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr
