Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-10, with the labels that each got.

#6343 Update font-iosevka-ss18 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6342 Update font-iosevka-ss17 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6341 Update font-iosevka-ss16 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6340 Update font-iosevka-ss15 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6339 Update font-iosevka-ss14 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6338 Update font-iosevka-ss13 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6337 Update font-iosevka-ss12 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6336 Update font-iosevka-ss11 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6335 Update font-iosevka-ss10 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6334 Update font-iosevka-ss09 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6333 Update font-iosevka-ss08 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6332 Update font-iosevka-ss07 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6331 Update font-iosevka-ss06 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6330 Update font-iosevka-ss05 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6329 Update font-iosevka-ss04 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6328 Update font-iosevka-ss03 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6327 Update font-iosevka-ss02 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6326 Update font-iosevka-ss01 from 16.2.0 to 16.2.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6325 Update font-iosevka-slab from 16.2.0 to 16.2.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6324 Update font-iosevka-etoile from 16.2.0 to 16.2.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6323 Update font-iosevka-curly-slab from 16.2.0 to 16.2.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6322 Update font-iosevka-curly from 16.2.0 to 16.2.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6321 Update font-iosevka-aile from 16.2.0 to 16.2.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6320 Update font-iosevka from 16.2.0 to 16.2.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6346 Update Apple font versions
  Casks/font-sf-arabic.rb
  Casks/font-sf-compact.rb
  Casks/font-sf-mono.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#6370 Update font-iosevka-ss18 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6369 Update font-iosevka-ss17 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6368 Update font-iosevka-ss16 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6367 Update font-iosevka-ss15 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6366 Update font-iosevka-ss14 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6365 Update font-iosevka-ss13 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6364 Update font-iosevka-ss12 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6363 Update font-iosevka-ss11 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6362 Update font-iosevka-ss10 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6361 Update font-iosevka-ss09 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6360 Update font-iosevka-ss08 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6359 Update font-iosevka-ss07 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6358 Update font-iosevka-ss06 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6357 Update font-iosevka-ss05 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6356 Update font-iosevka-ss04 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6355 Update font-iosevka-ss03 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6354 Update font-iosevka-ss02 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6353 Update font-iosevka-ss01 from 16.2.1 to 16.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6352 Update font-iosevka-slab from 16.2.1 to 16.3.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6351 Update font-iosevka-etoile from 16.2.1 to 16.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6350 Update font-iosevka-curly-slab from 16.2.1 to 16.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6349 Update font-iosevka-curly from 16.2.1 to 16.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6348 Update font-iosevka-aile from 16.2.1 to 16.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6347 Update font-iosevka from 16.2.1 to 16.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6373 Add font-symbols-only-nerd-font
  Casks/font-symbols-only-nerd-font.rb
Labels: new cask

#6374 publish-commit-casks.yml: update repo
  .github/workflows/publish-commit-casks.yml
Labels: automerge-skip

#6377 Update delugia-code from v2111.01 to v2111.01.1
  Casks/font-delugia-book.rb
  Casks/font-delugia-complete.rb
  Casks/font-delugia-mono-complete.rb
Labels: automerge-skip

#6387 Update font-iosevka-ss04 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6388 Update font-iosevka-ss05 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6389 Update font-iosevka-ss06 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6390 Update font-iosevka-ss07 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6391 Update font-iosevka-ss08 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6392 Update font-iosevka-ss09 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6393 Update font-iosevka-ss10 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6394 Update font-iosevka-ss11 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6395 Update font-iosevka-ss12 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6396 Update font-iosevka-ss13 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6397 Update font-iosevka-ss14 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6398 Update font-iosevka-ss15 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6399 Update font-iosevka-ss16 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6400 Update font-iosevka-ss17 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6401 Update font-iosevka-ss18 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6378 Update font-iosevka from 16.3.0 to 16.3.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6379 Update font-iosevka-aile from 16.3.0 to 16.3.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6380 Update font-iosevka-curly from 16.3.0 to 16.3.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6381 Update font-iosevka-curly-slab from 16.3.0 to 16.3.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6382 Update font-iosevka-etoile from 16.3.0 to 16.3.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6383 Update font-iosevka-slab from 16.3.0 to 16.3.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6384 Update font-iosevka-ss01 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6385 Update font-iosevka-ss02 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6386 Update font-iosevka-ss03 from 16.3.0 to 16.3.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6429 Update font-iosevka-aile from 16.3.2 to 16.3.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6430 Update font-iosevka-curly from 16.3.2 to 16.3.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6431 Update font-iosevka-curly-slab from 16.3.2 to 16.3.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6432 Update font-iosevka-etoile from 16.3.2 to 16.3.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6433 Update font-iosevka-ss01 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6434 Update font-iosevka-ss02 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6435 Update font-iosevka-ss03 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6436 Update font-iosevka-ss04 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6437 Update font-iosevka-ss05 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6438 Update font-iosevka-ss06 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6439 Update font-iosevka-ss07 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6440 Update font-iosevka-ss08 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6441 Update font-iosevka-ss09 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6443 Update font-iosevka-ss11 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6444 Update font-iosevka-ss12 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6446 Update font-iosevka-ss14 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6447 Update font-iosevka-ss15 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6450 Update font-iosevka-ss18 from 16.3.2 to 16.3.3
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6454 Add font-azonix
  Casks/font-azonix.rb
Labels: new cask

#6455 Update font-lxgw-bright from 4.132.4 to 4.134.2
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#6479 Update font-iosevka-ss18 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6478 Update font-iosevka-ss17 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6477 Update font-iosevka-ss16 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6476 Update font-iosevka-ss15 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6475 Update font-iosevka-ss14 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6474 Update font-iosevka-ss13 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6473 Update font-iosevka-ss12 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6472 Update font-iosevka-ss11 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6471 Update font-iosevka-ss10 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6470 Update font-iosevka-ss09 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6469 Update font-iosevka-ss08 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6468 Update font-iosevka-ss07 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6467 Update font-iosevka-ss06 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6466 Update font-iosevka-ss05 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6465 Update font-iosevka-ss04 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6464 Update font-iosevka-ss03 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6463 Update font-iosevka-ss02 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6462 Update font-iosevka-ss01 from 16.3.3 to 16.3.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6461 Update font-iosevka-slab from 16.3.2 to 16.3.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6460 Update font-iosevka-etoile from 16.3.3 to 16.3.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6459 Update font-iosevka-curly-slab from 16.3.3 to 16.3.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6458 Update font-iosevka-curly from 16.3.3 to 16.3.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6457 Update font-iosevka-aile from 16.3.3 to 16.3.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6456 Update font-iosevka from 16.3.3 to 16.3.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6484 Update font-amiri from 0.117 to 0.900
  Casks/font-amiri.rb
Labels: bump-cask-pr

#6485 Update font-cozette from 1.16.0 to 1.18.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#6486 Update font-fontawesome from 6.1.2 to 6.2.0
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#6487 Update font-gnu-unifont from 14.0.04 to 15.0.01
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#6489 Update font-hackgen-nerd from 2.7.0 to 2.7.1
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#6490 Update font-mononoki from 1.3 to 1.4
  Casks/font-mononoki.rb
Labels: bump-cask-pr

#6491 Update font-redhat from 4.0.2 to 4.0.3
  Casks/font-redhat.rb
Labels: bump-cask-pr

#6509 Change "Ark Pixel Font" cask token
  Casks/font-ark-pixel-10px-monospaced.rb
  Casks/font-ark-pixel-10px-proportional.rb
  Casks/font-ark-pixel-10px.rb
  Casks/font-ark-pixel-12px-monospaced.rb
  Casks/font-ark-pixel-12px-proportional.rb
  Casks/font-ark-pixel-12px.rb
  Casks/font-ark-pixel-16px-monospaced.rb
  Casks/font-ark-pixel-16px-proportional.rb
  Casks/font-ark-pixel-16px.rb
Labels: automerge-skip, missing description

#6510 Update font-twitter-color-emoji from 13.1.0 to 14.0.2
  Casks/font-twitter-color-emoji.rb
Labels: bump-cask-pr

#6560 Update font-maple from 5.0 to 5.5
  Casks/font-maple.rb
Labels: bump-cask-pr

#6562 Update font-bungee from 1.1.0 to 1.2.0
  Casks/font-bungee.rb
Labels: bump-cask-pr

#6561 Update font-coelacanth from 0.006 to 0.008
  Casks/font-coelacanth.rb
Labels: bump-cask-pr
