Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-08, with the labels that each got.

#6092 Update font-cubic-11 from 1.010 to 1.013
  Casks/font-cubic-11.rb
Labels: bump-cask-pr

#6116 Update font-iosevka-ss18 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6115 Update font-iosevka-ss17 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6114 Update font-iosevka-ss16 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6113 Update font-iosevka-ss15 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6112 Update font-iosevka-ss14 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6111 Update font-iosevka-ss13 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6110 Update font-iosevka-ss12 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6109 Update font-iosevka-ss11 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6108 Update font-iosevka-ss10 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6107 Update font-iosevka-ss09 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6106 Update font-iosevka-ss08 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6105 Update font-iosevka-ss07 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6104 Update font-iosevka-ss06 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6103 Update font-iosevka-ss05 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6102 Update font-iosevka-ss04 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6101 Update font-iosevka-ss03 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6100 Update font-iosevka-ss02 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6099 Update font-iosevka-ss01 from 15.6.2 to 15.6.3
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6098 Update font-iosevka-slab from 15.6.2 to 15.6.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6097 Update font-iosevka-etoile from 15.6.2 to 15.6.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6096 Update font-iosevka-curly-slab from 15.6.2 to 15.6.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6095 Update font-iosevka-curly from 15.6.2 to 15.6.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6094 Update font-iosevka-aile from 15.6.2 to 15.6.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6093 Update font-iosevka from 15.6.2 to 15.6.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6120 Update font-hackgen from 2.6.3 to 2.7.0
  Casks/font-hackgen.rb
Labels: bump-cask-pr

#6121 Update font-hackgen-nerd from 2.6.3 to 2.7.0
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#6122 Update font-udev-gothic from 1.0.0 to 1.0.1
  Casks/font-udev-gothic.rb
Labels: bump-cask-pr

#6123 Update font-udev-gothic-nf from 1.0.0 to 1.0.1
  Casks/font-udev-gothic-nf.rb
Labels: bump-cask-pr

#6124 Update font-ibm-plex from 6.0.2 to 6.1.0
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr

#6147 Update font-iosevka-ss18 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6146 Update font-iosevka-ss17 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6145 Update font-iosevka-ss16 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6144 Update font-iosevka-ss15 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6143 Update font-iosevka-ss14 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6142 Update font-iosevka-ss13 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6141 Update font-iosevka-ss12 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6140 Update font-iosevka-ss11 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6139 Update font-iosevka-ss10 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6138 Update font-iosevka-ss09 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6137 Update font-iosevka-ss08 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6136 Update font-iosevka-ss07 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6135 Update font-iosevka-ss06 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6134 Update font-iosevka-ss05 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6133 Update font-iosevka-ss03 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6132 Update font-iosevka-ss02 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6131 Update font-iosevka-ss01 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6130 Update font-iosevka-slab from 15.6.3 to 16.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6129 Update font-iosevka-etoile from 15.6.3 to 16.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6128 Update font-iosevka-curly-slab from 15.6.3 to 16.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6127 Update font-iosevka-curly from 15.6.3 to 16.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6126 Update font-iosevka-aile from 15.6.3 to 16.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6125 Update font-iosevka from 15.6.3 to 16.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6148 Update font-iosevka-ss04 from 15.6.3 to 16.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6154 cascadia-code font use ttf variable format
  Casks/font-cascadia-code-pl.rb
  Casks/font-cascadia-code.rb
  Casks/font-cascadia-mono-pl.rb
  Casks/font-cascadia-mono.rb
Labels: automerge-skip

#6156 Create font-maple.rb
  Casks/font-maple.rb
Labels: new cask

#6157 Update font-meslo-lg-nerd-font from 2.1.0 to 2.2.0
  Casks/font-meslo-lg-nerd-font.rb
Labels: bump-cask-pr

#6158 Update font-hack-nerd-font from 2.1.0 to 2.2.0
  Casks/font-hack-nerd-font.rb
Labels: bump-cask-pr

#6161 Update font-lxgw-bright from 2.149 to 2.155
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#6162 Update font-iosevka-nerd-font from 2.1.0 to 2.2.1
  Casks/font-iosevka-nerd-font.rb
Labels: bump-cask-pr

#6163 Update font-3270 from 3.0.0 to 3.0.1
  Casks/font-3270.rb
Labels: bump-cask-pr

#6164 Update font-3270-nerd-font from 2.1.0 to 2.2.1
  Casks/font-3270-nerd-font.rb
Labels: bump-cask-pr

#6165 Update font-agave-nerd-font from 2.1.0 to 2.2.1
  Casks/font-agave-nerd-font.rb
Labels: bump-cask-pr

#6159 Update font-fira-code-nerd-font from 2.1.0 to 2.2.0
  Casks/font-fira-code-nerd-font.rb
Labels: bump-cask-pr

#6166 Update font-anonymice-nerd-font from 2.1.0 to 2.2.1
  Casks/font-anonymice-nerd-font.rb
Labels: bump-cask-pr

#6167 Update font-arimo-nerd-font from 2.1.0 to 2.2.1
  Casks/font-arimo-nerd-font.rb
Labels: bump-cask-pr

#6168 Update font-aurulent-sans-mono-nerd-font from 2.1.0 to 2.2.1
  Casks/font-aurulent-sans-mono-nerd-font.rb
Labels: bump-cask-pr

#6192 Update font-iosevka-ss10 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6191 Update font-iosevka-ss18 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6190 Update font-iosevka-ss17 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6189 Update font-iosevka-ss16 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6188 Update font-iosevka-ss15 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6187 Update font-iosevka-ss14 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6186 Update font-iosevka-ss13 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6185 Update font-iosevka-ss12 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6184 Update font-iosevka-ss11 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6183 Update font-iosevka-ss09 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6182 Update font-iosevka-ss08 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6181 Update font-iosevka-ss07 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6180 Update font-iosevka-ss06 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6179 Update font-iosevka-ss05 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6178 Update font-iosevka-ss04 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6177 Update font-iosevka-ss03 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6176 Update font-iosevka-ss02 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6175 Update font-iosevka-ss01 from 16.0.0 to 16.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6174 Update font-iosevka-slab from 16.0.0 to 16.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6173 Update font-iosevka-etoile from 16.0.0 to 16.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6172 Update font-iosevka-curly-slab from 16.0.0 to 16.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6171 Update font-iosevka-curly from 16.0.0 to 16.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6170 Update font-iosevka-aile from 16.0.0 to 16.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6169 Update font-iosevka from 16.0.0 to 16.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6196 Update font-meslo-lg-nerd-font from 2.2.0 to 2.2.1
  Casks/font-meslo-lg-nerd-font.rb
Labels: bump-cask-pr

#6195 Update font-hack-nerd-font from 2.2.0 to 2.2.1
  Casks/font-hack-nerd-font.rb
Labels: bump-cask-pr

#6222 Update font-sarasa-gothic from 0.36.8 to 0.37.0
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6221 Update font-iosevka-ss18 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6220 Update font-iosevka-ss17 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6219 Update font-iosevka-ss16 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6218 Update font-iosevka-ss15 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6217 Update font-iosevka-ss14 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6216 Update font-iosevka-ss13 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6215 Update font-iosevka-ss12 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6214 Update font-iosevka-ss11 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6213 Update font-iosevka-ss10 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6212 Update font-iosevka-ss09 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6211 Update font-iosevka-ss08 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6210 Update font-iosevka-ss07 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6209 Update font-iosevka-ss06 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6208 Update font-iosevka-ss05 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6207 Update font-iosevka-ss04 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6206 Update font-iosevka-ss03 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6205 Update font-iosevka-ss02 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6204 Update font-iosevka-ss01 from 16.0.1 to 16.0.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6202 Update font-iosevka-etoile from 16.0.1 to 16.0.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6201 Update font-iosevka-curly-slab from 16.0.1 to 16.0.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6200 Update font-iosevka-curly from 16.0.1 to 16.0.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6198 Update font-iosevka from 16.0.1 to 16.0.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6223 Update font-martian-mono from 0.9.0 to 0.9.1
  Casks/font-martian-mono.rb
Labels: bump-cask-pr

#6224 Add font "font-lxgw-wenkai-tc" / "LXGW WenKai TC" / "霞鶩文楷 TC"
  Casks/font-lxgw-wenkai-tc.rb
Labels: new cask

#6225 Add font "font-lxgw-wenkai-lite" / "LXGW WenKai Lite" / "霞鹜文楷 轻便版"
  Casks/font-lxgw-wenkai-lite.rb
Labels: new cask
