Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-11, with the labels that each got.

#5758 Use git instead of svn for IBM Plex Mono
  Casks/font-ibm-plex-mono.rb
Labels: in progress

#6569 Update font-plemol-jp-nf from 1.2.7 to 1.3.0
  Casks/font-plemol-jp-nf.rb
Labels: bump-cask-pr

#6568 Update font-plemol-jp-hs from 1.2.7 to 1.3.0
  Casks/font-plemol-jp-hs.rb
Labels: bump-cask-pr

#6567 Update font-plemol-jp from 1.2.7 to 1.3.0
  Casks/font-plemol-jp.rb
Labels: bump-cask-pr

#6566 Update font-code-new-roman-nerd-font from 2.1.0 to 2.2.2
  Casks/font-code-new-roman-nerd-font.rb
Labels: bump-cask-pr

#6571 Add font-plemol-jp-nfj v1.3.0
  Casks/font-plemol-jp-nfj.rb
Labels: new cask

#6582 Add font-hubot-sans v1.0
  Casks/font-hubot-sans.rb
Labels: new cask

#6583 Add font-mona-sans v1.0
  Casks/font-mona-sans.rb
Labels: new cask

#6598 font-chenyuluoyan: Update name
  Casks/font-chenyuluoyan.rb
Labels: bump-cask-pr

#6599 font-maple: Update name
  Casks/font-maple.rb
Labels: bump-cask-pr

#6574 Update `import_google_fonts` to use Git downloads.
  .github/workflows/google-fonts.yml
  developer/bin/import_google_fonts
Labels: automerge-skip

#6605 font-anonymous-pro: add livecheck
  Casks/font-anonymous-pro.rb
Labels: bump-cask-pr

#6615 Update font-cozette from 1.18.0 to 1.18.1
  Casks/font-cozette.rb
Labels: bump-cask-pr

#6616 Update font-mononoki from 1.4 to 1.5
  Casks/font-mononoki.rb
Labels: bump-cask-pr

#6617 Update font-iosevka from 16.3.6 to 16.4.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6618 Update font-iosevka-aile from 16.3.6 to 16.4.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6619 Update font-iosevka-curly from 16.3.6 to 16.4.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6620 Update font-iosevka-curly-slab from 16.3.6 to 16.4.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6621 Update font-iosevka-etoile from 16.3.6 to 16.4.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6622 Update font-iosevka-ss01 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6623 Update font-iosevka-ss02 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6624 Update font-iosevka-ss03 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6625 Update font-iosevka-ss04 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6626 Update font-iosevka-ss05 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6627 Update font-iosevka-ss06 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6628 Update font-iosevka-ss07 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6629 Update font-iosevka-ss08 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6630 Update font-iosevka-ss09 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6631 Update font-iosevka-ss10 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6632 Update font-iosevka-ss11 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6633 Update font-iosevka-ss12 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6634 Update font-iosevka-ss13 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6635 Update font-iosevka-ss14 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6636 Update font-iosevka-ss15 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6637 Update font-iosevka-ss16 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6638 Update font-iosevka-ss17 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6639 Update font-iosevka-ss18 from 16.3.6 to 16.4.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6640 Add Font Photonico Code
  Casks/font-photonico-code.rb
Labels: new cask

#6641 Update font-iosevka-slab from 16.3.6 to 16.4.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6642 Add font "Tiejili SC" / "铁蒺藜体 简"
  Casks/font-tiejili-sc.rb
Labels: new cask
