Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-04, with the labels that each got.

#5689 Update font-lxgw-wenkai from 1.232 to 1.233
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5681 add "UDEV-gothic" font
  Casks/font-udev-gothic.rb
Labels: new cask

#5694 Update font-lxgw-wenkai from 1.233 to 1.233.1
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5695 Update font-ark-pixel-10px from 2022-03-23 to 2022-04-05
  Casks/font-ark-pixel-10px.rb
Labels: bump-cask-pr

#5696 Update font-ark-pixel-12px from 2022-03-23 to 2022-04-05
  Casks/font-ark-pixel-12px.rb
Labels: bump-cask-pr

#5697 Update font-ark-pixel-16px from 2022-03-23 to 2022-04-05
  Casks/font-ark-pixel-16px.rb
Labels: bump-cask-pr

#5703 Update font-lxgw-wenkai from 1.233.1 to 1.233.3
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5704 Update font-lxgw-wenkai from 1.233.3 to 1.233.4
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5708 Update font-lxgw-wenkai from 1.233.4 to 1.233.5
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5710 Add Harano Aji / 原ノ味
  Casks/font-harano-aji.rb
Labels: awaiting user reply, new cask

#5712 Update font-lxgw-wenkai from 1.233.5 to 1.233.6
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5713 Update font-iosevka from 15.1.0 to 15.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#5714 Update font-iosevka-aile from 15.1.0 to 15.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#5715 Update font-iosevka-curly from 15.1.0 to 15.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#5716 Update font-iosevka-curly-slab from 15.1.0 to 15.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#5717 Update font-iosevka-etoile from 15.1.0 to 15.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#5718 Update font-iosevka-slab from 15.1.0 to 15.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#5719 Update font-iosevka-ss01 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#5720 Update font-iosevka-ss02 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#5721 Update font-iosevka-ss03 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#5722 Update font-iosevka-ss04 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#5723 Update font-iosevka-ss05 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#5724 Update font-iosevka-ss06 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#5725 Update font-iosevka-ss07 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#5726 Update font-iosevka-ss08 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#5727 Update font-iosevka-ss09 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#5728 Update font-iosevka-ss10 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#5729 Update font-iosevka-ss11 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#5730 Update font-iosevka-ss12 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#5731 Update font-iosevka-ss13 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#5732 Update font-iosevka-ss14 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#5733 Update font-iosevka-ss15 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#5734 Update font-iosevka-ss16 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#5735 Update font-iosevka-ss17 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#5736 Update font-iosevka-ss18 from 15.1.0 to 15.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#5738 Update font-hackgen from 2.5.3 to 2.6.1
  Casks/font-hackgen.rb
Labels: bump-cask-pr

#5739 Update font-hackgen-nerd from 2.5.3 to 2.6.1
  Casks/font-hackgen-nerd.rb
Labels: bump-cask-pr

#5740 Update font-udev-gothic from 0.1.0 to 1.0.0
  Casks/font-udev-gothic.rb
Labels: bump-cask-pr

#5741 Update font-ark-pixel-10px from 2022-04-05 to 2022-04-19
  Casks/font-ark-pixel-10px.rb
Labels: bump-cask-pr

#5742 Update font-ark-pixel-12px from 2022-04-05 to 2022-04-19
  Casks/font-ark-pixel-12px.rb
Labels: bump-cask-pr

#5743 Update font-ark-pixel-16px from 2022-04-05 to 2022-04-19
  Casks/font-ark-pixel-16px.rb
Labels: bump-cask-pr

#5745 Update font-lxgw-wenkai from 1.233.6 to 1.234
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#5701 Add UDEV Gothic NF
  Casks/font-udev-gothic-nf.rb
Labels: new cask

#5746 Update font-sarasa-gothic from 0.36.2 to 0.36.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#5749 Update font-gnu-unifont from 14.0.02 to 14.0.03
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#5750 Update font-sudo from 0.63.1 to 0.64
  Casks/font-sudo.rb
Labels: bump-cask-pr

#5752 Update font-lxgw-wenkai from 1.234 to 1.234.5
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr
