Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2022-09, with the labels that each got.

#6250 Update font-iosevka-ss18 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6249 Update font-iosevka-ss17 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6248 Update font-iosevka-ss16 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6247 Update font-iosevka-ss15 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6246 Update font-iosevka-ss14 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6245 Update font-iosevka-ss13 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6244 Update font-iosevka-ss12 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6243 Update font-iosevka-ss11 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6242 Update font-iosevka-ss10 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6241 Update font-iosevka-ss09 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6240 Update font-iosevka-ss08 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6239 Update font-iosevka-ss07 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6238 Update font-iosevka-ss06 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6237 Update font-iosevka-ss05 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6236 Update font-iosevka-ss04 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6235 Update font-iosevka-ss03 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6234 Update font-iosevka-ss02 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6233 Update font-iosevka-ss01 from 16.0.2 to 16.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6232 Update font-iosevka-slab from 16.0.2 to 16.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6231 Update font-iosevka-etoile from 16.0.2 to 16.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6230 Update font-iosevka-curly-slab from 16.0.2 to 16.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6229 Update font-iosevka-curly from 16.0.2 to 16.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6228 Update font-iosevka-aile from 16.0.2 to 16.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6227 Update font-iosevka from 16.0.2 to 16.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6251 Update font-caskaydia-cove-nerd-font from 2.1.0 to 2.2.1
  Casks/font-caskaydia-cove-nerd-font.rb
Labels: bump-cask-pr

#6256 Update font-sarasa-gothic from 0.37.0 to 0.37.1
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6255 Update font-lxgw-wenkai-lite from 1.235 to 1.240
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#6254 Update font-lxgw-wenkai-tc from 0.920 to 0.921
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#6253 Update font-lxgw-wenkai from 1.235.2 to 1.240
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#6252 Update font-lxgw-bright from 2.155 to 2.161
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#6257 Update font-iosevka-nerd-font from 2.2.1 to 2.2.2
  Casks/font-iosevka-nerd-font.rb
Labels: bump-cask-pr

#6258 Update font-meslo-lg-nerd-font from 2.2.1 to 2.2.2
  Casks/font-meslo-lg-nerd-font.rb
Labels: bump-cask-pr

#6260 Update font-fira-code-nerd-font from 2.2.1 to 2.2.2
  Casks/font-fira-code-nerd-font.rb
Labels: bump-cask-pr

#6261 Update font-hack-nerd-font from 2.2.1 to 2.2.2
  Casks/font-hack-nerd-font.rb
Labels: bump-cask-pr

#6262 font-monocraft 1.2
  Casks/font-monocraft.rb
Labels: new cask

#6263 Add font "ChenYuluoyan-Thin" / "辰宇落雁體"
  Casks/font-chenyuluoyan.rb
Labels: automerge-skip, new cask

#6264 Update font-lxgw-bright from 2.161 to 4.124 and add related font font-lxgw-bright-tc/font-lxgw-bright-gb.
  Casks/font-lxgw-bright-gb.rb
  Casks/font-lxgw-bright-tc.rb
  Casks/font-lxgw-bright.rb
Labels: automerge-skip, bump-cask-pr

#6265 Update font-caskaydia-cove-nerd-font from 2.2.1 to 2.2.2
  Casks/font-caskaydia-cove-nerd-font.rb
Labels: bump-cask-pr

#6291 Update font-lxgw-bright from 4.124 to 4.125
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#6290 Update font-iosevka-ss18 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#6289 Update font-iosevka-ss17 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#6288 Update font-iosevka-ss16 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#6287 Update font-iosevka-ss15 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#6286 Update font-iosevka-ss14 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#6285 Update font-iosevka-ss13 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#6284 Update font-iosevka-ss12 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#6283 Update font-iosevka-ss11 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#6282 Update font-iosevka-ss10 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#6281 Update font-iosevka-ss09 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#6280 Update font-iosevka-ss08 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#6279 Update font-iosevka-ss07 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#6278 Update font-iosevka-ss06 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#6277 Update font-iosevka-ss05 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#6276 Update font-iosevka-ss04 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#6275 Update font-iosevka-ss03 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#6274 Update font-iosevka-ss02 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#6273 Update font-iosevka-ss01 from 16.1.0 to 16.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#6272 Update font-iosevka-slab from 16.1.0 to 16.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#6271 Update font-iosevka-etoile from 16.1.0 to 16.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#6269 Update font-iosevka-curly-slab from 16.1.0 to 16.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#6268 Update font-iosevka-curly from 16.1.0 to 16.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#6267 Update font-iosevka-aile from 16.1.0 to 16.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#6266 Update font-iosevka from 16.1.0 to 16.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#6294 Update font-sudo from 0.65 to 0.68
  Casks/font-sudo.rb
Labels: bump-cask-pr

#6297 Update font-monocraft from 1.3 to 1.3
  Casks/font-monocraft.rb
Labels: bump-cask-pr

#6298 Update font-dejavu-sans-mono-nerd-font from 2.2.1 to 2.2.2
  Casks/font-dejavu-sans-mono-nerd-font.rb
Labels: bump-cask-pr

#6299 Update font-juliamono from 0.045 to 0.046
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#6300 Add font-plemol-jp v1.2.7
  Casks/font-plemol-jp.rb
Labels: new cask

#6301 Add font-plemol-jp-nf v1.2.7
  Casks/font-plemol-jp-nf.rb
Labels: new cask

#6302 Add font-plemol-jp-hs v1.2.7
  Casks/font-plemol-jp-hs.rb
Labels: new cask

#6303 Update font-sarasa-gothic from 0.37.1 to 0.37.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6306 Update font-sarasa-gothic from 0.37.2 to 0.37.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6305 Update font-go-mono-nerd-font from 2.1.0 to 2.2.2
  Casks/font-go-mono-nerd-font.rb
Labels: bump-cask-pr

#6307 Update font-sarasa-gothic from 0.37.3 to 0.37.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#6313 Update font-lxgw-wenkai from 1.240 to 1.245.1
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#6314 Update font-lxgw-wenkai-lite from 1.240 to 1.245.1
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#6315 Update font-lxgw-wenkai-tc from 0.921 to 0.922.1
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#6318 Update font-lxgw-bright-gb from 4.124 to 4.132.4
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#6317 Update font-lxgw-bright-tc from 4.124 to 4.132.4
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#6319 Update font-ibm-plex from 6.1.0 to 6.1.1
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr
