Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-11, with the labels that each got.

#8609 font-material-symbols: add cask
  Casks/font-material-symbols.rb
Labels: new cask

#8610 font-cubic-11 1.100
  Casks/font-cubic-11.rb
Labels: bump-cask-pr

#8611 font-gnu-unifont 15.1.04
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#8614 Correcting checksums for `font-geist` and `font-geist-mono`
  Casks/font-geist-mono.rb
  Casks/font-geist.rb
Labels: automerge-skip

#8618 font-iosevka 27.3.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8619 font-iosevka-aile 27.3.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8620 font-iosevka-curly 27.3.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8621 font-iosevka-curly-slab 27.3.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8622 font-iosevka-etoile 27.3.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8623 font-iosevka-ss01 27.3.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8625 font-iosevka-ss03 27.3.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8627 font-iosevka-ss05 27.3.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8628 font-iosevka-ss06 27.3.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8630 font-iosevka-ss08 27.3.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8631 font-iosevka-ss09 27.3.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8633 font-iosevka-ss11 27.3.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8634 font-iosevka-ss12 27.3.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8636 font-iosevka-ss14 27.3.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8638 font-iosevka-ss16 27.3.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8624 font-iosevka-ss02 27.3.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8639 font-iosevka-ss17 27.3.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8629 font-iosevka-ss07 27.3.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8640 font-iosevka-ss18 27.3.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8632 font-iosevka-ss10 27.3.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8637 font-iosevka-ss15 27.3.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8635 font-iosevka-ss13 27.3.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8626 font-iosevka-ss04 27.3.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8641 font-iosevka-slab 27.3.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8642 font-sarasa-gothic 0.42.5
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8645 font-pretendard 1.3.9
  Casks/font-pretendard.rb
Labels: bump-cask-pr

#8644 font-commit-mono 1.141
  Casks/font-commit-mono.rb
Labels: bump-cask-pr

#8646 font-pretendard-std 1.3.9
  Casks/font-pretendard-std.rb
Labels: bump-cask-pr

#8647 font-pretendard-jp 1.3.9
  Casks/font-pretendard-jp.rb
Labels: bump-cask-pr

#8649 font-geist-mono 1.0.1
  Casks/font-geist-mono.rb
Labels: bump-cask-pr

#8650 font-geist 1.0.1
  Casks/font-geist.rb
Labels: bump-cask-pr

#8651 font-monaspace: add cask
  Casks/font-monaspace.rb
Labels: new cask

#8653 font-plangothic 1.8.5752
  Casks/font-plangothic.rb
Labels: bump-cask-pr

#8654 font-firge 0.3.0
  Casks/font-firge.rb
Labels: bump-cask-pr

#8678 font-iosevka-ss18 27.3.5
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8677 font-iosevka-ss17 27.3.5
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8676 font-iosevka-ss16 27.3.5
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8675 font-iosevka-ss15 27.3.5
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8674 font-iosevka-ss14 27.3.5
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8673 font-iosevka-ss13 27.3.5
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8672 font-iosevka-ss12 27.3.5
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8671 font-iosevka-ss11 27.3.5
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8670 font-iosevka-ss10 27.3.5
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8669 font-iosevka-ss09 27.3.5
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8668 font-iosevka-ss08 27.3.5
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8667 font-iosevka-ss07 27.3.5
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8666 font-iosevka-ss06 27.3.5
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8665 font-iosevka-ss05 27.3.5
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8664 font-iosevka-ss04 27.3.5
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8663 font-iosevka-ss03 27.3.5
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8662 font-iosevka-ss02 27.3.5
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8661 font-iosevka-ss01 27.3.5
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8660 font-iosevka-etoile 27.3.5
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8659 font-iosevka-curly-slab 27.3.5
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8658 font-iosevka-curly 27.3.5
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8657 font-iosevka 27.3.5
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8656 font-iosevka-aile 27.3.5
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8683 font-sarasa-gothic 0.42.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8684 font-iosevka-slab 27.3.5
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8685 font-lxgw-heartserif 0.114
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#8686 font-lxgw-neozhisong 0.114
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#8687 font-lxgw-neoxihei 1.108
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#8688 font-lxgw-fasmartgothic 1.108
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#8689 font-chiron-hei-hk 2.509
  Casks/font-chiron-hei-hk.rb
Labels: bump-cask-pr

#8690 font-chiron-sung-hk 1.011
  Casks/font-chiron-sung-hk.rb
Labels: bump-cask-pr

#8693 font-inter 4.0
  Casks/font-inter.rb
Labels: bump-cask-pr

#8694 font-commit-mono 1.142
  Casks/font-commit-mono.rb
Labels: bump-cask-pr

#8698 font-sudo 0.78
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8697 font-spleen 2.0.1
  Casks/font-spleen.rb
Labels: bump-cask-pr

#8696 font-cozette 1.23.1
  Casks/font-cozette.rb
Labels: bump-cask-pr

#8695 Fixed URLs for fonts and changed to TTF
  Casks/font-ia-writer-duospace.rb
Labels: missing description

#8704 font-aurulent-nerd-font: remove duplicate
  Casks/font-aurulent-nerd-font.rb
  cask_renames.json
Labels: automerge-skip

#8708 [fix] font source url
  Casks/font-elice-digital-baeum.rb
Labels: missing description

#8711 font-ark-pixel-10px-monospaced 2023.11.26
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#8712 font-ark-pixel-12px-monospaced 2023.11.26
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#8713 font-ark-pixel-16px-monospaced 2023.11.26
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#8714 font-ark-pixel-10px-proportional 2023.11.26
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#8715 font-ark-pixel-12px-proportional 2023.11.26
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#8716 font-ark-pixel-16px-proportional 2023.11.26
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#8719 font-fontawesome 6.5.0
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#8724 font-geist-mono 1.1.0
  Casks/font-geist-mono.rb
Labels: bump-cask-pr

#8726 font-juliamono 0.052
  Casks/font-juliamono.rb
Labels: bump-cask-pr
