Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-02, with the labels that each got.

#7051 Update Nerd Font casks to v2.3.3
  Casks/font-3270-nerd-font.rb
  Casks/font-agave-nerd-font.rb
  Casks/font-anonymice-nerd-font.rb
  Casks/font-arimo-nerd-font.rb
  Casks/font-aurulent-nerd-font.rb
  Casks/font-bigblue-terminal-nerd-font.rb
  Casks/font-bitstream-vera-sans-mono-nerd-font.rb
  Casks/font-blex-mono-nerd-font.rb
  Casks/font-caskaydia-cove-nerd-font.rb
  Casks/font-code-new-roman-nerd-font.rb
  Casks/font-cousine-nerd-font.rb
  Casks/font-daddy-time-mono-nerd-font.rb
  Casks/font-dejavu-sans-mono-nerd-font.rb
  Casks/font-droid-sans-mono-nerd-font.rb
  Casks/font-fantasque-sans-mono-nerd-font.rb
  Casks/font-fira-mono-nerd-font.rb
  Casks/font-gohufont-nerd-font.rb
  Casks/font-hasklug-nerd-font.rb
  Casks/font-heavy-data-nerd-font.rb
  Casks/font-hurmit-nerd-font.rb
  Casks/font-im-writing-nerd-font.rb
  Casks/font-inconsolata-go-nerd-font.rb
  Casks/font-inconsolata-lgc-nerd-font.rb
  Casks/font-inconsolata-nerd-font.rb
  Casks/font-jetbrains-mono-nerd-font.rb
  Casks/font-lekton-nerd-font.rb
  Casks/font-liberation-nerd-font.rb
  Casks/font-lilex-nerd-font.rb
  Casks/font-monofur-nerd-font.rb
  Casks/font-monoid-nerd-font.rb
  Casks/font-mononoki-nerd-font.rb
  Casks/font-mplus-nerd-font.rb
  Casks/font-noto-nerd-font.rb
  Casks/font-open-dyslexic-nerd-font.rb
  Casks/font-overpass-nerd-font.rb
  Casks/font-profont-nerd-font.rb
  Casks/font-proggy-clean-tt-nerd-font.rb
  Casks/font-roboto-mono-nerd-font.rb
  Casks/font-sauce-code-pro-nerd-font.rb
  Casks/font-shure-tech-mono-nerd-font.rb
  Casks/font-space-mono-nerd-font.rb
  Casks/font-symbols-only-nerd-font.rb
  Casks/font-terminess-ttf-nerd-font.rb
  Casks/font-tinos-nerd-font.rb
  Casks/font-ubuntu-mono-nerd-font.rb
  Casks/font-ubuntu-nerd-font.rb
  Casks/font-victor-mono-nerd-font.rb
Labels: automerge-skip

#7052 Update font-delugia from 2111.01.1 to 2111.01.2
  Casks/font-delugia-book.rb
  Casks/font-delugia-complete.rb
  Casks/font-delugia-mono-complete.rb
  Casks/font-delugia-mono-powerline.rb
  Casks/font-delugia-powerline.rb
Labels: automerge-skip

#7080 Update font-monocraft from 2.3 to 2.4
  Casks/font-monocraft.rb
Labels: bump-cask-pr

#7084 Update font-juliamono from 0.047 to 0.048
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#7079 Remove appcasts.
  Casks/font-aileron.rb
  Casks/font-arial-black.rb
  Casks/font-arial.rb
  Casks/font-comic-sans-ms.rb
  Casks/font-computer-modern.rb
  Casks/font-courier-new.rb
  Casks/font-dejavu.rb
  Casks/font-free-mono-tengwar.rb
  Casks/font-georgia.rb
  Casks/font-han-nom-a.rb
  Casks/font-impact.rb
  Casks/font-junicode.rb
  Casks/font-linux-biolinum.rb
  Casks/font-linux-libertine.rb
  Casks/font-ricty-diminished.rb
Labels: automerge-skip, missing description

#7085 Update font-lxgw-bright from 4.156 to 4.158
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#7086 Update font-lxgw-bright-gb from 4.156 to 4.158
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#7087 Update font-lxgw-bright-tc from 4.156 to 4.158
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#7088 Update font-lxgw-wenkai-tc from 0.931 to 0.932
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#7089 Update font-iosevka-slab from 17.0.4 to 18.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7115 Update font-sarasa-gothic from 0.40.0 to 0.40.1
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#7114 Update font-iosevka-ss18 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7113 Update font-iosevka-ss17 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7112 Update font-iosevka-ss16 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7111 Update font-iosevka-ss15 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7110 Update font-iosevka-ss14 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7109 Update font-iosevka-ss13 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7108 Update font-iosevka-ss12 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7107 Update font-iosevka-ss11 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7106 Update font-iosevka-ss10 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7105 Update font-iosevka-ss09 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7104 Update font-iosevka-ss08 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7103 Update font-iosevka-ss07 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7102 Update font-iosevka-ss06 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7101 Update font-iosevka-ss05 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7100 Update font-iosevka-ss04 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7099 Update font-iosevka-ss03 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7098 Update font-iosevka-ss02 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7097 Update font-iosevka-ss01 from 18.0.0 to 19.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7096 Update font-iosevka-etoile from 18.0.0 to 19.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7095 Update font-iosevka-curly-slab from 18.0.0 to 19.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7094 Update font-iosevka-curly from 18.0.0 to 19.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7093 Update font-iosevka-aile from 18.0.0 to 19.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7092 Update font-iosevka from 18.0.0 to 19.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7116 Update font-andika from 6.101 to 6.200
  Casks/font-andika.rb
Labels: bump-cask-pr

#7117 Update font-aurulent-sans-mono-nerd-font from 2.2.2 to 2.3.3
  Casks/font-aurulent-sans-mono-nerd-font.rb
Labels: bump-cask-pr

#7118 Update font-charis-sil from 6.101 to 6.200
  Casks/font-charis-sil.rb
Labels: bump-cask-pr

#7120 Update font-fontawesome from 6.2.1 to 6.3.0
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#7123 Update font-maple from 5.5 to 6.1
  Casks/font-maple.rb
Labels: bump-cask-pr

#7124 Update font-iosevka from 19.0.0 to 19.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7126 Update font-iosevka-curly from 19.0.0 to 19.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7127 Update font-iosevka-curly-slab from 19.0.0 to 19.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7128 Update font-iosevka-etoile from 19.0.0 to 19.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7129 Update font-iosevka-ss01 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7130 Update font-iosevka-ss02 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7131 Update font-iosevka-ss03 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7132 Update font-iosevka-ss04 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7133 Update font-iosevka-ss05 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7134 Update font-iosevka-ss06 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7135 Update font-iosevka-ss07 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7136 Update font-iosevka-ss08 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7137 Update font-iosevka-ss09 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7138 Update font-iosevka-ss10 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7139 Update font-iosevka-ss11 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7140 Update font-iosevka-ss12 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7141 Update font-iosevka-ss13 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7142 Update font-iosevka-ss14 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7143 Update font-iosevka-ss15 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7144 Update font-iosevka-ss16 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7145 Update font-iosevka-ss17 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7146 Update font-iosevka-ss18 from 19.0.0 to 19.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7125 Update font-iosevka-aile from 19.0.0 to 19.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7149 Update font-monocraft from 2.4 to 2.5
  Casks/font-monocraft.rb
Labels: bump-cask-pr

#7152 Update font-maple from 6.1 to 6.2
  Casks/font-maple.rb
Labels: bump-cask-pr, missing zap

#7153 Add font-liga-comic-mono latest
  Casks/font-liga-comic-mono.rb
Labels: ci-syntax-only, new cask, missing zap

#7157 font-mononki: Update to version 1.6
  Casks/font-mononoki.rb
Labels: missing zap

#7162 Update font-ibm-plex from 6.1.1 to 6.2.0
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr, missing zap

#7160 Update font-iosevka-slab from 19.0.0 to 19.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7159 Update font-harano-aji from 20220220 to 20230223
  Casks/font-harano-aji.rb
Labels: bump-cask-pr, missing zap

#7158 Update font-cozette from 1.19.0 to 1.19.1
  Casks/font-cozette.rb
Labels: bump-cask-pr, missing zap

#7161 Update font-spleen from 1.9.1 to 1.9.2
  Casks/font-spleen.rb
Labels: bump-cask-pr, missing description, missing zap
