Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-05, with the labels that each got.

#7471 font-meslo-lg-nerd-font 3.0.0
  Casks/font-meslo-lg-nerd-font.rb
Labels: bump-cask-pr, missing zap

#7472 Add font cask "font-iosevkaterm-nerd-font"
  Casks/font-iosevkaterm-nerd-font.rb
Labels: missing zap, new cask

#7470 font-iosevka-nerd-font 3.0.0
  Casks/font-iosevka-nerd-font.rb
Labels: bump-cask-pr, missing zap

#7473 Update sha256 for font-lxgw-bright family.
  Casks/font-lxgw-bright-gb.rb
  Casks/font-lxgw-bright-tc.rb
  Casks/font-lxgw-bright.rb
Labels: automerge-skip, missing zap

#7525 [ci] Update Nerd Font casks to v3.0.0
  Casks/font-3270-nerd-font.rb
  Casks/font-agave-nerd-font.rb
  Casks/font-anonymice-nerd-font.rb
  Casks/font-arimo-nerd-font.rb
  Casks/font-aurulent-nerd-font.rb
  Casks/font-bigblue-terminal-nerd-font.rb
  Casks/font-bitstream-vera-sans-mono-nerd-font.rb
  Casks/font-blex-mono-nerd-font.rb
  Casks/font-caskaydia-cove-nerd-font.rb
  Casks/font-code-new-roman-nerd-font.rb
  Casks/font-comic-shanns-mono-nerd-font.rb
  Casks/font-cousine-nerd-font.rb
  Casks/font-daddy-time-mono-nerd-font.rb
  Casks/font-dejavu-sans-mono-nerd-font.rb
  Casks/font-droid-sans-mono-nerd-font.rb
  Casks/font-fantasque-sans-mono-nerd-font.rb
  Casks/font-fira-code-nerd-font.rb
  Casks/font-fira-mono-nerd-font.rb
  Casks/font-go-mono-nerd-font.rb
  Casks/font-gohufont-nerd-font.rb
  Casks/font-hack-nerd-font.rb
  Casks/font-hasklug-nerd-font.rb
  Casks/font-heavy-data-nerd-font.rb
  Casks/font-hurmit-nerd-font.rb
  Casks/font-im-writing-nerd-font.rb
  Casks/font-inconsolata-go-nerd-font.rb
  Casks/font-inconsolata-lgc-nerd-font.rb
  Casks/font-inconsolata-nerd-font.rb
  Casks/font-iosevka-nerd-font.rb
  Casks/font-iosevka-term-nerd-font.rb
  Casks/font-jetbrains-mono-nerd-font.rb
  Casks/font-lekton-nerd-font.rb
  Casks/font-liberation-nerd-font.rb
  Casks/font-lilex-nerd-font.rb
  Casks/font-monofur-nerd-font.rb
  Casks/font-monoid-nerd-font.rb
  Casks/font-mononoki-nerd-font.rb
  Casks/font-mplus-nerd-font.rb
  Casks/font-noto-nerd-font.rb
  Casks/font-open-dyslexic-nerd-font.rb
  Casks/font-overpass-nerd-font.rb
  Casks/font-profont-nerd-font.rb
  Casks/font-proggy-clean-tt-nerd-font.rb
  Casks/font-roboto-mono-nerd-font.rb
  Casks/font-sauce-code-pro-nerd-font.rb
  Casks/font-shure-tech-mono-nerd-font.rb
  Casks/font-space-mono-nerd-font.rb
  Casks/font-symbols-only-nerd-font.rb
  Casks/font-terminess-ttf-nerd-font.rb
  Casks/font-tinos-nerd-font.rb
  Casks/font-ubuntu-mono-nerd-font.rb
  Casks/font-ubuntu-nerd-font.rb
  Casks/font-victor-mono-nerd-font.rb
Labels: automerge-skip, missing zap

#7527 font-iosevkaterm-nerd-font: remove
  Casks/font-iosevkaterm-nerd-font.rb
Labels: marked for removal/rejection

#7556 font-sarasa-gothic 0.40.7
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7554 font-iosevka-ss17 22.1.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7553 font-iosevka-ss16 22.1.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7552 font-iosevka-ss15 22.1.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7551 font-iosevka-ss14 22.1.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7550 font-iosevka-ss13 22.1.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7549 font-iosevka-ss12 22.1.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7548 font-iosevka-ss11 22.1.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7547 font-iosevka-ss10 22.1.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7546 font-iosevka-ss09 22.1.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7545 font-iosevka-ss08 22.1.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7544 font-iosevka-ss07 22.1.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7543 font-iosevka-ss06 22.1.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7542 font-iosevka-ss05 22.1.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7541 font-iosevka-ss04 22.1.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7540 font-iosevka-ss03 22.1.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7539 font-iosevka-ss02 22.1.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7538 font-iosevka-ss01 22.1.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7537 font-iosevka-slab 22.1.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7536 font-iosevka-etoile 22.1.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7535 font-iosevka-curly-slab 22.1.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7534 font-iosevka-curly 22.1.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7533 font-iosevka-aile 22.1.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7532 font-iosevka 22.1.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7555 font-iosevka-ss18 22.1.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7562 font-ibm-plex 6.3.0
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr, missing zap

#7563 font-codicon 0.0.33
  Casks/font-codicon.rb
Labels: bump-cask-pr, missing zap

#7566 font-juliamono 0.049
  Casks/font-juliamono.rb
Labels: bump-cask-pr, missing zap

#7567 Wrong hash
  Casks/font-brill.rb
Labels: missing description, missing zap

#7531 Update font-hackgen, font-hackgen-nerd from 2.8.0 to 2.9.0
  Casks/font-hackgen-nerd.rb
  Casks/font-hackgen.rb
Labels: automerge-skip, missing zap

#7568 font-udev-gothic 1.3.0
  Casks/font-udev-gothic.rb
Labels: bump-cask-pr, missing zap

#7569 font-udev-gothic-nf 1.3.0
  Casks/font-udev-gothic-nf.rb
Labels: bump-cask-pr, missing zap

#7570 font-plemol-jp 1.6.0
  Casks/font-plemol-jp.rb
Labels: bump-cask-pr, missing zap

#7571 font-plemol-jp-nf 1.6.0
  Casks/font-plemol-jp-nf.rb
Labels: bump-cask-pr, missing zap

#7572 font-plemol-jp-hs 1.6.0
  Casks/font-plemol-jp-hs.rb
Labels: bump-cask-pr, missing zap

#7573 Remove `PlemolJP NFJ`
  Casks/font-plemol-jp-nfj.rb
Labels: marked for removal/rejection

#7575 [ci] Update Nerd Font casks to v3.0.1
  Casks/font-3270-nerd-font.rb
  Casks/font-agave-nerd-font.rb
  Casks/font-anonymice-nerd-font.rb
  Casks/font-arimo-nerd-font.rb
  Casks/font-aurulent-nerd-font.rb
  Casks/font-bigblue-terminal-nerd-font.rb
  Casks/font-bitstream-vera-sans-mono-nerd-font.rb
  Casks/font-blex-mono-nerd-font.rb
  Casks/font-caskaydia-cove-nerd-font.rb
  Casks/font-code-new-roman-nerd-font.rb
  Casks/font-comic-shanns-mono-nerd-font.rb
  Casks/font-cousine-nerd-font.rb
  Casks/font-daddy-time-mono-nerd-font.rb
  Casks/font-dejavu-sans-mono-nerd-font.rb
  Casks/font-droid-sans-mono-nerd-font.rb
  Casks/font-fantasque-sans-mono-nerd-font.rb
  Casks/font-fira-code-nerd-font.rb
  Casks/font-fira-mono-nerd-font.rb
  Casks/font-go-mono-nerd-font.rb
  Casks/font-gohufont-nerd-font.rb
  Casks/font-hack-nerd-font.rb
  Casks/font-hasklug-nerd-font.rb
  Casks/font-heavy-data-nerd-font.rb
  Casks/font-hurmit-nerd-font.rb
  Casks/font-im-writing-nerd-font.rb
  Casks/font-inconsolata-go-nerd-font.rb
  Casks/font-inconsolata-lgc-nerd-font.rb
  Casks/font-inconsolata-nerd-font.rb
  Casks/font-iosevka-nerd-font.rb
  Casks/font-iosevka-term-nerd-font.rb
  Casks/font-jetbrains-mono-nerd-font.rb
  Casks/font-lekton-nerd-font.rb
  Casks/font-liberation-nerd-font.rb
  Casks/font-lilex-nerd-font.rb
  Casks/font-meslo-lg-nerd-font.rb
  Casks/font-monofur-nerd-font.rb
  Casks/font-monoid-nerd-font.rb
  Casks/font-mononoki-nerd-font.rb
  Casks/font-mplus-nerd-font.rb
  Casks/font-noto-nerd-font.rb
  Casks/font-open-dyslexic-nerd-font.rb
  Casks/font-overpass-nerd-font.rb
  Casks/font-profont-nerd-font.rb
  Casks/font-proggy-clean-tt-nerd-font.rb
  Casks/font-roboto-mono-nerd-font.rb
  Casks/font-sauce-code-pro-nerd-font.rb
  Casks/font-shure-tech-mono-nerd-font.rb
  Casks/font-space-mono-nerd-font.rb
  Casks/font-symbols-only-nerd-font.rb
  Casks/font-terminess-ttf-nerd-font.rb
  Casks/font-tinos-nerd-font.rb
  Casks/font-ubuntu-mono-nerd-font.rb
  Casks/font-ubuntu-nerd-font.rb
  Casks/font-victor-mono-nerd-font.rb
Labels: automerge-skip

#7599 font-iosevka-ss18 22.1.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7598 font-iosevka-ss17 22.1.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7597 font-iosevka-ss16 22.1.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7596 font-iosevka-ss15 22.1.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7595 font-iosevka-ss14 22.1.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7594 font-iosevka-ss13 22.1.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7593 font-iosevka-ss12 22.1.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7592 font-iosevka-ss11 22.1.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7591 font-iosevka-ss10 22.1.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7590 font-iosevka-ss09 22.1.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7589 font-iosevka-ss08 22.1.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7588 font-iosevka-ss07 22.1.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7587 font-iosevka-ss06 22.1.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7586 font-iosevka-ss05 22.1.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7585 font-iosevka-ss04 22.1.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7584 font-iosevka-ss03 22.1.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7583 font-iosevka-ss02 22.1.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7582 font-iosevka-ss01 22.1.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7581 font-iosevka-etoile 22.1.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7580 font-iosevka-curly-slab 22.1.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7579 font-iosevka-curly 22.1.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7578 font-iosevka-aile 22.1.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7577 font-iosevka 22.1.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7600 Remove `extended` variants for `font-iosevka-comfy`
  Casks/font-iosevka-comfy.rb
Labels: missing zap

#7602 font-iosevka-slab 22.1.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7601 font-aurulent-sans-mono-nerd-font 3.0.1
  Casks/font-aurulent-sans-mono-nerd-font.rb
Labels: bump-cask-pr

#7603 font-twilio-sans-mono
  Casks/font-twilio-sans-mono.rb
Labels: new cask

#7628 font-iosevka-ss18 23.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7627 font-iosevka-ss17 23.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7626 font-iosevka-ss16 23.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7625 font-iosevka-ss15 23.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7624 font-iosevka-ss14 23.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7623 font-iosevka-ss13 23.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7622 font-iosevka-ss12 23.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7621 font-iosevka-ss11 23.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7620 font-iosevka-ss10 23.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7619 font-iosevka-ss09 23.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7618 font-iosevka-ss08 23.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7617 font-iosevka-ss07 23.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7616 font-iosevka-ss06 23.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7615 font-iosevka-ss05 23.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7614 font-iosevka-ss04 23.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7613 font-iosevka-ss03 23.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7612 font-iosevka-ss02 23.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7611 font-iosevka-ss01 23.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7610 font-iosevka-etoile 23.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7609 font-iosevka-curly-slab 23.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7608 font-iosevka-curly 23.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7607 font-iosevka-aile 23.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7606 font-iosevka 23.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7629 font-gnu-unifont 15.0.03
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#7631 font-iosevka 24.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7632 font-iosevka-slab 24.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7633 font-iosevka-ss07 24.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7634 font-iosevka-ss14 24.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7635 font-iosevka-aile 24.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7636 font-iosevka-ss01 24.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7637 font-iosevka-ss08 24.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7638 font-iosevka-ss15 24.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7639 font-iosevka-ss02 24.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7640 font-iosevka-ss09 24.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7641 font-iosevka-ss16 24.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7642 font-iosevka-curly 24.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7643 font-iosevka-ss03 24.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7644 font-iosevka-ss10 24.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7645 font-iosevka-ss17 24.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7646 font-iosevka-curly-slab 24.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7647 font-iosevka-ss04 24.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7648 font-iosevka-ss11 24.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7649 font-iosevka-ss18 24.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7650 font-iosevka-etoile 24.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7651 font-iosevka-ss05 24.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7652 font-iosevka-ss12 24.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7653 font-iosevka-ss06 24.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7654 font-iosevka-ss13 24.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7681 font-iosevka-ss18 24.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7679 font-iosevka-ss16 24.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7678 font-iosevka-ss15 24.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7677 font-iosevka-ss14 24.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7676 font-iosevka-ss13 24.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7675 font-iosevka-ss12 24.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7674 font-iosevka-ss11 24.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7673 font-iosevka-ss10 24.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7672 font-iosevka-ss09 24.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7671 font-iosevka-ss08 24.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7670 font-iosevka-ss07 24.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7669 font-iosevka-ss06 24.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7668 font-iosevka-ss05 24.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7667 font-iosevka-ss04 24.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7666 font-iosevka-ss03 24.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7665 font-iosevka-ss02 24.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7664 font-iosevka-ss01 24.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7663 font-iosevka-slab 24.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7662 font-iosevka-etoile 24.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7661 font-iosevka-curly-slab 24.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7660 font-iosevka-curly 24.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7659 font-iosevka-aile 24.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7658 font-iosevka 24.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7680 font-iosevka-ss17 24.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7682 font-gnu-unifont 15.0.04
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#7683 font-spleen 2.0.0
  Casks/font-spleen.rb
Labels: bump-cask-pr, missing zap
