Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-08, with the labels that each got.

#7977 font-lxgw-fasmart-gothic 1.103
  Casks/font-lxgw-fasmart-gothic.rb
Labels: bump-cask-pr

#7978 font-lxgw-neoxihei 1.103
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#7975 Use https links for TeX Gyre
  Casks/font-tex-gyre-adventor.rb
  Casks/font-tex-gyre-bonum-math.rb
  Casks/font-tex-gyre-bonum.rb
  Casks/font-tex-gyre-chorus.rb
  Casks/font-tex-gyre-cursor.rb
  Casks/font-tex-gyre-heros.rb
  Casks/font-tex-gyre-pagella-math.rb
  Casks/font-tex-gyre-pagella.rb
  Casks/font-tex-gyre-schola-math.rb
  Casks/font-tex-gyre-schola.rb
  Casks/font-tex-gyre-termes-math.rb
  Casks/font-tex-gyre-termes.rb
Labels: automerge-skip, missing description

#7980 font-iosevka-aile 26.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7981 font-iosevka-curly 26.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7982 font-iosevka-curly-slab 26.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7983 font-iosevka-etoile 26.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7984 font-iosevka-ss01 26.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7985 font-iosevka-ss02 26.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7986 font-iosevka-ss03 26.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7987 font-iosevka-ss04 26.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7988 font-iosevka-ss05 26.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7989 font-iosevka-ss06 26.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7990 font-iosevka-ss07 26.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7991 font-iosevka-ss08 26.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7992 font-iosevka-ss09 26.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7993 font-iosevka-ss10 26.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7994 font-iosevka-ss11 26.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7995 font-iosevka-ss12 26.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7996 font-iosevka-ss13 26.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7997 font-iosevka-ss14 26.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7998 font-iosevka-ss15 26.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7999 font-iosevka-ss16 26.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8000 font-iosevka-ss17 26.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8001 font-iosevka-ss18 26.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7979 font-iosevka 26.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8002 font-iosevka 26.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8003 font-iosevka-aile 26.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8004 font-iosevka-curly 26.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8005 font-iosevka-curly-slab 26.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8006 font-iosevka-etoile 26.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8007 font-iosevka-ss01 26.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8008 font-iosevka-ss02 26.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8009 font-iosevka-ss03 26.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8010 font-iosevka-ss04 26.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8011 font-iosevka-ss05 26.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8012 font-iosevka-ss06 26.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8013 font-iosevka-ss07 26.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8014 font-iosevka-ss08 26.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8015 font-iosevka-ss09 26.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8016 font-iosevka-ss10 26.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8017 font-iosevka-ss11 26.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8018 font-iosevka-ss12 26.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8019 font-iosevka-ss13 26.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8020 font-iosevka-ss14 26.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8021 font-iosevka-ss15 26.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8022 font-iosevka-ss16 26.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8023 font-iosevka-ss17 26.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8024 font-iosevka-ss18 26.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8049 font-iosevka-ss18 26.0.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8048 font-iosevka-ss17 26.0.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8047 font-iosevka-ss16 26.0.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8046 font-iosevka-ss15 26.0.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8045 font-iosevka-ss14 26.0.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8044 font-iosevka-ss13 26.0.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8043 font-iosevka-ss12 26.0.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8042 font-iosevka-ss11 26.0.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8041 font-iosevka-ss10 26.0.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8040 font-iosevka-ss09 26.0.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8039 font-iosevka-ss08 26.0.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8038 font-iosevka-ss07 26.0.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8037 font-iosevka-ss06 26.0.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8036 font-iosevka-ss05 26.0.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8035 font-iosevka-ss04 26.0.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8034 font-iosevka-ss03 26.0.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8033 font-iosevka-ss02 26.0.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8032 font-iosevka-ss01 26.0.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8031 font-iosevka-etoile 26.0.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8030 font-iosevka-curly-slab 26.0.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8029 font-iosevka-curly 26.0.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8028 font-iosevka-aile 26.0.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8027 font-iosevka 26.0.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8050 font-3270: update livecheck
  Casks/font-3270.rb
Labels: bump-cask-pr

#8051 font-cozette 1.22.1
  Casks/font-cozette.rb
Labels: bump-cask-pr

#8053 font-sarasa-gothic 0.41.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8054 font-sudo 0.72
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8055 font-vollkorn: use google fonts version
  Casks/font-vollkorn.rb
Labels: bump-cask-pr

#8084 font-iosevka-ss18 26.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8083 font-iosevka-ss17 26.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8082 font-iosevka-ss16 26.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8081 font-iosevka-ss15 26.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8080 font-iosevka-ss14 26.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8079 font-iosevka-ss13 26.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8078 font-iosevka-ss12 26.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8077 font-iosevka-ss11 26.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8076 font-iosevka-ss10 26.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8075 font-iosevka-ss09 26.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8074 font-iosevka-ss08 26.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8073 font-iosevka-ss07 26.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8072 font-iosevka-ss06 26.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8071 font-iosevka-ss05 26.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8070 font-iosevka-ss04 26.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8069 font-iosevka-ss03 26.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8068 font-iosevka-ss02 26.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8067 font-iosevka-ss01 26.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8066 font-iosevka-etoile 26.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8065 font-iosevka-curly-slab 26.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8064 font-iosevka-curly 26.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8063 font-iosevka-aile 26.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8062 font-iosevka 26.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8061 Create font-lxgw-fasmartgothic.rb version 1.103.1
  Casks/font-lxgw-fasmartgothic.rb
Labels: new cask

#8093 font-ark-pixel-16px-proportional 2023.08.15
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#8092 font-ark-pixel-12px-proportional 2023.08.15
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#8091 font-ark-pixel-10px-proportional 2023.08.15
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#8090 font-ark-pixel-16px-monospaced 2023.08.15
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#8089 font-ark-pixel-12px-monospaced 2023.08.15
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#8088 font-ark-pixel-10px-monospaced 2023.08.15
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#8095 font-commit-mono: add cask
  Casks/font-commit-mono.rb
Labels: new cask

#8097 font-iosevka 26.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8098 font-iosevka-aile 26.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8099 font-iosevka-curly 26.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8100 font-iosevka-curly-slab 26.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8101 font-iosevka-etoile 26.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8102 font-iosevka-ss02 26.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8103 font-iosevka-ss03 26.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8104 font-iosevka-ss04 26.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8105 font-iosevka-ss05 26.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8106 font-iosevka-ss06 26.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8107 font-iosevka-ss07 26.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8108 font-iosevka-ss08 26.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8109 font-iosevka-ss09 26.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8110 font-iosevka-ss10 26.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8111 font-iosevka-ss11 26.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8112 font-iosevka-ss12 26.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8113 font-iosevka-ss13 26.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8114 font-iosevka-ss14 26.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8115 font-iosevka-ss15 26.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8116 font-iosevka-ss16 26.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8117 font-iosevka-ss17 26.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8118 font-iosevka-ss18 26.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8120 font-cozette 1.22.2
  Casks/font-cozette.rb
Labels: bump-cask-pr

#8121 font-iosevka-slab 26.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8122 font-iosevka-ss01 26.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8123 font-lxgw-fasmart-gothic 1.104
  Casks/font-lxgw-fasmart-gothic.rb
Labels: bump-cask-pr

#8124 font-lxgw-neoxihei 1.104
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#8125 font-lxgw-fasmartgothic 1.104
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#8126 font-sarasa-gothic 0.41.7
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8129 font-dream-han-sans 2.004
  Casks/font-dream-han-sans.rb
Labels: new cask

#8154 font-iosevka-ss18 26.2.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8153 font-iosevka-ss17 26.2.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8152 font-iosevka-ss16 26.2.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8151 font-iosevka-ss15 26.2.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8150 font-iosevka-ss14 26.2.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8149 font-iosevka-ss13 26.2.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8148 font-iosevka-ss12 26.2.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8147 font-iosevka-ss11 26.2.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8146 font-iosevka-ss10 26.2.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8145 font-iosevka-ss09 26.2.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8144 font-iosevka-ss08 26.2.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8143 font-iosevka-ss07 26.2.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr
