Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-10, with the labels that each got.

#8387 font-iosevka 27.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8388 font-iosevka-aile 27.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8389 font-iosevka-curly 27.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8390 font-iosevka-curly-slab 27.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8391 font-iosevka-etoile 27.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8392 font-iosevka-ss01 27.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8393 font-iosevka-ss02 27.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8394 font-iosevka-ss03 27.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8395 font-iosevka-ss04 27.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8396 font-iosevka-ss05 27.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8397 font-iosevka-ss06 27.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8398 font-iosevka-ss07 27.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8399 font-iosevka-ss08 27.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8400 font-iosevka-ss09 27.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8401 font-iosevka-ss10 27.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8402 font-iosevka-ss11 27.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8403 font-iosevka-ss12 27.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8404 font-iosevka-ss13 27.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8405 font-iosevka-ss14 27.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8406 font-iosevka-ss15 27.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8407 font-iosevka-ss16 27.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8408 font-iosevka-ss17 27.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8409 font-iosevka-ss18 27.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8414 font-sarasa-gothic 0.42.1
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8415 font-lxgw-wenkai 1.310
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#8413 Add font Fangzheng Fangsong 方正仿宋, Fangzheng Kaiti 方正楷体, Fangzheng Xiaobiaosong 方正小标宋
  Casks/font-fzfangsong-z02.rb
  Casks/font-fzkai-z03.rb
  Casks/font-fzxiaobiaosong-b05.rb
Labels: automerge-skip, missing description, new cask

#8419 font-commit-mono 1.139
  Casks/font-commit-mono.rb
Labels: bump-cask-pr

#8422 font-lxgw-bright-tc 5.310
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#8421 font-lxgw-bright-gb 5.310
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#8424 font-last-resort 15.100
  Casks/font-last-resort.rb
Labels: bump-cask-pr

#8425 font-last-resort-high-efficiency 15.100
  Casks/font-last-resort-high-efficiency.rb
Labels: bump-cask-pr

#8423 font-gnu-unifont 15.1.02
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#8426 font-elstobd 2.101
  Casks/font-elstobd.rb
Labels: bump-cask-pr, missing description

#8427 font-lxgw-wenkai 1.311
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#8428 font-lxgw-wenkai-lite 1.311
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#8429 font-lxgw-wenkai-tc 1.011
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#8430 font-sudo 0.76
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8431 font-hubot-sans 1.0.1
  Casks/font-hubot-sans.rb
Labels: bump-cask-pr

#8454 font-iosevka-ss18 27.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8453 font-iosevka-ss17 27.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8452 font-iosevka-ss16 27.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8451 font-iosevka-ss15 27.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8450 font-iosevka-ss14 27.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8449 font-iosevka-ss13 27.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8448 font-iosevka-ss12 27.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8447 font-iosevka-ss11 27.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8446 font-iosevka-ss10 27.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8445 font-iosevka-ss09 27.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8444 font-iosevka-ss08 27.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8443 font-iosevka-ss07 27.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8442 font-iosevka-ss06 27.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8441 font-iosevka-ss05 27.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8440 font-iosevka-ss04 27.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8439 font-iosevka-ss03 27.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8438 font-iosevka-ss02 27.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8437 font-iosevka-ss01 27.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8436 font-iosevka-etoile 27.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8435 font-iosevka-curly-slab 27.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8434 font-iosevka-curly 27.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8433 font-iosevka-aile 27.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8432 font-iosevka 27.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8457 update source of noto-emoji
  Casks/font-noto-emoji.rb
Labels: missing description

#8460 font-iosevka 27.2.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8461 font-iosevka-aile 27.2.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8462 font-iosevka-curly 27.2.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8463 font-iosevka-curly-slab 27.2.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8465 font-iosevka-ss01 27.2.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8466 font-iosevka-ss02 27.2.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8467 font-iosevka-ss03 27.2.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8468 font-iosevka-ss04 27.2.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8470 font-iosevka-ss06 27.2.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8471 font-iosevka-ss07 27.2.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8473 font-iosevka-ss09 27.2.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8475 font-iosevka-ss11 27.2.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8477 font-iosevka-ss13 27.2.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8478 font-iosevka-ss14 27.2.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8480 font-iosevka-ss16 27.2.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8482 font-iosevka-ss18 27.2.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8481 font-iosevka-ss17 27.2.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8479 font-iosevka-ss15 27.2.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8469 font-iosevka-ss05 27.2.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8476 font-iosevka-ss12 27.2.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8464 font-iosevka-etoile 27.2.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8472 font-iosevka-ss08 27.2.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8474 font-iosevka-ss10 27.2.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8483 font-iosevka-slab 27.2.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8484 font-sarasa-gothic 0.42.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8485 font-sudo 0.77
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8488 font-harano-aji 20231009
  Casks/font-harano-aji.rb
Labels: bump-cask-pr

#8489 font-lxgw-bright-tc 5.311
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#8490 font-lxgw-bright-gb 5.311
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#8491 font-lxgw-bright 5.311
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#8492 font-lxgw-fasmart-gothic 1.106
  Casks/font-lxgw-fasmart-gothic.rb
Labels: bump-cask-pr

#8494 font-lxgw-neoxihei 1.106
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#8493 font-lxgw-fasmartgothic 1.106
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#8495 Create font-lxgw-neozhisong version 0.113
  Casks/font-lxgw-neozhisong.rb
Labels: new cask

#8496 Create font-lxgw-heartserif version 0.113
  Casks/font-lxgw-heartserif.rb
Labels: new cask

#8497 Remove duplicate fonts from font-lxgw-fasmart-gothic
  Casks/font-lxgw-fasmart-gothic.rb
Labels: marked for removal/rejection

#8522 font-iosevka-ss18 27.3.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8521 font-iosevka-ss17 27.3.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8520 font-iosevka-ss16 27.3.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8519 font-iosevka-ss15 27.3.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8518 font-iosevka-ss14 27.3.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8517 font-iosevka-ss13 27.3.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8516 font-iosevka-ss12 27.3.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8515 font-iosevka-ss11 27.3.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8514 font-iosevka-ss10 27.3.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8513 font-iosevka-ss09 27.3.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8512 font-iosevka-ss08 27.3.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8511 font-iosevka-ss07 27.3.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8510 font-iosevka-ss06 27.3.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8509 font-iosevka-ss05 27.3.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8508 font-iosevka-ss04 27.3.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8507 font-iosevka-ss03 27.3.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8506 font-iosevka-ss02 27.3.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8505 font-iosevka-ss01 27.3.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8504 font-iosevka-etoile 27.3.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8503 font-iosevka-curly-slab 27.3.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8502 font-iosevka-curly 27.3.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8501 font-iosevka-aile 27.3.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8500 font-iosevka 27.3.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8499 font-lxgw-fasmartgothic 1.107
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#8498 font-lxgw-neoxihei 1.107
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#8549 font-sarasa-gothic 0.42.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8546 font-iosevka-ss17 27.3.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8538 font-iosevka-ss09 27.3.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8529 font-iosevka-slab 27.3.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8548 font-iosevka 27.3.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8547 font-iosevka-ss18 27.3.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8545 font-iosevka-ss16 27.3.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8544 font-iosevka-ss15 27.3.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8543 font-iosevka-ss14 27.3.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8542 font-iosevka-ss13 27.3.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8541 font-iosevka-ss12 27.3.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8540 font-iosevka-ss11 27.3.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8539 font-iosevka-ss10 27.3.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8537 font-iosevka-ss08 27.3.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8536 font-iosevka-ss07 27.3.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8535 font-iosevka-ss06 27.3.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8534 font-iosevka-ss05 27.3.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8533 font-iosevka-ss04 27.3.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8532 font-iosevka-ss03 27.3.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8531 font-iosevka-ss02 27.3.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8530 font-iosevka-ss01 27.3.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8528 font-iosevka-etoile 27.3.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8527 font-iosevka-curly 27.3.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8526 font-iosevka-curly-slab 27.3.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8525 font-iosevka-aile 27.3.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8524 font-gnu-unifont 15.1.03
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#8553 font-codicon 0.0.35
  Casks/font-codicon.rb
Labels: bump-cask-pr
