Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-04, with the labels that each got.

#7310 font-iosevka-aile 22.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7311 font-iosevka-curly 22.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7312 font-iosevka-etoile 22.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7313 font-iosevka-curly-slab 22.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7314 font-iosevka-slab 22.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7315 font-iosevka-ss01 22.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7316 font-iosevka-ss03 22.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7317 font-iosevka-ss02 22.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7318 font-iosevka-ss04 22.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7319 font-iosevka-ss05 22.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7320 font-iosevka-ss06 22.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7321 font-iosevka-ss07 22.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7322 font-iosevka-ss09 22.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7323 font-iosevka-ss08 22.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7324 font-iosevka-ss10 22.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7325 font-iosevka-ss11 22.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7326 font-iosevka-ss12 22.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7327 font-iosevka-ss13 22.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7328 font-iosevka-ss16 22.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7329 font-iosevka-ss15 22.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7330 font-iosevka-ss17 22.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7331 font-iosevka-ss14 22.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7332 font-iosevka-ss18 22.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7333 font-iosevka 22.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7356 font-iosevka-ss13 22.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7355 font-iosevka-ss12 22.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7353 font-iosevka-ss10 22.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7352 font-iosevka-ss09 22.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7351 font-iosevka-ss08 22.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7350 font-iosevka-ss07 22.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7348 font-iosevka-ss05 22.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7347 font-iosevka-ss04 22.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7346 font-iosevka-ss03 22.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7357 font-iosevka-ss14 22.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7358 font-iosevka-ss15 22.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7349 font-iosevka-ss06 22.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7359 font-iosevka-ss16 22.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7344 font-iosevka-ss01 22.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7354 font-iosevka-ss11 22.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7343 font-iosevka-etoile 22.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7342 font-iosevka-curly-slab 22.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7341 font-iosevka-curly 22.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7340 font-iosevka-aile 22.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7339 font-iosevka 22.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7360 font-iosevka-ss17 22.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7361 font-iosevka-ss18 22.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7345 font-iosevka-ss02 22.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7362 font-sarasa-gothic 0.40.5
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7366 font-zhudou-sans 2.000
  Casks/font-zhudou-sans.rb
Labels: bump-cask-pr, missing zap

#7371 font-iosevka 22.0.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7372 font-iosevka-aile 22.0.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7373 font-iosevka-curly 22.0.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7374 font-iosevka-curly-slab 22.0.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7375 font-iosevka-etoile 22.0.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7376 font-iosevka-ss01 22.0.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7377 font-iosevka-ss02 22.0.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7378 font-iosevka-ss03 22.0.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7379 font-iosevka-ss04 22.0.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7382 font-iosevka-ss07 22.0.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7383 font-iosevka-ss08 22.0.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7384 font-iosevka-ss09 22.0.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7385 font-iosevka-ss10 22.0.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7386 font-iosevka-ss11 22.0.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7387 font-iosevka-ss12 22.0.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7388 font-iosevka-ss13 22.0.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7389 font-iosevka-ss14 22.0.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7390 font-iosevka-ss15 22.0.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7391 font-iosevka-ss16 22.0.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7392 font-iosevka-ss17 22.0.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7393 font-iosevka-ss18 22.0.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7380 font-iosevka-ss05 22.0.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7381 font-iosevka-ss06 22.0.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7397 font-iosevka-slab 22.0.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7398 font-udev-gothic 1.2.1
  Casks/font-udev-gothic.rb
Labels: bump-cask-pr, missing zap

#7399 font-udev-gothic-nf 1.2.1
  Casks/font-udev-gothic-nf.rb
Labels: bump-cask-pr, missing zap

#7404 font-spleen 1.9.3
  Casks/font-spleen.rb
Labels: bump-cask-pr, missing zap

#7402 font-fontawesome 6.4.0
  Casks/font-fontawesome.rb
Labels: bump-cask-pr, missing zap

#7401 font-cozette 1.19.2
  Casks/font-cozette.rb
Labels: bump-cask-pr, missing zap

#7400 Add Firge and FirgeNerd
  Casks/font-firge.rb
  Casks/font-firgenerd.rb
Labels: automerge-skip, missing zap, new cask

#7403 font-lilex 2.200
  Casks/font-lilex.rb
Labels: bump-cask-pr, missing zap

#7407 font-comic-neue: remove
  Casks/font-comic-neue.rb
Labels: marked for removal/rejection

#7408 font-maple 6.3
  Casks/font-maple.rb
Labels: bump-cask-pr, missing zap

#7409 Added Monocraft Nerd
  Casks/font-monocraft-nerd-font.rb
Labels: automerge-skip, missing zap, new cask

#7412 font-iosevka 22.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7413 font-iosevka-ss18 22.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7415 font-iosevka-curly 22.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7417 font-iosevka-etoile 22.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7419 font-iosevka-ss01 22.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7421 font-iosevka-ss03 22.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7423 font-iosevka-ss05 22.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7424 font-iosevka-ss06 22.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7426 font-iosevka-ss08 22.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7428 font-iosevka-ss10 22.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7430 font-iosevka-ss12 22.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7431 font-iosevka-ss13 22.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7433 font-iosevka-ss15 22.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7435 font-iosevka-ss17 22.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7418 font-iosevka-slab 22.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7434 font-iosevka-ss16 22.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7420 font-iosevka-ss02 22.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7427 font-iosevka-ss09 22.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7432 font-iosevka-ss14 22.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7414 font-iosevka-aile 22.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7429 font-iosevka-ss11 22.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7416 font-iosevka-curly-slab 22.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7425 font-iosevka-ss07 22.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7422 font-iosevka-ss04 22.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7462 font-lxgw-wenkai 1.300
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr, missing zap

#7463 font-lxgw-wenkai-tc 1.000
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr, missing zap

#7464 font-lxgw-bright 5.300
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr, missing zap

#7465 font-lxgw-bright-gb 5.300
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr, missing zap

#7466 font-lxgw-bright-tc 5.300
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr, missing zap

#7467 font-lxgw-wenkai-lite 1.300
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr, missing zap

#7468 font-sarasa-gothic 0.40.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap
