Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-06, with the labels that each got.

#7684 font-intel-one-mono: add font
  Casks/font-intel-one-mono.rb
Labels: missing zap, new cask

#7709 font-sarasa-gothic 0.41.0
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7708 font-iosevka-ss18 24.1.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7707 font-iosevka-ss17 24.1.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7706 font-iosevka-ss16 24.1.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7705 font-iosevka-ss15 24.1.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7704 font-iosevka-ss14 24.1.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7703 font-iosevka-ss13 24.1.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7702 font-iosevka-ss12 24.1.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7701 font-iosevka-ss11 24.1.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7700 font-iosevka-ss10 24.1.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7699 font-iosevka-ss09 24.1.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7698 font-iosevka-ss08 24.1.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7697 font-iosevka-ss07 24.1.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7696 font-iosevka-ss06 24.1.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7695 font-iosevka-ss05 24.1.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7694 font-iosevka-ss04 24.1.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7693 font-iosevka-ss03 24.1.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7692 font-iosevka-ss02 24.1.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7691 font-iosevka-ss01 24.1.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7690 font-iosevka-etoile 24.1.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7689 font-iosevka-curly-slab 24.1.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7688 font-iosevka-curly 24.1.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7687 font-iosevka-aile 24.1.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7686 font-iosevka 24.1.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7710 font-juliamono 0.050
  Casks/font-juliamono.rb
Labels: bump-cask-pr, missing zap

#7713 font-iosevka-slab 24.1.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7714 [ci] Update Nerd Font casks to v3.0.2
  Casks/font-3270-nerd-font.rb
  Casks/font-agave-nerd-font.rb
  Casks/font-anonymice-nerd-font.rb
  Casks/font-arimo-nerd-font.rb
  Casks/font-aurulent-nerd-font.rb
  Casks/font-bigblue-terminal-nerd-font.rb
  Casks/font-bitstream-vera-sans-mono-nerd-font.rb
  Casks/font-blex-mono-nerd-font.rb
  Casks/font-caskaydia-cove-nerd-font.rb
  Casks/font-code-new-roman-nerd-font.rb
  Casks/font-comic-shanns-mono-nerd-font.rb
  Casks/font-cousine-nerd-font.rb
  Casks/font-daddy-time-mono-nerd-font.rb
  Casks/font-dejavu-sans-mono-nerd-font.rb
  Casks/font-droid-sans-mono-nerd-font.rb
  Casks/font-fantasque-sans-mono-nerd-font.rb
  Casks/font-fira-code-nerd-font.rb
  Casks/font-fira-mono-nerd-font.rb
  Casks/font-go-mono-nerd-font.rb
  Casks/font-gohufont-nerd-font.rb
  Casks/font-hack-nerd-font.rb
  Casks/font-hasklug-nerd-font.rb
  Casks/font-heavy-data-nerd-font.rb
  Casks/font-hurmit-nerd-font.rb
  Casks/font-im-writing-nerd-font.rb
  Casks/font-inconsolata-go-nerd-font.rb
  Casks/font-inconsolata-lgc-nerd-font.rb
  Casks/font-inconsolata-nerd-font.rb
  Casks/font-iosevka-nerd-font.rb
  Casks/font-iosevka-term-nerd-font.rb
  Casks/font-jetbrains-mono-nerd-font.rb
  Casks/font-lekton-nerd-font.rb
  Casks/font-liberation-nerd-font.rb
  Casks/font-lilex-nerd-font.rb
  Casks/font-meslo-lg-nerd-font.rb
  Casks/font-monofur-nerd-font.rb
  Casks/font-monoid-nerd-font.rb
  Casks/font-mononoki-nerd-font.rb
  Casks/font-mplus-nerd-font.rb
  Casks/font-noto-nerd-font.rb
  Casks/font-open-dyslexic-nerd-font.rb
  Casks/font-overpass-nerd-font.rb
  Casks/font-profont-nerd-font.rb
  Casks/font-proggy-clean-tt-nerd-font.rb
  Casks/font-roboto-mono-nerd-font.rb
  Casks/font-sauce-code-pro-nerd-font.rb
  Casks/font-shure-tech-mono-nerd-font.rb
  Casks/font-space-mono-nerd-font.rb
  Casks/font-symbols-only-nerd-font.rb
  Casks/font-terminess-ttf-nerd-font.rb
  Casks/font-tinos-nerd-font.rb
  Casks/font-ubuntu-mono-nerd-font.rb
  Casks/font-ubuntu-nerd-font.rb
  Casks/font-victor-mono-nerd-font.rb
Labels: automerge-skip

#7716 font-gnu-unifont 15.0.06
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#7715 font-academicons 1.9.4
  Casks/font-academicons.rb
Labels: bump-cask-pr, missing zap

#7717 font-intel-one-mono 1.2.1
  Casks/font-intel-one-mono.rb
Labels: bump-cask-pr, missing zap

#7719 font-iosevka 24.1.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7720 font-iosevka-aile 24.1.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7721 font-iosevka-curly 24.1.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7722 font-iosevka-curly-slab 24.1.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7723 font-iosevka-etoile 24.1.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7724 font-iosevka-ss01 24.1.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7725 font-iosevka-ss02 24.1.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7726 font-iosevka-ss03 24.1.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7727 font-iosevka-ss04 24.1.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7728 font-iosevka-ss05 24.1.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7729 font-iosevka-ss06 24.1.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7730 font-iosevka-ss07 24.1.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7731 font-iosevka-ss08 24.1.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7732 font-iosevka-ss09 24.1.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7733 font-iosevka-ss10 24.1.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7734 font-iosevka-ss11 24.1.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7735 font-iosevka-ss12 24.1.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7736 font-iosevka-ss13 24.1.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7737 font-iosevka-ss14 24.1.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7738 font-iosevka-ss15 24.1.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7739 font-iosevka-ss16 24.1.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7740 font-iosevka-ss17 24.1.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7741 font-iosevka-ss18 24.1.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7770 font-sarasa-gothic 0.41.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7769 font-iosevka 24.1.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7768 font-iosevka-ss18 24.1.3
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7767 font-iosevka-ss15 24.1.3
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7766 font-iosevka-ss17 24.1.3
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7765 font-iosevka-ss16 24.1.3
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7764 font-iosevka-ss14 24.1.3
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7763 font-iosevka-ss13 24.1.3
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7762 font-iosevka-ss12 24.1.3
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7761 font-iosevka-ss11 24.1.3
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7760 font-iosevka-ss10 24.1.3
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7759 font-iosevka-ss09 24.1.3
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7758 font-iosevka-ss08 24.1.3
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7757 font-iosevka-ss07 24.1.3
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7756 font-iosevka-ss06 24.1.3
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7755 font-iosevka-ss05 24.1.3
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7754 font-iosevka-ss04 24.1.3
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7753 font-iosevka-ss03 24.1.3
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7752 font-iosevka-ss02 24.1.3
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7751 font-iosevka-ss01 24.1.3
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7750 font-iosevka-slab 24.1.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7749 font-iosevka-curly 24.1.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7748 font-iosevka-etoile 24.1.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7747 font-iosevka-curly-slab 24.1.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7746 font-iosevka-aile 24.1.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7773 font-ark-pixel-10px-monospaced 2023.06.12
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7774 font-ark-pixel-12px-monospaced 2023.06.12
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7775 font-ark-pixel-16px-monospaced 2023.06.12
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7776 font-ark-pixel-10px-proportional 2023.06.12
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr, missing zap

#7778 font-ark-pixel-16px-proportional 2023.06.12
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr, missing zap

#7777 font-ark-pixel-12px-proportional 2023.06.12
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr, missing zap

#7779 Fix typos font-ark-pixel
  Casks/font-ark-pixel-10px-monospaced.rb
  Casks/font-ark-pixel-10px-proportional.rb
  Casks/font-ark-pixel-12px-monospaced.rb
  Casks/font-ark-pixel-12px-proportional.rb
  Casks/font-ark-pixel-16px-monospaced.rb
  Casks/font-ark-pixel-16px-proportional.rb
Labels: automerge-skip, missing zap

#7783 Add font-lxgw-neoxihei.rb
  Casks/font-lxgw-neoxihei.rb
Labels: new cask

#7784 font-petemoss: remove symbols in desc
  Casks/font-petemoss.rb
Labels: ci-syntax-only, missing zap

#7793 font-pretendard 1.3.7
  Casks/font-pretendard.rb
Labels: bump-cask-pr, missing zap

#7791 font-pretendard-jp 1.3.7
  Casks/font-pretendard-jp.rb
Labels: bump-cask-pr, missing zap

#7790 font-monocraft 3.0
  Casks/font-monocraft.rb
Labels: bump-cask-pr, missing zap

#7789 font-monocraft-nerd-font 3.0
  Casks/font-monocraft-nerd-font.rb
Labels: bump-cask-pr, missing zap

#7788 font-iansui 1.000
  Casks/font-iansui.rb
Labels: bump-cask-pr, missing zap

#7787 font-harano-aji 20230610
  Casks/font-harano-aji.rb
Labels: bump-cask-pr, missing zap

#7786 font-cozette 1.20.0
  Casks/font-cozette.rb
Labels: bump-cask-pr, missing zap

#7785 font-aurulent-sans-mono-nerd-font 3.0.2
  Casks/font-aurulent-sans-mono-nerd-font.rb
Labels: bump-cask-pr

#7792 font-pretendard-std 1.3.7
  Casks/font-pretendard-std.rb
Labels: bump-cask-pr, missing zap

#7816 font-iosevka-ss18 24.1.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7815 font-iosevka-ss17 24.1.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7814 font-iosevka-ss16 24.1.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7813 font-iosevka-ss15 24.1.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7812 font-iosevka-ss14 24.1.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7811 font-iosevka-ss13 24.1.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7810 font-iosevka-ss12 24.1.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7809 font-iosevka-ss11 24.1.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7808 font-iosevka-ss10 24.1.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7807 font-iosevka-ss09 24.1.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7806 font-iosevka-ss08 24.1.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7805 font-iosevka-ss07 24.1.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7804 font-iosevka-ss06 24.1.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7803 font-iosevka-ss05 24.1.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7802 font-iosevka-ss04 24.1.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7801 font-iosevka-ss03 24.1.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7800 font-iosevka-ss02 24.1.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7799 font-iosevka-ss01 24.1.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7798 font-iosevka-etoile 24.1.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7797 font-iosevka-curly-slab 24.1.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7796 font-iosevka-curly 24.1.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7795 font-iosevka-aile 24.1.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7794 font-iosevka 24.1.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7820 font-sf-pro 19.0d6e1
  Casks/font-sf-pro.rb
Labels: missing zap

#7821 font-lxgw-neoxihei 1.102
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#7822 Add font "LXGW Fasmart Gothic"
  Casks/font-lxgw-fasmart-gothic.rb
Labels: new cask

#7823 Add font cask "font-iming" / I.Ming ( I.明體 / 一點明體 / 一点明朝 / 一点明体 )
  Casks/font-iming.rb
Labels: new cask

#7824 Add font cask "font-chiron-hei-hk" / 昭源黑體 Chiron Hei HK
  Casks/font-chiron-hei-hk.rb
Labels: new cask

#7825 Add font cask "font-chiron-sung-hk" / Chiron Sung HK / 昭源宋體
  Casks/font-chiron-sung-hk.rb
Labels: ci-skip-repository, new cask

#7826 font-iosevka-slab 24.1.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7828 font-pretendard-std 1.3.8
  Casks/font-pretendard-std.rb
Labels: bump-cask-pr, missing zap

#7829 font-sarasa-gothic 0.41.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7830 font-ark-pixel-10px-monospaced 2023.06.29
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7832 font-ark-pixel-16px-monospaced 2023.06.29
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7842 font-lxgw-neoxihei 1.102.1
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#7831 font-ark-pixel-12px-monospaced 2023.06.29
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7835 font-ark-pixel-16px-proportional 2023.06.29
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr, missing zap

#7834 font-ark-pixel-12px-proportional 2023.06.29
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr, missing zap

#7833 font-ark-pixel-10px-proportional 2023.06.29
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr, missing zap

#7843 font-lxgw-fasmart-gothic 1.102.1
  Casks/font-lxgw-fasmart-gothic.rb
Labels: bump-cask-pr
