Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-07, with the labels that each got.

#7846 font-cozette 1.20.1
  Casks/font-cozette.rb
Labels: bump-cask-pr

#7872 font-iosevka-ss18 25.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7871 font-iosevka-ss17 25.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7870 font-iosevka-ss16 25.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7869 font-iosevka-ss15 25.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7868 font-iosevka-ss14 25.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7867 font-iosevka-ss13 25.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7866 font-iosevka-ss12 25.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7865 font-iosevka-ss11 25.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7864 font-iosevka-ss10 25.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7863 font-iosevka-ss09 25.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7862 font-iosevka-ss08 25.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7861 font-iosevka-ss07 25.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7860 font-iosevka-ss06 25.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7859 font-iosevka-ss05 25.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7858 font-iosevka-ss04 25.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7857 font-iosevka-ss03 25.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7856 font-iosevka-ss02 25.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7855 font-iosevka-ss01 25.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7854 font-iosevka-etoile 25.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7853 font-iosevka-curly-slab 25.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7852 font-iosevka-curly 25.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7851 font-iosevka-aile 25.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7850 font-iosevka 25.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7875 font_casker: update `zap` comment
  developer/bin/font_casker
Labels: automerge-skip

#7877 font-iosevka 25.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7879 font-iosevka-curly 25.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7880 font-iosevka-curly-slab 25.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7882 font-iosevka-ss01 25.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7884 font-iosevka-ss03 25.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7886 font-iosevka-ss05 25.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7888 font-iosevka-ss07 25.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7890 font-iosevka-ss09 25.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7892 font-iosevka-ss11 25.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7894 font-iosevka-ss13 25.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7896 font-iosevka-ss15 25.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7898 font-iosevka-ss17 25.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7885 font-iosevka-ss04 25.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7897 font-iosevka-ss16 25.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7889 font-iosevka-ss08 25.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7899 font-iosevka-ss18 25.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7893 font-iosevka-ss12 25.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7876 import_google_fonts: fallback to creator url when no google page present
  developer/bin/import_google_fonts
Labels: automerge-skip

#7878 font-iosevka-aile 25.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7881 font-iosevka-etoile 25.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7883 font-iosevka-ss02 25.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7887 font-iosevka-ss06 25.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7891 font-iosevka-ss10 25.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7895 font-iosevka-ss14 25.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7903 import_google_fonts: various updates
  developer/bin/import_google_fonts
Labels: automerge-skip

#7900 font-latin-modern: use https in URL
  Casks/font-latin-modern-math.rb
  Casks/font-latin-modern.rb
Labels: automerge-skip

#7907 font-elstobd 2.100
  Casks/font-elstobd.rb
Labels: bump-cask-pr, missing description

#7913 font-ark-pixel-16px-proportional 2023.07.15
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#7912 font-ark-pixel-12px-monospaced 2023.07.15
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#7911 font-ark-pixel-12px-proportional 2023.07.15
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#7910 font-ark-pixel-10px-proportional 2023.07.15
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#7909 font-ark-pixel-16px-monospaced 2023.07.15
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#7908 font-ark-pixel-10px-monospaced 2023.07.15
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#7915 Add font-envy-code-r-nerd-font v3.0.2
  Casks/font-envy-code-r-nerd-font.rb
Labels: new cask

#7916 font-udev-gothic 1.3.1
  Casks/font-udev-gothic.rb
Labels: bump-cask-pr

#7917 font-udev-gothic-nf 1.3.1
  Casks/font-udev-gothic-nf.rb
Labels: bump-cask-pr

#7919 font-iosevka 25.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7920 font-iosevka-aile 25.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7921 font-iosevka-curly 25.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7922 font-iosevka-curly-slab 25.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7924 font-iosevka-ss01 25.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7925 font-iosevka-ss02 25.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7926 font-iosevka-ss03 25.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7927 font-iosevka-ss04 25.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7928 font-iosevka-ss05 25.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7929 font-iosevka-ss06 25.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7930 font-iosevka-ss07 25.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7931 font-iosevka-ss08 25.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7932 font-iosevka-ss09 25.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7933 font-iosevka-ss10 25.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7934 font-iosevka-ss11 25.1.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7935 font-iosevka-ss12 25.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7936 font-iosevka-ss13 25.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7938 font-iosevka-ss15 25.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7939 font-iosevka-ss16 25.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7940 font-iosevka-ss17 25.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7941 font-iosevka-ss18 25.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7937 font-iosevka-ss14 25.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7923 font-iosevka-etoile 25.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7965 font-iosevka-ss18 25.1.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#7964 font-iosevka-ss17 25.1.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#7963 font-iosevka-ss16 25.1.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#7962 font-iosevka-ss15 25.1.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#7961 font-iosevka-ss14 25.1.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#7960 font-iosevka-ss13 25.1.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#7959 font-iosevka-ss12 25.1.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#7958 font-iosevka-ss11 25.1.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#7957 font-iosevka-ss10 25.1.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#7956 font-iosevka-ss09 25.1.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#7955 font-iosevka-ss08 25.1.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#7954 font-iosevka-ss07 25.1.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#7953 font-iosevka-ss06 25.1.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#7952 font-iosevka-ss05 25.1.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#7951 font-iosevka-ss04 25.1.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#7950 font-iosevka-ss03 25.1.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#7949 font-iosevka-ss02 25.1.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#7948 font-iosevka-ss01 25.1.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#7947 font-iosevka-slab 25.1.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#7946 font-iosevka-etoile 25.1.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#7945 font-iosevka-curly-slab 25.1.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#7944 font-iosevka-curly 25.1.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#7943 font-iosevka-aile 25.1.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#7942 font-iosevka 25.1.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#7966 Remove outdated SVN reference
  README.md
Labels: documentation, automerge-skip

#7970 font-cozette 1.22.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#7971 Add font-intone-mono-nerd-font.rb v3.0.2
  Casks/font-intone-mono-nerd-font.rb
Labels: new cask

#7973 font-pretendard-jp 1.3.8
  Casks/font-pretendard-jp.rb
Labels: bump-cask-pr, Stale

#7974 font-sarasa-gothic 0.41.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, Stale

#7972 font-bungee 1.2.1
  Casks/font-bungee.rb
Labels: bump-cask-pr, Stale
