Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-03, with the labels that each got.

#7188 Update font-sarasa-gothic from 0.40.1 to 0.40.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7187 Update font-iosevka-ss18 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7186 Update font-iosevka-ss17 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7185 Update font-iosevka-ss16 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7184 Update font-iosevka-ss15 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7183 Update font-iosevka-ss14 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7182 Update font-iosevka-ss13 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7181 Update font-iosevka-ss12 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7180 Update font-iosevka-ss11 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7179 Update font-iosevka-ss10 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7178 Update font-iosevka-ss09 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7177 Update font-iosevka-ss08 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7176 Update font-iosevka-ss07 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7175 Update font-iosevka-ss06 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7174 Update font-iosevka-ss05 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7173 Update font-iosevka-ss04 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7172 Update font-iosevka-ss03 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7171 Update font-iosevka-ss02 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7170 Update font-iosevka-ss01 from 19.0.1 to 20.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7169 Update font-iosevka-etoile from 19.0.1 to 20.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7168 Update font-iosevka-curly-slab from 19.0.1 to 20.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7167 Update font-iosevka-curly from 19.0.1 to 20.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7166 Update font-iosevka-aile from 19.0.1 to 20.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7165 Update font-iosevka from 19.0.1 to 20.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7190 Update font-iosevka-slab from 19.0.1 to 20.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7197 Update font-ark-pixel-16px-proportional from 2022.12.20 to 2023.03.08
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr, missing zap

#7196 Update font-ark-pixel-16px-monospaced from 2022.12.20 to 2023.03.08
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7194 Update font-ark-pixel-12px-monospaced from 2022.12.20 to 2023.03.08
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7193 Update font-ark-pixel-10px-proportional from 2022.12.20 to 2023.03.08
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr, missing zap

#7192 Update font-ark-pixel-10px-monospaced from 2022.12.20 to 2023.03.08
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7198 Update font-iosevka from 20.0.0 to 21.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7220 Update font-iosevka-ss18 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7219 Update font-iosevka-ss17 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7218 Update font-iosevka-ss16 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7217 Update font-iosevka-ss15 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7216 Update font-iosevka-ss14 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7215 Update font-iosevka-ss13 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7214 Update font-iosevka-ss12 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7213 Update font-iosevka-ss11 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7212 Update font-iosevka-ss10 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7211 Update font-iosevka-ss09 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7210 Update font-iosevka-ss08 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7209 Update font-iosevka-ss07 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7208 Update font-iosevka-ss06 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7207 Update font-iosevka-ss05 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7206 Update font-iosevka-ss04 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7205 Update font-iosevka-ss03 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7204 Update font-iosevka-ss02 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7203 Update font-iosevka-ss01 from 20.0.0 to 21.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7199 Update font-iosevka-aile from 20.0.0 to 21.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7201 Update font-iosevka-curly-slab from 20.0.0 to 21.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7202 Update font-iosevka-etoile from 20.0.0 to 21.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7200 Update font-iosevka-curly from 20.0.0 to 21.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7223 Update font-sarasa-gothic from 0.40.2 to 0.40.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7225 Update font-iosevka-slab from 20.0.0 to 21.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7226 Update font-jf-open-huninn from 1.1 to 2.0
  Casks/font-jf-open-huninn.rb
Labels: bump-cask-pr, missing description, missing zap

#7232 Update font-ark-pixel-16px-proportional from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr, missing zap

#7231 Update font-ark-pixel-16px-monospaced from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7230 Update font-ark-pixel-12px-proportional from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr, missing zap

#7229 Update font-ark-pixel-12px-monospaced from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7228 Update font-ark-pixel-10px-proportional from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr, missing zap

#7227 Update font-ark-pixel-10px-monospaced from 2023.03.08 to 2023.03.16
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7256 Update font-sarasa-gothic from 0.40.3 to 0.40.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr, missing zap

#7255 Update font-iosevka-ss18 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7254 Update font-iosevka-ss17 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7253 Update font-iosevka-ss16 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7252 Update font-iosevka-ss15 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7251 Update font-iosevka-ss14 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7250 Update font-iosevka-ss13 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7249 Update font-iosevka-ss12 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7247 Update font-iosevka-ss10 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7246 Update font-iosevka-ss09 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7245 Update font-iosevka-ss08 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7244 Update font-iosevka-ss07 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7243 Update font-iosevka-ss06 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7242 Update font-iosevka-ss05 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7241 Update font-iosevka-ss04 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7240 Update font-iosevka-ss03 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7239 Update font-iosevka-ss02 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7238 Update font-iosevka-ss01 from 21.0.0 to 21.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7237 Update font-iosevka-etoile from 21.0.0 to 21.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7236 Update font-iosevka-curly-slab from 21.0.0 to 21.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7235 Update font-iosevka-curly from 21.0.0 to 21.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7234 Update font-iosevka-aile from 21.0.0 to 21.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7233 Update font-iosevka from 21.0.0 to 21.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7260 Update font-iosevka-slab from 21.0.0 to 21.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7285 Update font-iosevka-ss18 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr, missing zap

#7284 Update font-iosevka-ss17 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr, missing zap

#7283 Update font-iosevka-ss16 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr, missing zap

#7282 Update font-iosevka-ss15 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr, missing zap

#7281 Update font-iosevka-ss14 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr, missing zap

#7280 Update font-iosevka-ss13 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr, missing zap

#7279 Update font-iosevka-ss12 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr, missing zap

#7278 Update font-iosevka-ss11 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr, missing zap

#7276 Update font-iosevka-ss09 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr, missing zap

#7275 Update font-iosevka-ss08 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr, missing zap

#7274 Update font-iosevka-ss07 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr, missing zap

#7273 Update font-iosevka-ss06 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr, missing zap

#7272 Update font-iosevka-ss05 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr, missing zap

#7271 Update font-iosevka-ss04 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr, missing zap

#7270 Update font-iosevka-ss03 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr, missing zap

#7269 Update font-iosevka-ss02 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr, missing zap

#7268 Update font-iosevka-ss01 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr, missing zap

#7267 Update font-iosevka-etoile from 21.1.0 to 21.1.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr, missing zap

#7266 Update font-iosevka-curly-slab from 21.1.0 to 21.1.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr, missing zap

#7265 Update font-iosevka-curly from 21.1.0 to 21.1.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr, missing zap

#7264 Update font-iosevka-aile from 21.1.0 to 21.1.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr, missing zap

#7263 Update font-iosevka from 21.1.0 to 21.1.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr, missing zap

#7277 Update font-iosevka-ss10 from 21.1.0 to 21.1.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr, missing zap

#7286 Update font-iosevka-slab from 21.1.0 to 21.1.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr, missing zap

#7288 font-tengwar-formal-csur: Move strategy after regex in livecheck block
  Casks/font-tengwar-formal-csur.rb
Labels: missing zap

#7289 font-tengwar-telcontar: Move strategy after regex in livecheck block
  Casks/font-tengwar-telcontar.rb
Labels: missing zap

#7290 Update font-plemol-jp from 1.4.0 to 1.5.0
  Casks/font-plemol-jp.rb
Labels: bump-cask-pr, missing zap

#7293 Update font-plemol-jp-nfj from 1.4.0 to 1.5.0
  Casks/font-plemol-jp-nfj.rb
Labels: bump-cask-pr, missing zap

#7292 Update font-plemol-jp-nf from 1.4.0 to 1.5.0
  Casks/font-plemol-jp-nf.rb
Labels: bump-cask-pr, missing zap

#7296 Add Cal Sans
  Casks/font-cal-sans.rb
Labels: missing zap, new cask

#7301 Update font-ark-pixel-10px-monospaced from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7302 Update font-ark-pixel-10px-proportional from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr, missing zap

#7303 Update font-ark-pixel-12px-monospaced from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7304 Update font-ark-pixel-12px-proportional from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr, missing zap

#7306 Update font-ark-pixel-16px-proportional from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr, missing zap

#7305 Update font-ark-pixel-16px-monospaced from 2023.03.16 to 2023.03.27
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr, missing zap

#7309 Add undefined medium
  Casks/font-undefined-medium.rb
Labels: automerge-skip, missing zap, new cask
