Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2023-12, with the labels that each got.

#8728 font-fontawesome 6.5.1
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#8736 Noto Serif CJK and variants: update livecheck
  Casks/font-noto-serif-cjk-hk.rb
  Casks/font-noto-serif-cjk-jp.rb
  Casks/font-noto-serif-cjk-kr.rb
  Casks/font-noto-serif-cjk-sc.rb
  Casks/font-noto-serif-cjk-tc.rb
  Casks/font-noto-serif-cjk.rb
Labels: automerge-skip

#8740 font-lxgw-wenkai 1.312
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#8747 San Fransisco and New York fonts: remove versions and include new script extensions
  Casks/font-new-york.rb
  Casks/font-sf-arabic.rb
  Casks/font-sf-armenian.rb
  Casks/font-sf-compact.rb
  Casks/font-sf-georgian.rb
  Casks/font-sf-hebrew.rb
  Casks/font-sf-mono.rb
  Casks/font-sf-pro.rb
Labels: automerge-skip

#8748 font-sudo 0.79
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8749 font-elstobd 2.103
  Casks/font-elstobd.rb
Labels: bump-cask-pr

#8752 font-iosevka 28.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8776 font-iosevka-slab 28.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8774 font-iosevka-ss17 28.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8773 font-iosevka-ss16 28.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8772 font-iosevka-ss15 28.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8771 font-iosevka-ss14 28.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8770 font-iosevka-ss13 28.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8769 font-iosevka-ss12 28.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8768 font-iosevka-ss11 28.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8767 font-iosevka-ss10 28.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8766 font-iosevka-ss09 28.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8765 font-iosevka-ss08 28.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8764 font-iosevka-ss07 28.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8763 font-iosevka-ss06 28.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8762 font-iosevka-ss05 28.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8761 font-iosevka-ss04 28.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8760 font-iosevka-ss03 28.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8759 font-iosevka-ss02 28.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8758 font-iosevka-ss01 28.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8757 font-iosevka-etoile 28.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8756 font-iosevka-curly-slab 28.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8755 font-iosevka-curly 28.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8754 font-iosevka-aile 28.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8753 font-iosevka 28.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8775 font-iosevka-ss18 28.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8780 font-iosevka-aile 28.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8779 font-iosevka 28.0.1
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8781 font-iosevka-curly 28.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8782 font-iosevka-curly-slab 28.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8784 font-iosevka-ss01 28.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8785 font-iosevka-ss02 28.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8783 font-iosevka-etoile 28.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8786 font-iosevka-ss03 28.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8788 font-iosevka-ss05 28.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8789 font-iosevka-ss06 28.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8787 font-iosevka-ss04 28.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8791 font-iosevka-ss08 28.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8792 font-iosevka-ss09 28.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8793 font-iosevka-ss10 28.0.1
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8790 font-iosevka-ss07 28.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8796 font-iosevka-ss12 28.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8801 font-iosevka-ss17 28.0.1
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8800 font-iosevka-ss16 28.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8797 font-iosevka-ss13 28.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8798 font-iosevka-ss14 28.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8799 font-iosevka-ss15 28.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8802 font-iosevka-ss18 28.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8795 font-iosevka-ss11 28.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8805 font-sudo 0.80
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8804 font-lxgw-wenkai 1.315
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#8803 font-iosevka-slab 28.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8778 font-lilex 2.400
  Casks/font-lilex.rb
Labels: bump-cask-pr

#8777 font-urbanist 1.322
  Casks/font-urbanist.rb
Labels: bump-cask-pr

#8794 Use `deprecate!` instead of `discontinued`
  Casks/font-amiri.rb
  Casks/font-clear-sans.rb
  Casks/font-xits.rb
Labels: ci-syntax-only, automerge-skip

#8806 font-urbanist 1.330
  Casks/font-urbanist.rb
Labels: bump-cask-pr

#8829 font-iosevka-ss18 28.0.2
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8828 font-iosevka-ss17 28.0.2
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8827 font-iosevka-ss16 28.0.2
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8826 font-iosevka-ss15 28.0.2
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8824 font-iosevka-ss13 28.0.2
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8823 font-iosevka-ss12 28.0.2
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8822 font-iosevka-ss11 28.0.2
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8821 font-iosevka-ss10 28.0.2
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8820 font-iosevka-ss09 28.0.2
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8819 font-iosevka-ss08 28.0.2
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8818 font-iosevka-ss07 28.0.2
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8817 font-iosevka-ss06 28.0.2
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8816 font-iosevka-ss05 28.0.2
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8815 font-iosevka-ss04 28.0.2
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8814 font-iosevka-ss03 28.0.2
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8813 font-iosevka-ss02 28.0.2
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8812 font-iosevka-ss01 28.0.2
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8811 font-iosevka-etoile 28.0.2
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8810 font-iosevka-curly-slab 28.0.2
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8809 font-iosevka-curly 28.0.2
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8808 font-iosevka-aile 28.0.2
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8807 font-iosevka 28.0.2
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8825 font-iosevka-ss14 28.0.2
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8831 font-juliamono 0.053
  Casks/font-juliamono.rb
Labels: bump-cask-pr

#8832 font-commit-mono 1.143
  Casks/font-commit-mono.rb
Labels: bump-cask-pr

#8835 font-iosevka-slab 28.0.2
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8834 font-elstobd 2.104
  Casks/font-elstobd.rb
Labels: bump-cask-pr

#8833 font-dream-han-sans 3.01
  Casks/font-dream-han-sans.rb
Labels: bump-cask-pr

#8836 font-spleen 2.0.2
  Casks/font-spleen.rb
Labels: bump-cask-pr

#8837 font-iosevka 28.0.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8838 font-iosevka-aile 28.0.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8840 font-iosevka-curly-slab 28.0.3
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8842 font-iosevka-ss01 28.0.3
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8844 font-iosevka-ss03 28.0.3
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8845 font-iosevka-ss04 28.0.3
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8847 font-iosevka-ss06 28.0.3
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8849 font-iosevka-ss08 28.0.3
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8851 font-iosevka-ss10 28.0.3
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8853 font-iosevka-ss12 28.0.3
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8855 font-iosevka-ss14 28.0.3
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8857 font-iosevka-ss16 28.0.3
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8859 font-iosevka-ss18 28.0.3
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8848 font-iosevka-ss07 28.0.3
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8841 font-iosevka-etoile 28.0.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8852 font-iosevka-ss11 28.0.3
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8846 font-iosevka-ss05 28.0.3
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8854 font-iosevka-ss13 28.0.3
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8858 font-iosevka-ss17 28.0.3
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8856 font-iosevka-ss15 28.0.3
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8850 font-iosevka-ss09 28.0.3
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8839 font-iosevka-curly 28.0.3
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8843 font-iosevka-ss02 28.0.3
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8860 font-iosevka-slab 28.0.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8861 font-sarasa-gothic 1.0.1
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8862 font-sarasa-gothic 1.0.2
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr
