Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2024-02, with the labels that each got.

#8991 font-iosevka 28.1.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8992 font-iosevka-aile 28.1.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8993 font-iosevka-curly 28.1.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8994 font-iosevka-curly-slab 28.1.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8995 font-iosevka-etoile 28.1.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8996 font-iosevka-slab 28.1.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8997 font-iosevka-ss01 28.1.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8999 font-iosevka-ss03 28.1.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8998 font-iosevka-ss02 28.1.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9000 font-iosevka-ss04 28.1.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9001 font-iosevka-ss05 28.1.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9003 font-iosevka-ss07 28.1.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9004 font-iosevka-ss08 28.1.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9002 font-iosevka-ss06 28.1.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9005 font-iosevka-ss09 28.1.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9006 font-iosevka-ss10 28.1.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#9014 font-iosevka-ss18 28.1.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9013 font-iosevka-ss17 28.1.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#9012 font-iosevka-ss16 28.1.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#9011 font-iosevka-ss15 28.1.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9010 font-iosevka-ss14 28.1.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9009 font-iosevka-ss13 28.1.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9008 font-iosevka-ss12 28.1.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9016 font-lxgw-neozhisong 0.910
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9017 font-smiley-sans 2.0.1
  Casks/font-smiley-sans.rb
Labels: bump-cask-pr

#9019 font-lxgw-bright 5.320
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#9021 font-lxgw-bright-tc 5.320
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#9022 font-lxgw-wenkai 1.320
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#9023 font-lxgw-wenkai-lite 1.320
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#9024 font-lxgw-wenkai-tc 1.320
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#9025 font-lxgw-bright 5.321
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#9027 font-lxgw-bright-tc 5.321
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#9028 font-lxgw-fasmartgothic 1.110
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#9029 font-lxgw-heartserif 0.910
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9030 font-victor-mono 1.5.6
  Casks/font-victor-mono.rb
Labels: bump-cask-pr

#9031 font-glow-sans-*: deprecate
  Casks/font-glow-sans-j-compressed.rb
  Casks/font-glow-sans-j-condensed.rb
  Casks/font-glow-sans-j-extended.rb
  Casks/font-glow-sans-j-normal.rb
  Casks/font-glow-sans-j-wide.rb
  Casks/font-glow-sans-sc-compressed.rb
  Casks/font-glow-sans-sc-condensed.rb
  Casks/font-glow-sans-sc-extended.rb
  Casks/font-glow-sans-sc-normal.rb
  Casks/font-glow-sans-sc-wide.rb
  Casks/font-glow-sans-tc-compressed.rb
  Casks/font-glow-sans-tc-condensed.rb
  Casks/font-glow-sans-tc-extended.rb
  Casks/font-glow-sans-tc-normal.rb
  Casks/font-glow-sans-tc-wide.rb
Labels: automerge-skip, missing description

#8984 Add variable noto fonts
  Casks/font-noto-sans-mono.rb
  Casks/font-noto-sans.rb
  Casks/font-noto-serif.rb
Labels: automerge-skip

#9036 font-plemol-jp 1.7.1
  Casks/font-plemol-jp.rb
Labels: bump-cask-pr

#9038 font-plemol-jp-hs 1.7.1
  Casks/font-plemol-jp-hs.rb
Labels: bump-cask-pr

#9037 font-plemol-jp-nf 1.7.1
  Casks/font-plemol-jp-nf.rb
Labels: bump-cask-pr

#9034 font-sudo 1.0
  Casks/font-sudo.rb
Labels: bump-cask-pr

#9035 font-undefined-medium 1.2
  Casks/font-undefined-medium.rb
Labels: bump-cask-pr

#9039 font-dashicons: deprecate
  Casks/font-dashicons.rb
Labels: missing description

#9042 font-linux-libertine: update version, livecheck
  Casks/font-linux-biolinum.rb
  Casks/font-linux-libertine.rb
Labels: automerge-skip, livecheck

#9044 Update Sourceforge livecheck blocks
  Casks/font-computer-modern.rb
  Casks/font-dejavu.rb
  Casks/font-han-nom-a.rb
  Casks/font-junicode.rb
Labels: automerge-skip, livecheck

#9048 font-gnu-unifont 15.1.05
  Casks/font-gnu-unifont.rb
Labels: bump-cask-pr

#9052 font-lxgw-neoxihei 1.120
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#9051 font-lxgw-fasmartgothic 1.120
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#9050 font-lxgw-heartserif 0.920
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9049 font-lxgw-neozhisong 0.920
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr
