Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2024-04, with the labels that each got.

#9214 font-lxgw-neoxihei 1.120.2
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#9215 font-lxgw-fasmartgothic 1.120.2
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#9216 font-fontawesome 6.5.2
  Casks/font-fontawesome.rb
Labels: bump-cask-pr

#9221 font-im-fell-types: disable
  Casks/font-im-fell-types.rb
Labels: ci-syntax-only, missing description

#9228 font-ark-pixel-16px-proportional 2024.04.05
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#9227 font-ark-pixel-12px-proportional 2024.04.05
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#9226 font-ark-pixel-10px-proportional 2024.04.05
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#9225 font-ark-pixel-16px-monospaced 2024.04.05
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#9224 font-ark-pixel-12px-monospaced 2024.04.05
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#9223 font-ark-pixel-10px-monospaced 2024.04.05
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#9229 Update Iosevka fonts to v29.1.0
  Casks/font-iosevka-aile.rb
  Casks/font-iosevka-curly-slab.rb
  Casks/font-iosevka-curly.rb
  Casks/font-iosevka-etoile.rb
  Casks/font-iosevka-slab.rb
  Casks/font-iosevka-ss01.rb
  Casks/font-iosevka-ss02.rb
  Casks/font-iosevka-ss03.rb
  Casks/font-iosevka-ss04.rb
  Casks/font-iosevka-ss05.rb
  Casks/font-iosevka-ss06.rb
  Casks/font-iosevka-ss07.rb
  Casks/font-iosevka-ss08.rb
  Casks/font-iosevka-ss09.rb
  Casks/font-iosevka-ss10.rb
  Casks/font-iosevka-ss11.rb
  Casks/font-iosevka-ss12.rb
  Casks/font-iosevka-ss13.rb
  Casks/font-iosevka-ss14.rb
  Casks/font-iosevka-ss15.rb
  Casks/font-iosevka-ss16.rb
  Casks/font-iosevka-ss17.rb
  Casks/font-iosevka-ss18.rb
  Casks/font-iosevka.rb
Labels: automerge-skip

#9233 font-lxgw-neozhisong 0.920.5
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9234 font-lxgw-heartserif 0.920.5
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9235 Cleanup iA Writer fonts
  Casks/font-ia-writer-duo.rb
  Casks/font-ia-writer-duospace.rb
  Casks/font-ia-writer-mono.rb
  Casks/font-ia-writer-quattro.rb
  cask_renames.json
Labels: automerge-skip

#9260 font-iosevka-ss18 29.2.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9259 font-iosevka-ss17 29.2.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#9258 font-iosevka-ss16 29.2.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#9257 font-iosevka-ss15 29.2.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9256 font-iosevka-ss14 29.2.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9255 font-iosevka-ss13 29.2.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9254 font-iosevka-ss12 29.2.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9253 font-iosevka-ss11 29.2.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#9252 font-iosevka-ss10 29.2.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#9251 font-iosevka-ss09 29.2.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9250 font-iosevka-ss08 29.2.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9249 font-iosevka-ss07 29.2.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9248 font-iosevka-ss06 29.2.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9247 font-iosevka-ss05 29.2.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9246 font-iosevka-ss04 29.2.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9245 font-iosevka-ss03 29.2.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#9244 font-iosevka-ss02 29.2.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9243 font-iosevka-ss01 29.2.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#9242 font-iosevka-slab 29.2.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9241 font-iosevka-etoile 29.2.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9240 font-iosevka-curly-slab 29.2.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#9239 font-iosevka-curly 29.2.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#9238 font-iosevka-aile 29.2.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9237 font-iosevka 29.2.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#9264 font-sarasa-gothic 1.0.10
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#9263 .github/workflows: add autobump
  .github/autobump.txt
  .github/workflows/autobump.yml
Labels: automerge-skip, autobump

#9268 .github/autobump.txt: fix eol
  .github/autobump.txt
Labels: automerge-skip, autobump

#9296 Add font-0xproto.rb
  Casks/font-0xproto.rb
Labels: new cask

#9301 font-lxgw-neoxihei 1.121
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#9302 font-lxgw-fasmartgothic 1.121
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#9303 font-lxgw-heartserif 0.921
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9308 font-lxgw-wenkai 1.330
  Casks/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#9309 font-lxgw-wenkai-lite 1.330
  Casks/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#9310 font-lxgw-wenkai-tc 1.330
  Casks/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#9311 Add font-overused-grotesk.rb
  Casks/font-overused-grotesk.rb
Labels: new cask

#9312 font-lxgw-bright 5.330
  Casks/font-lxgw-bright.rb
Labels: bump-cask-pr

#9313 font-lxgw-bright-gb 5.330
  Casks/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#9314 font-lxgw-bright-tc 5.330
  Casks/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#9315 font-inconsolata-lgc 1.6.0
  Casks/font-inconsolata-lgc.rb
Labels: bump-cask-pr
