Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2024-03, with the labels that each got.

#9055 font-lxgw-heartserif 0.920.1
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9056 font-lxgw-neozhisong 0.920.1
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9064 font-sudo 1.1
  Casks/font-sudo.rb
Labels: bump-cask-pr

#9067 font-lxgw-neozhisong 0.920.2
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9068 font-lxgw-heartserif 0.920.2
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9092 font-iosevka-slab 29.0.0
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9091 font-iosevka-etoile 29.0.0
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9090 font-iosevka-curly-slab 29.0.0
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#9089 font-iosevka-curly 29.0.0
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#9088 font-iosevka-aile 29.0.0
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9087 font-iosevka-ss18 29.0.0
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9086 font-iosevka-ss17 29.0.0
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#9085 font-iosevka-ss16 29.0.0
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#9084 font-iosevka-ss15 29.0.0
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9083 font-iosevka-ss14 29.0.0
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9082 font-iosevka-ss13 29.0.0
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9081 font-iosevka-ss12 29.0.0
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9080 font-iosevka-ss11 29.0.0
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#9079 font-iosevka-ss10 29.0.0
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#9078 font-iosevka-ss09 29.0.0
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9077 font-iosevka-ss08 29.0.0
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9076 font-iosevka-ss07 29.0.0
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9075 font-iosevka-ss06 29.0.0
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9074 font-iosevka-ss05 29.0.0
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9073 font-iosevka-ss04 29.0.0
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9072 font-iosevka-ss03 29.0.0
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#9071 font-iosevka-ss02 29.0.0
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9070 font-iosevka-ss01 29.0.0
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#9069 font-iosevka 29.0.0
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#9111 font-iosevka-ss12 29.0.1
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9112 font-iosevka-ss13 29.0.1
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9113 font-iosevka-ss14 29.0.1
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9114 font-iosevka-ss15 29.0.1
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9115 font-iosevka-ss16 29.0.1
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#9117 font-iosevka-ss18 29.0.1
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9095 font-iosevka-aile 29.0.1
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9096 font-iosevka-curly 29.0.1
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#9097 font-iosevka-curly-slab 29.0.1
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#9098 font-iosevka-etoile 29.0.1
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9099 font-iosevka-slab 29.0.1
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9100 font-iosevka-ss01 29.0.1
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#9101 font-iosevka-ss02 29.0.1
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9102 font-iosevka-ss03 29.0.1
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#9103 font-iosevka-ss04 29.0.1
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9104 font-iosevka-ss05 29.0.1
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9105 font-iosevka-ss06 29.0.1
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9106 font-iosevka-ss07 29.0.1
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9107 font-iosevka-ss08 29.0.1
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9108 font-iosevka-ss09 29.0.1
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9110 font-iosevka-ss11 29.0.1
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#9119 font-sarasa-gothic 1.0.6
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#9120 font-sudo 1.2
  Casks/font-sudo.rb
Labels: bump-cask-pr

#9123 font-lxgw-heartserif 0.920.3
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9124 font-lxgw-neozhisong 0.920.3
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9125 font-lxgw-neoxihei 1.120.1
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#9126 font-lxgw-fasmartgothic 1.120.1
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#9066 Fix font-oppo-sans
  Casks/font-oppo-sans.rb
Labels: missing description

#9127 font-lxgw-fasmartgothic-1.120.1: fix sha256
  Casks/font-lxgw-fasmartgothic.rb
Labels: checksum-mismatch

#9128 font-lxgw-neoxihei-1.120.1: fix sha256
  Casks/font-lxgw-neoxihei.rb
Labels: checksum-mismatch

#9131 adding new font sn-pro
  Casks/font-sn-pro.rb
Labels: new cask

#9133 Update Iosevka fonts to v29.0.2
  Casks/font-iosevka-aile.rb
  Casks/font-iosevka-curly-slab.rb
  Casks/font-iosevka-curly.rb
  Casks/font-iosevka-etoile.rb
  Casks/font-iosevka-slab.rb
  Casks/font-iosevka-ss01.rb
  Casks/font-iosevka-ss02.rb
  Casks/font-iosevka-ss03.rb
  Casks/font-iosevka-ss04.rb
  Casks/font-iosevka-ss05.rb
  Casks/font-iosevka-ss06.rb
  Casks/font-iosevka-ss07.rb
  Casks/font-iosevka-ss08.rb
  Casks/font-iosevka-ss09.rb
  Casks/font-iosevka-ss10.rb
  Casks/font-iosevka-ss11.rb
  Casks/font-iosevka-ss12.rb
  Casks/font-iosevka-ss13.rb
  Casks/font-iosevka-ss14.rb
  Casks/font-iosevka-ss15.rb
  Casks/font-iosevka-ss16.rb
  Casks/font-iosevka-ss17.rb
  Casks/font-iosevka-ss18.rb
  Casks/font-iosevka.rb
Labels: automerge-skip

#9059 Fix `font-noto-sans`
  Casks/font-noto-sans.rb
Labels: missing zap

#9135 Add font-hermit.rb
  Casks/font-hermit.rb
Labels: new cask

#9136 font-sarasa-gothic 1.0.7
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#9142 font-ark-pixel-16px-proportional 2024.03.22
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#9141 font-ark-pixel-12px-proportional 2024.03.22
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#9140 font-ark-pixel-10px-proportional 2024.03.22
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#9139 font-ark-pixel-16px-monospaced 2024.03.22
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#9138 font-ark-pixel-12px-monospaced 2024.03.22
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#9137 font-ark-pixel-10px-monospaced 2024.03.22
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#9146 font-iosevka-slab 29.0.3
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9145 font-iosevka-etoile 29.0.3
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9144 font-iosevka-aile 29.0.3
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9143 font-iosevka 29.0.3
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#9151 font-iosevka 29.0.4
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#9153 font-iosevka-ss01 29.0.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#9155 font-iosevka-ss02 29.0.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9157 font-iosevka-ss03 29.0.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#9154 font-iosevka-curly 29.0.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#9152 font-iosevka-aile 29.0.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9156 font-iosevka-curly-slab 29.0.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#9158 font-iosevka-etoile 29.0.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9159 font-iosevka-ss04 29.0.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9161 font-iosevka-ss06 29.0.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9160 font-iosevka-ss05 29.0.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9162 font-iosevka-ss07 29.0.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9164 font-iosevka-ss09 29.0.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9166 font-iosevka-ss11 29.0.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#9167 font-iosevka-ss12 29.0.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9169 font-iosevka-ss14 29.0.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9170 font-iosevka-ss15 29.0.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9163 font-iosevka-ss08 29.0.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9173 font-iosevka-ss18 29.0.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9165 font-iosevka-ss10 29.0.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#9168 font-iosevka-ss13 29.0.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9172 font-iosevka-ss17 29.0.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#9175 font-geist-mono 1.3.0
  Casks/font-geist-mono.rb
Labels: bump-cask-pr

#9174 font-iosevka-slab 29.0.4
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9177 font-spleen 2.1.0
  Casks/font-spleen.rb
Labels: bump-cask-pr

#9176 font-geist 1.3.0
  Casks/font-geist.rb
Labels: bump-cask-pr

#9178 font-sn-pro 1.1.0
  Casks/font-sn-pro.rb
Labels: bump-cask-pr

#9184 font-ark-pixel-16px-proportional 2024.03.27
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#9183 font-ark-pixel-12px-proportional 2024.03.27
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#9182 font-ark-pixel-10px-proportional 2024.03.27
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#9181 font-ark-pixel-16px-monospaced 2024.03.27
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#9180 font-ark-pixel-12px-monospaced 2024.03.27
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#9179 font-ark-pixel-10px-monospaced 2024.03.27
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#9185 font-plangothic 1.8.5760
  Casks/font-plangothic.rb
Labels: bump-cask-pr

#9204 font-iosevka-aile 29.0.5
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#9209 font-iosevka 29.0.5
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#9208 font-iosevka-slab 29.0.5
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#9207 font-iosevka-etoile 29.0.5
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#9206 font-iosevka-curly-slab 29.0.5
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#9205 font-iosevka-curly 29.0.5
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#9203 font-iosevka-ss18 29.0.5
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#9202 font-iosevka-ss17 29.0.5
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#9201 font-iosevka-ss16 29.0.5
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#9200 font-iosevka-ss15 29.0.5
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#9199 font-iosevka-ss14 29.0.5
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#9198 font-iosevka-ss13 29.0.5
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#9197 font-iosevka-ss12 29.0.5
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#9196 font-iosevka-ss11 29.0.5
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#9195 font-iosevka-ss10 29.0.5
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#9194 font-iosevka-ss09 29.0.5
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#9193 font-iosevka-ss08 29.0.5
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#9192 font-iosevka-ss07 29.0.5
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#9191 font-iosevka-ss06 29.0.5
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#9190 font-iosevka-ss05 29.0.5
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#9189 font-iosevka-ss04 29.0.5
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#9188 font-iosevka-ss03 29.0.5
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#9187 font-iosevka-ss02 29.0.5
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#9186 font-iosevka-ss01 29.0.5
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#9211 font-sarasa-gothic 1.0.9
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr
