Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2024-01, with the labels that each got.

#8866 font-iosevka-aile 28.0.4
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8867 font-iosevka-curly 28.0.4
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8868 font-iosevka-curly-slab 28.0.4
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8869 font-iosevka-etoile 28.0.4
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8870 font-iosevka-ss01 28.0.4
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8871 font-iosevka-ss02 28.0.4
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8872 font-iosevka-ss03 28.0.4
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8873 font-iosevka-ss04 28.0.4
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8874 font-iosevka-ss05 28.0.4
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8875 font-iosevka-ss06 28.0.4
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8876 font-iosevka-ss07 28.0.4
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8877 font-iosevka-ss08 28.0.4
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8878 font-iosevka-ss09 28.0.4
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8879 font-iosevka-ss10 28.0.4
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8880 font-iosevka-ss11 28.0.4
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8881 font-iosevka-ss12 28.0.4
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8882 font-iosevka-ss13 28.0.4
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8883 font-iosevka-ss14 28.0.4
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8884 font-iosevka-ss15 28.0.4
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8885 font-iosevka-ss16 28.0.4
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8886 font-iosevka-ss17 28.0.4
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8887 font-iosevka-ss18 28.0.4
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8890 font-sarasa-gothic 1.0.3
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8891 font-sudo 0.81
  Casks/font-sudo.rb
Labels: bump-cask-pr

#8892 font-cozette 1.23.2
  Casks/font-cozette.rb
Labels: bump-cask-pr

#8894 font-iosevka 28.0.5
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8895 font-iosevka-aile 28.0.5
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8896 font-iosevka-curly 28.0.5
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8898 font-iosevka-curly-slab 28.0.5
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8902 font-iosevka-ss03 28.0.5
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8904 font-iosevka-ss05 28.0.5
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8906 font-iosevka-ss07 28.0.5
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8907 font-iosevka-ss08 28.0.5
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8909 font-iosevka-ss10 28.0.5
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8911 font-iosevka-ss12 28.0.5
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8913 font-iosevka-ss14 28.0.5
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8915 font-iosevka-ss16 28.0.5
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8917 font-iosevka-ss18 28.0.5
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8897 font-iosevka-slab 28.0.5
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8901 font-iosevka-ss02 28.0.5
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8912 font-iosevka-ss13 28.0.5
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8910 font-iosevka-ss11 28.0.5
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8916 font-iosevka-ss17 28.0.5
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8899 font-iosevka-etoile 28.0.5
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8900 font-iosevka-ss01 28.0.5
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8903 font-iosevka-ss04 28.0.5
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8905 font-iosevka-ss06 28.0.5
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8908 font-iosevka-ss09 28.0.5
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8914 font-iosevka-ss15 28.0.5
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8946 font_casker: fix style
  developer/bin/font_casker
Labels: automerge-skip

#8921 font-iosevka-curly 28.0.6
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8922 font-iosevka-curly-slab 28.0.6
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8924 font-iosevka-slab 28.0.6
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8926 font-iosevka-ss02 28.0.6
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8927 font-iosevka-ss03 28.0.6
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8919 font-iosevka 28.0.6
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8925 font-iosevka-ss01 28.0.6
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8920 font-iosevka-aile 28.0.6
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8923 font-iosevka-etoile 28.0.6
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8931 font-iosevka-ss05 28.0.6
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8932 font-iosevka-ss06 28.0.6
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8934 font-iosevka-ss08 28.0.6
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8935 font-iosevka-ss09 28.0.6
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8937 font-iosevka-ss11 28.0.6
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8939 font-iosevka-ss13 28.0.6
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8941 font-iosevka-ss15 28.0.6
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8942 font-iosevka-ss16 28.0.6
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8944 font-iosevka-ss18 28.0.6
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8945 font-sarasa-gothic 1.0.4
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8938 font-iosevka-ss12 28.0.6
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8943 font-iosevka-ss17 28.0.6
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8933 font-iosevka-ss07 28.0.6
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8936 font-iosevka-ss10 28.0.6
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8940 font-iosevka-ss14 28.0.6
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8928 font-iosevka-ss04 28.0.6
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8951 font-lxgw-neozhisong 0.900
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#8950 font-lxgw-heartserif 0.900
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#8949 font-lxgw-fasmartgothic 1.109
  Casks/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#8948 font-lxgw-neoxihei 1.109
  Casks/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#8953 font-ibm-plex 6.4.0
  Casks/font-ibm-plex.rb
Labels: bump-cask-pr

#8954 font-iosevka 28.0.7
  Casks/font-iosevka.rb
Labels: bump-cask-pr

#8955 font-iosevka-aile 28.0.7
  Casks/font-iosevka-aile.rb
Labels: bump-cask-pr

#8956 font-iosevka-curly 28.0.7
  Casks/font-iosevka-curly.rb
Labels: bump-cask-pr

#8957 font-iosevka-curly-slab 28.0.7
  Casks/font-iosevka-curly-slab.rb
Labels: bump-cask-pr

#8958 font-iosevka-etoile 28.0.7
  Casks/font-iosevka-etoile.rb
Labels: bump-cask-pr

#8959 font-iosevka-slab 28.0.7
  Casks/font-iosevka-slab.rb
Labels: bump-cask-pr

#8960 font-iosevka-ss02 28.0.7
  Casks/font-iosevka-ss02.rb
Labels: bump-cask-pr

#8961 font-iosevka-ss03 28.0.7
  Casks/font-iosevka-ss03.rb
Labels: bump-cask-pr

#8962 font-iosevka-ss04 28.0.7
  Casks/font-iosevka-ss04.rb
Labels: bump-cask-pr

#8963 font-iosevka-ss05 28.0.7
  Casks/font-iosevka-ss05.rb
Labels: bump-cask-pr

#8964 font-iosevka-ss06 28.0.7
  Casks/font-iosevka-ss06.rb
Labels: bump-cask-pr

#8965 font-iosevka-ss07 28.0.7
  Casks/font-iosevka-ss07.rb
Labels: bump-cask-pr

#8967 font-iosevka-ss09 28.0.7
  Casks/font-iosevka-ss09.rb
Labels: bump-cask-pr

#8968 font-iosevka-ss10 28.0.7
  Casks/font-iosevka-ss10.rb
Labels: bump-cask-pr

#8969 font-iosevka-ss11 28.0.7
  Casks/font-iosevka-ss11.rb
Labels: bump-cask-pr

#8970 font-iosevka-ss12 28.0.7
  Casks/font-iosevka-ss12.rb
Labels: bump-cask-pr

#8972 font-iosevka-ss14 28.0.7
  Casks/font-iosevka-ss14.rb
Labels: bump-cask-pr

#8974 font-iosevka-ss16 28.0.7
  Casks/font-iosevka-ss16.rb
Labels: bump-cask-pr

#8975 font-iosevka-ss17 28.0.7
  Casks/font-iosevka-ss17.rb
Labels: bump-cask-pr

#8976 font-iosevka-ss18 28.0.7
  Casks/font-iosevka-ss18.rb
Labels: bump-cask-pr

#8966 font-iosevka-ss08 28.0.7
  Casks/font-iosevka-ss08.rb
Labels: bump-cask-pr

#8973 font-iosevka-ss15 28.0.7
  Casks/font-iosevka-ss15.rb
Labels: bump-cask-pr

#8971 font-iosevka-ss13 28.0.7
  Casks/font-iosevka-ss13.rb
Labels: bump-cask-pr

#8979 font-iosevka-ss01 28.0.7
  Casks/font-iosevka-ss01.rb
Labels: bump-cask-pr

#8983 developer/bin/font_casker: disable `Style/TopLevelMethodDefinition` rubocop
  developer/bin/font_casker
Labels: automerge-skip

#8982 font-sarasa-gothic 1.0.5
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#8981 Add new cask "font-zed-sans"
  Casks/font-zed-sans.rb
Labels: new cask

#8980 Add new cask "font-zed-mono"
  Casks/font-zed-mono.rb
Labels: new cask

#8985 font-plangothic 1.8.5757
  Casks/font-plangothic.rb
Labels: bump-cask-pr
