Repository Homebrew/homebrew-cask-fonts, pull requests merged in 2024-05, with the labels that each got.

#9316 font-cascadia-* 2404.23
  Casks/font-cascadia-code-pl.rb
  Casks/font-cascadia-code.rb
  Casks/font-cascadia-mono-pl.rb
  Casks/font-cascadia-mono.rb
Labels: automerge-skip

#9318 Add new cascadia with nerd fonts created on version v2404.23
  Casks/font-cascadia-code-nf.rb
  Casks/font-cascadia-mono-nf.rb
Labels: automerge-skip, new cask

#9357 font-delugia-mono-powerline 2404.23
  Casks/font-delugia-mono-powerline.rb
Labels: bump-cask-pr

#9355 font-delugia-mono-complete 2404.23
  Casks/font-delugia-mono-complete.rb
Labels: bump-cask-pr

#9356 font-delugia-book 2404.23
  Casks/font-delugia-book.rb
Labels: bump-cask-pr

#9354 font-delugia-powerline 2404.23
  Casks/font-delugia-powerline.rb
Labels: bump-cask-pr

#9353 font-delugia-complete 2404.23
  Casks/font-delugia-complete.rb
Labels: bump-cask-pr

#9352 font-undefined-medium 1.3
  Casks/font-undefined-medium.rb
Labels: bump-cask-pr

#9351 font-inconsolata-lgc 1.6.1
  Casks/font-inconsolata-lgc.rb
Labels: bump-cask-pr

#9358 font-cozette: use `github_latest` livecheck strategy
  Casks/font-cozette.rb
Labels: livecheck

#9360 font-cozette 1.24.0
  Casks/font-cozette.rb
Labels: bump-cask-pr

#9392 font-ark-pixel-16px-proportional 2024.05.12
  Casks/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#9391 font-ark-pixel-12px-proportional 2024.05.12
  Casks/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#9390 font-ark-pixel-10px-proportional 2024.05.12
  Casks/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#9389 font-ark-pixel-16px-monospaced 2024.05.12
  Casks/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#9388 font-ark-pixel-12px-monospaced 2024.05.12
  Casks/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#9387 font-ark-pixel-10px-monospaced 2024.05.12
  Casks/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#9393 font-0xproto: migrate to Homebrew/cask
  Casks/font-0xproto.rb
  tap_migrations.json
Labels: automerge-skip

#9394 font-sarasa-gothic 1.0.12
  Casks/font-sarasa-gothic.rb
Labels: bump-cask-pr

#9395 add font-wix-madefor-text
  Casks/font-wix-madefor-text.rb
Labels: missing description, new cask

#9396 font-cozette 1.24.1
  Casks/font-cozette.rb
Labels: bump-cask-pr

#9397 font-codicon 0.0.36
  Casks/font-codicon.rb
Labels: bump-cask-pr

#9400 font-inconsolata-lgc 1.7.2
  Casks/font-inconsolata-lgc.rb
Labels: bump-cask-pr

#9401 font-lilex 2.510
  Casks/font-lilex.rb
Labels: bump-cask-pr

#9402 font-lxgw-heartserif 0.921.1
  Casks/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#9403 font-lxgw-neozhisong 0.921.1
  Casks/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#9404 fix font-wix-madefor-text
  Casks/font-wix-madefor-text.rb
Labels: missing description

#9407 font-[0-9]: migration to homebrew-cask
  Casks/font-3270.rb
  Casks/font-437-plus.rb
  tap_migrations.json
Labels: automerge-skip

#9412 Deprecate repository
  CONTRIBUTING.md
  LICENSE
  README.md
  developer/bin/font_casker
  developer/bin/import_google_fonts
Labels: automerge-skip

#9413 Deprecate repository pt. 2
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/autobump.txt
  .github/config.yml
  .github/dependabot.yml
  .github/workflows/autobump.yml
  .github/workflows/automerge.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/dispatch-command.yml
  .github/workflows/google-fonts.yml
  .github/workflows/lock-threads.yml
  .github/workflows/rebase.yml
  .github/workflows/rerun-workflow.yml
  .github/workflows/stale-issues.yml
  .github/workflows/triage.yml
  .gitignore
Labels: automerge-skip, autobump
